<template>
	<store-front-layout>
        <div class ="container mx-auto px-0 lg:px-4 xl:px-8 px-4">
        	<div class=" py-8">
        		<div class="py-2 font-medium text-3xl text-center border-b-2 pb-0 border-pink-darken"><h1 class="text-pink-darken w-60 text-center mx-auto  border-b-2 border-pink-darken">Beginner's Guide</h1></div>
        		<div class="grid sm:grid-cols-3 grid-cols-1 bg-pink-softstrong my-4 h-248">
    				<div class="text-center relative table w-full h-full">
				      <div class="table-cell align-middle">
				      	<img  src="/images/icons/guide_icon_1.svg" class="h-4/5 mx-auto">
				      </div>
				    </div>
				    <div class="text-center relative table w-full h-full">
				      <div class="table-cell align-middle">
				      	<p class="h-auto text-5xl text-white mx-auto">新 手 攻 略</p>
				      </div>
				   </div>
    				<div class="text-center relative table w-full h-full">
				      <div class="table-cell align-middle">
				      	<img  src="/images/icons/guide_icon_2.svg" class="h-3/5 mx-auto">
				      </div>
				   </div>
				</div>
				<div class="grid sm:grid-cols-4 grid-cols-1 my-4 gap-5 h-24">
					<div class="text-center relative table bg-pink-dark h-full">
				      <div class="table-cell align-middle">
				      	<p class="h-auto text-large text-white mx-auto">達成VIP之路</p>
				      </div>
				    </div>
    				<div class="text-center relative table bg-pink-strong h-full">
				      <div class="table-cell align-middle">
				      	<p class="h-auto text-large text-white mx-auto">新手知多啲</p>
				      </div>
				    </div>
				    <div class="text-center relative table bg-pink-dark h-full">
				      <div class="table-cell align-middle">
				      	<p class="h-auto text-large text-white mx-auto">慳錢秘技</p>
				      </div>
				    </div>
    				<div class="text-center relative table bg-pink-strong h-full">
				      <div class="table-cell align-middle">
				      	<p class="h-auto text-large text-white mx-auto">新 手 攻 略</p>
				      </div>
				    </div>
				</div>
				<div class="grid grid-cols-1 my-4 gap-5 h-12">
    				<div class="text-center relative table bg-pink-stronger h-full">
				      <div class="table-cell align-middle">
				      	<p class="h-auto text-large text-link-brown mx-auto">新 手 攻 略</p>
				      </div>
				    </div>
				</div>
				<div class="bg-pink-softstrong px-12 py-8">
					<div class="grid grid-cols-14">
					   <div class="sm:col-span-4 lg:col-span-3 col-span-14 bg-pink-stronger rounded-lg  flex justify-center items-center">
					      <div class="p-5 text-center">
					         <p class="text-white font-medium sm:text-lg text-base">At least one shopping experience</p>
					         <span class="text-white font-medium sm:text-lg text-base">(In every 2 months)</span>
					      </div>
					    </div>
					    <div class="sm:col-span-1 col-span-14 m-auto">
					   		<span class="text-pink-darken sm:text-5xl text-4xl font-semibold">+</span>
					    </div>
					    <div class="sm:col-span-4 lg:col-span-3 col-span-14 bg-pink-stronger text-center rounded-lg flex justify-center items-center">
					      <p class="text-white p-5 font-medium sm:text-lg text-base">80% product reviews</p>
					    </div>
					    <div class="sm:col-span-1 col-span-14 m-auto">
					   		<span class="text-pink-darken sm:text-5xl text-4xl font-semibold">+</span>
					    </div>
					    <div class="sm:col-span-4 lg:col-span-3 col-span-14 bg-pink-stronger text-center rounded-lg flex justify-center items-center">
					      <p class="text-white p-5 font-medium sm:text-lg text-base">Spent HK$3000 in the past 12 months</p>
					    </div>
					    <div class="lg:col-span-1 col-span-14 m-auto">
					   		<span class="text-pink-darken sm:text-5xl text-4xl font-semibold">=</span>
					    </div>
					    <div class="lg:col-span-2 col-span-14 sm:px-30 lg:px-2 px-16">
					    	<img src="/images/icons/crown.svg" class="m-auto h-full">
					    </div>
					</div>
					<div  class="grid lg:grid-cols-7 sm:grid-cols-7 grid-cols-2 sm:gap-5 gap-2 p-4">
					    <div  class="p-3">
					      <img  src="/images/icons/vip_exc_1.svg" class="rounded-full"> 
					      <p  class="font-medium text-center text-purple-light text-sm sm:pt-1 pt-2">Priority Purchase Right</p>
					    </div>
					    <div  class="p-3">
					      <img  src="/images/icons/vip_exc_2.svg" class="rounded-full"> 
					      <p  class="font-medium text-center text-purple-light text-sm sm:pt-1 pt-2">Higher shopping discount</p>
					    </div>
					    <div  class="p-3">
					      <img  src="/images/icons/vip_exc_3.svg" class="rounded-full"> 
					      <p  class="font-medium text-center text-purple-light text-sm sm:pt-1 pt-2">More private money</p>
					    </div>
					    <div  class="p-3">
					      <img  src="/images/icons/vip_exc_4.svg" class="rounded-full"> 
					      <p  class="font-medium text-center text-purple-light text-sm sm:pt-1 pt-2">Upgrade shipping discounts</p>
					    </div>
					    <div  class="p-3">
					      <img  src="/images/icons/vip_exc_5.svg" class="rounded-full"> 
					      <p  class="font-medium text-center text-purple-light text-sm sm:pt-1 pt-2">Upgrade gift wrapping service</p>
					    </div>
					    <div  class="p-3">
					      <img  src="/images/icons/vip_exc_6.svg" class="rounded-full"> 
					      <p  class="font-medium text-center text-purple-light text-sm sm:pt-1 pt-2">Extra 10% discount</p>
					    </div>
					    <div  class="p-3">
					      <img  src="/images/icons/vip_exc_7.svg" class="rounded-full"> 
					      <p  class="font-medium text-center text-purple-light text-sm sm:pt-1 pt-2">Get surprise gift</p>
					   </div>
					</div>
				</div>
				<div class="grid grid-cols-1 my-4 gap-5 h-12">
    				<div class="text-center relative table bg-pink-stronger h-full">
				      <div class="table-cell align-middle">
				      	<p class="h-auto text-large text-link-brown mx-auto">新 手 攻 略</p>
				      </div>
				    </div>
				</div>
				<div class="grid sm:grid-cols-3 grid-cols-1 bg-pink-softstrong my-4 h-300">
    				<div class="relative table col-span-2 h-full">
				      <div class="table-cell align-middle sm:p-10 p-4">
				      	<h1 class="text-2xl text-pink-darken">何謂全新客戶？</h1>
				      	<p class="mt-4 text-pink-darken">『全新客戶』必須先驗證手機號碼於『帳戶資料』頁面，其帳戶不存在任何訂單紀錄或取消訂單紀錄，及其帳戶之登記電話不曾用作其他有訂單紀錄之帳戶電話或娛貨人電話。</p>
				      </div>
				    </div>

    				<div class="text-center relative table w-full h-full">
				      <div class="table-cell align-middle">
				      	<img  src="/images/icons/guide_icon_4.svg" class="h-3/5 mx-auto">
				      </div>
				   </div>
				</div>
				<div class="grid grid-cols-1 my-4 gap-5 h-12">
    				<div class="text-center relative table bg-pink-stronger h-full">
				      <div class="table-cell align-middle">
				      	<p class="h-auto text-large text-link-brown mx-auto">新 手 攻 略</p>
				      </div>
				    </div>
				</div>
				<div class="grid sm:grid-cols-2 grid-cols-1 bg-pink-softstrong my-4 h-64">
    				<div class="relative table h-full">
				      <div class="table-cell align-middle sm:p-10 p-4">
				      	<h1 class="text-2xl text-pink-darken">何謂全新客戶？</h1>
				      	<p class="mt-4 text-pink-darken">『全新客戶』必須先驗證手機號碼於『帳戶資料』頁面，其帳戶不存在任何訂單紀錄或取消訂單紀錄，及其帳戶之登記電話不曾用作其他有訂單紀錄之帳戶電話或娛貨人電話。</p>
				      </div>
				    </div>

    				<div class="text-center relative table w-full h-full p-4 sm:p-8">
				      <div class="table-cell align-middle">
				      	<div class="bg-pink-strong h-full"></div>
				      </div>
				   </div>
				</div>
				<div class="grid grid-cols-1 my-4 gap-5 h-12">
    				<div class="text-center relative table bg-pink-stronger h-full">
				      <div class="table-cell align-middle">
				      	<p class="h-auto text-large text-link-brown mx-auto">新 手 攻 略</p>
				      </div>
				    </div>
				</div>

				<div class="bg-pink-softstrong my-4 p-14">
    				<div class="grid sm:grid-cols-2 grid-cols-1 my-2 gap-16">
						<div class="bg-pink-strong h-64">
					     	
					    </div>
					    <div class="bg-pink-strong h-64">
					     
					    </div>
					</div>
					<div class="grid sm:grid-cols-2 grid-cols-1 my-2 gap-16">
						<div class="">
					     	<p class="text-2xl text-pink-darken">01</p>
					    </div>
					    <div class="">
					     	<p class="text-2xl text-pink-darken">02</p>
					    </div>
					</div>
					<div class="grid sm:grid-cols-2 grid-cols-1 my-2 gap-16">
						<div class="bg-pink-strong h-64">
					     
					    </div>
					    <div class="bg-pink-strong h-64">
					     
					    </div>
					</div>
				</div>
				

				<div class="grid grid-cols-1 my-4 gap-5 h-12">
    				<div class="text-center relative table bg-pink-stronger h-full">
				      <div class="table-cell align-middle">
				      	<p class="h-auto text-large text-link-brown mx-auto">新 手 攻 略</p>
				      </div>
				    </div>
				</div>


        	</div>
        </div>
    </store-front-layout>
</template>

<script>
	import StoreFrontLayout from '@/Layouts/StoreFrontLayout'
    import Welcome from '@/Jetstream/Welcome'
    export default {
        props: ['meta', 'errors', 'countrycodes','page'],
         watch: {
	        meta: {
	            immediate: true,
	            handler(meta) {
	                document.title=meta.title + ' - ' + this.$page.appName
	            },
	        },
	    },
        components: {
            StoreFrontLayout,
        },   
	    data(){
	        return{

	        }
	    }
    
    }

</script>

<style>
	
</style>