<template>
    <store-front-layout>
        <div class ="container mx-auto px-0 lg:px-4 xl:px-8 px-4">
            <div class="bg-pink-stronger">
                <h3 class="py-4 text-4xl font-medium text-white text-center"><span>Company Profile</span></h3>
                <div class="text-center p-10 text-white">
                    <p>A diversified shopping platform to meet the shopping needs of women of all ages. In addition to all-inclusive quality of life hundred goods, our team more you carefully search around the world and Hong Kong brands of women's series of boutique bags. Including brand-name special areas, diamond ornaments, skin care and beauty, online flower shops and so on</p>
                    <p class="mt-8">girlssecrets.com more in cooperation with fashion international brands, to provide overseas purchasing services. Let us enjoy shopping 24 hours a day, 24 hours a day, and we'll keep you adrift and become your favorite shopping platform.</p>
                </div>
            </div>
        </div>
   </store-front-layout>
</template>
<script>
    import StoreFrontLayout from '@/Layouts/StoreFrontLayout'
    import Welcome from '@/Jetstream/Welcome'
    export default {
        props: ['meta', 'errors', 'page'],
         watch: {
        meta: {
            immediate: true,
            handler(meta) {
                document.title=meta.title + ' - ' + this.$page.appName
            },
        },
    },
        components: {
            StoreFrontLayout,
            
            
        },
        
    data(){
        return{

              }
        }
    }
        

</script>
<style scoped>

</style>