<template>
	<store-front-layout>
        <div class ="container mx-auto px-0 lg:px-4 xl:px-8 px-4">
        	<div class="md:px-12 xl:px-48 px-12 lg:px-48 py-8" v-if="trans.locale == 'en'" v-html="faq_english">  
        	</div>
        	<div class="md:px-12 xl:px-48 px-12 lg:px-48 py-8" v-if="trans.locale == 'zh-CN'" v-html="faq_simplified">  
        	</div>
	        <div class="md:px-12 xl:px-48 px-12 lg:px-48 py-8" v-if="trans.locale == 'zh-HK'" v-html="faq_traditional">  
        	</div>
        </div>
    </store-front-layout>
</template>

<script>
	import StoreFrontLayout from '@/Layouts/StoreFrontLayout'
    import Welcome from '@/Jetstream/Welcome'
    export default {
        props: ['meta', 'errors', 'countrycodes','page', 'faq_english', 'faq_simplified','faq_traditional'],
         watch: {
	        meta: {
	            immediate: true,
	            handler(meta) {
	                document.title=meta.title + ' - ' + this.$page.appName
	            },
	        },
	    },
        components: {
            StoreFrontLayout,
        },   
	    data(){
	        return{

	        }
	    }
    
    }

</script>

<style>
	
</style>