<template>
<store-front-layout>
    <template #header>
        <div ref="homeSlider" class="home-slider pt-0 lg:pt-8 pb-4 lg:pb-8 mt-0">
            <gs-slider :page="'home'" :src="'slides'"></gs-slider>
        </div>
    </template>
    
    <gs-carousel :subject="'featured'" :products="products.featured"></gs-carousel>

    <gs-banner :banner="'/demo/home/banner/GS-Banner-01.jpg'" :url="'#'"></gs-banner>

    <gs-banner :banner="'/demo/home/banner/GS-Banner-02.jpg'" :url="'#'"></gs-banner>

    <gs-carousel :subject="'limited'" :products="products.limited"></gs-carousel>

    <gs-banner :banner="'/demo/home/banner/GS-Banner-03.jpg'" :url="'#'"></gs-banner>

    <gs-banner :banner="'/demo/home/banner/GS-Banner-04.jpg'" :url="'#'"></gs-banner>

    <gs-carousel :subject="'winter'" :products="products.winter"></gs-carousel>

    <gs-banner :banner="'/demo/home/banner/GS-Banner-05.jpg'" :url="'#'"></gs-banner>

    <gs-banner :banner="'/demo/home/banner/GS-Banner-06.jpg'" :url="'#'"></gs-banner>

    <gs-carousel :subject="'daily'" :products="products.daily"></gs-carousel>

    <gs-banner :banner="'/demo/home/banner/GS-Banner-07.jpg'" :url="'#'"></gs-banner>

    <gs-banner :banner="'/demo/home/banner/GS-Banner-08.jpg'" :url="'#'"></gs-banner>

    <gs-carousel :subject="'epidemic'" :products="products.epidemic"></gs-carousel>

</store-front-layout>
</template>

<script>
import StoreFrontLayout from '@/Layouts/StoreFrontLayout'
import Sliders from '@/StoreTemplates/Sliders'
import Carousel from '@/StoreTemplates/Carousel'
import AdBanner from '@/StoreTemplates/AdBanner'

export default {
    components: {
        StoreFrontLayout,
        'gs-slider': Sliders,
        'gs-carousel': Carousel,
        'gs-banner': AdBanner,
    },

    props: ['meta', 'products'],

    watch: {
        meta: {
            immediate: true,
            handler(meta) {
                document.title = meta.title + ' - ' + this.$page.appName
            },
        },
    },
}
</script>

<style module>

</style>
