<template>
    <store-front-layout>
        <div class="container mx-auto sm:px-3 px-0 lg:px-4 xl:px-8">
            <div class="p-10 bg-pink-baby">
                <div class="border-2 border-grey-dark text-center">
                    <div class="inline-block mx-auto text-center bg-pink-baby relative sm:top-20np top-0 sm:py-0 py-5">
                        <p class="sm:text-4xl text-3xl text-link-brown sm:mx-2 mx-0 font-medium">{{ trans.get('__JSON__.恭喜您交易成功') }}</p>
                    </div>
                    <p class="sm:text-2xl text-xl text-link-brown mb-5 break-words">{{ trans.get('__JSON__.訂單編號') }} : <span class="text-xl">xxxxxxxxxxx</span></p>
                    <div class="">
                        <img class="sm:px-24 px-2 sm:mb-0 mb-5 mx-auto" src="/images/icons/payment_anim.svg"/>
                    </div>
                    <div class="sm:p-10 p-2 mb-10">
                        <p class="pb-5 sm:px-28 px-0 text-link-brown sm:text-2xl text-xl break-words">{{ trans.get('__JSON__.感謝您的訂購！') }}</p>
    
                        <p class="pb-5 sm:px-28 px-0 text-link-brown sm:text-2xl text-xl break-words">{{ trans.get('__JSON__.order_info_bef_here') }} <inertia-link :href="route('storefront.order-record')"><span class="underline font-medium">{{ trans.get('__JSON__.這裡') }}</span></inertia-link> {{ trans.get('__JSON__.order_info_aft_here') }}</p>
                        
                        <p class="pb-5 sm:px-28 px-0 text-link-brown sm:text-2xl text-xl break-words">{{ trans.get('__JSON__.將送貨時間加至我的') }} <a href="https://www.google.com/calendar/render?action=TEMPLATE&text=Your+Event+Name&dates=20140127T224000Z/20140320T221500Z&details=For+details,+link+here:+http://www.example.com&location=Waldorf+Astoria,+301+Park+Ave+,+New+York,+NY+10022&sf=true&output=xml" target="_blank"><span class="underline font-medium">{{ trans.get('__JSON__.行事曆 / 加至Google日曆') }}</span></a></p>
                    </div>
                    <div class="text-center w-3/5 mx-auto py-10">
                        <inertia-link :href="route('storefront.home')">
                            <div class="bg-pink-babystrong p-3">
                                <p class="text-pink-600 sm:text-2xl text-xl break-words">{{ trans.get('__JSON__.返回主頁') }}</p>
                            </div>
                        </inertia-link>
                    </div>
                </div>
            </div>
        </div>
    </store-front-layout>
</template>


<script>
    import StoreFrontLayout from '@/Layouts/StoreFrontLayout'
    export default {
        components: {
            StoreFrontLayout
        },
        
        props: ['meta', 'page'],
        watch: {
            meta: {
                immediate: true,
                handler(meta) {
                    document.title=meta.title + ' - ' + this.$page.appName
                }
            }
        },
        data(){
            return{
               
            }
        },
        methods:{
            
        }
    }
</script>
<style scoped>
</style>