<template>
    <store-front-layout>
        <div class ="container mx-auto px-0 lg:px-4 xl:px-8 px-4 ">
            <div class="bg-pink-dark py-6 sm:px-8 px-4 text-white" v-if="trans.locale == 'en'" v-html="privacy_policy_english"></div>
            <div class="bg-pink-dark py-6 sm:px-8 px-4 text-white" v-if="trans.locale == 'zh-CN'" v-html="privacy_policy_simplified"></div>
            <div class="bg-pink-dark py-6 sm:px-8 px-4 text-white" v-if="trans.locale == 'zh-HK'" v-html="privacy_policy_traditional"></div>
        </div>
   </store-front-layout>
</template>
<script>
    import StoreFrontLayout from '@/Layouts/StoreFrontLayout'
    import Welcome from '@/Jetstream/Welcome'
    export default {
        props: ['meta', 'errors', 'countrycodes','page', 'privacy_policy_english', 'privacy_policy_simplified', 'privacy_policy_traditional'],
         watch: {
        meta: {
            immediate: true,
            handler(meta) {
                document.title=meta.title + ' - ' + this.$page.appName
            },
        },
    },
        components: {
            StoreFrontLayout,
            
            
        },
        
    data(){
        return{

              }
          }
    
    }
        

</script>
<style scoped>
</style>