<template>
	<store-front-layout>
        <div class ="container mx-auto px-0 lg:px-4 xl:px-8 px-4">
        	
        	<div class="table w-full">
			    <div class="relative table-cell w-1/2">
			      <div class="absolue top-11/20 w-full border-b-2 border-pink-stronger"></div>
			    </div>
			    <div class="table-cell px-4 3xl">
			      <h1 class="text-pink-darken text-center py-4">Shipping Policy</h1>
			    </div>
			    <div class="relative table-cell w-1/2">
			      <div class="absolue top-11/20 w-full border-b-2 border-pink-stronger"></div>
			    </div>
			</div>
        	<div class="bg-pink-softstrong my-4 h-48">
			</div>
			<div class="grid sm:grid-cols-5 grid-cols-1 my-4 gap-5 h-24">
				<div class="text-center relative table bg-pink-dark h-full">
			      <div class="table-cell align-middle">
			      	<p class="h-auto text-large text-white mx-auto">新 手 攻 略</p>
			      </div>
			    </div>
				<div class="text-center relative table bg-pink-dark h-full">
			      <div class="table-cell align-middle">
			      	<p class="h-auto text-large text-white mx-auto">新 手 攻 略</p>
			      </div>
			    </div>
			    <div class="text-center relative table bg-pink-dark h-full">
			      <div class="table-cell align-middle">
			      	<p class="h-auto text-large text-white mx-auto">新 手 攻 略</p>
			      </div>
			    </div>
				<div class="text-center relative table bg-pink-dark h-full">
			      <div class="table-cell align-middle">
			      	<p class="h-auto text-large text-white mx-auto">新 手 攻 略</p>
			      </div>
			    </div>
			    <div class="text-center relative table bg-pink-dark h-full">
			      <div class="table-cell align-middle">
			      	<p class="h-auto text-large text-white mx-auto">新 手 攻 略</p>
			      </div>
			    </div>
			</div>
			<div class="bg-pink-softstrong my-4 h-96">
			</div>
			<div class="grid grid-cols-1 my-4 gap-5 h-12">
				<div class="text-center table bg-pink-dark h-full">
			      <div class="table-cell align-middle">
			      	<p class="h-auto text-large text-white mx-auto">新 手 攻 略</p>
			      </div>
			    </div>
			</div>
			<div class="bg-pink-softstrong my-4 h-96">
				<div class="table h-full">
			      <div class="table-cell align-middle p-14">
			      	<p class="h-auto text-large text-link-brown mx-auto">2020年度廣告計劃</p>
					<p class="h-auto text-large text-link-brown mx-auto">2021年度廣告最新安排</p>
					<p class="h-auto text-large text-link-brown mx-auto">2021年度優先廣告預付及預訂優惠計劃</p>
			      </div>
			    </div>
			</div>
			<div class="grid grid-cols-1 my-4 gap-5 h-12">
				<div class="text-center table bg-pink-dark h-full">
			      <div class="table-cell align-middle">
			      	<p class="h-auto text-large text-white mx-auto">新 手 攻 略</p>
			      </div>
			    </div>
			</div>
			<div class="bg-pink-softstrong my-4 h-96">
				<div class="table h-full">
			      <div class="table-cell align-middle p-14">
			      	<p class="h-auto text-large text-link-brown mx-auto">2020年度廣告計劃</p>
					<p class="h-auto text-large text-link-brown mx-auto">2021年度廣告最新安排</p>
					<p class="h-auto text-large text-link-brown mx-auto">2021年度優先廣告預付及預訂優惠計劃</p>
			      </div>
			    </div>
			</div>

			<div class="bg-pink-softstrong my-4 p-14">
				<p class="my-4 text-link-brown">關於訂單</p>

				<p class="my-4 text-link-brown">1. 需要甚麼資格才可於GS投放廣告？</p>

				<p class="my-4 text-link-brown">您需要成為GS商戶，詳請可瀏覽_______。</p>

				 
				<p class="my-4 text-link-brown">2. 代幣金額不足，如何增加數量？</p>

				<p class="my-4 text-link-brown">您可向您的營業人員或電郵至_______安排。</p>

				 
				<p class="my-4 text-link-brown">3. 確認訂單後，可否更改推出日期？</p>

				<p class="my-4 text-link-brown">不可以，代幣已被扣除。</p>

				 
				<p class="my-4 text-link-brown">4. 廣告預約位置開放時間？</p>

				<p class="my-4 text-link-brown">由今日起計算，您可以預約90日內推出的廣告。廣告位置為先到先得。</p>

				<p class="my-4 text-link-brown">例如：預約橫幅廣告A（7天超級市場，9月14 - 21日），最早預約日期為9月21日前的90日。</p>

				 
				<p class="my-4 text-link-brown">5. 最遲確認廣告訂單？</p>

				<p class="my-4 text-link-brown">須於廣告推出日前十五個工作天確認訂單。</p>

				 
				<p class="my-4 text-link-brown">關於廣告製作</p>

				<p class="my-4 text-link-brown">1. 需要提交甚麼資料用作廣告製作？最遲提交資料日期？</p>

				<p class="my-4 text-link-brown">詳請可參考以下表格：</p>
				<div class="grid sm:grid-cols-12 my-2 gap-2 h-24">
					<div class="text-center col-span-2 table bg-pink-darken h-full">
				      <div class="table-cell align-middle">
				      	<p class="h-auto text-large text-white mx-auto">新 手 攻 略</p>
				      </div>
				    </div>
					<div class="text-center col-span-6 table bg-pink-darken h-full">
				      <div class="table-cell align-middle">
				      	<p class="h-auto text-large text-white mx-auto">新 手 攻 略</p>
				      </div>
				    </div>
				    <div class="text-center col-span-4 table bg-pink-darken h-full">
				      <div class="table-cell align-middle">
				      	<p class="h-auto text-large text-white mx-auto">新 手 攻 略</p>
				      </div>
				    </div>
				</div>
				<div class="grid sm:grid-cols-12 my-2 gap-2 h-12">
					<div class="text-center col-span-2 table bg-pink-strong h-full">
				      <div class="table-cell align-middle">
				      	<p class="h-auto text-large text-white mx-auto">新 手 攻 略</p>
				      </div>
				    </div>
					<div class="text-center col-span-3 table bg-pink-strong h-full">
				      <div class="table-cell align-middle">
				      	<p class="h-auto text-large text-white mx-auto">新 手 攻 略</p>
				      </div>
				    </div>
				    <div class="text-center col-span-3 table bg-pink-strong h-full">
				      <div class="table-cell align-middle">
				      	<p class="h-auto text-large text-white mx-auto">新 手 攻 略</p>
				      </div>
				    </div>
				    <div class="text-center col-span-4 table bg-pink-strong h-full">
				      <div class="table-cell align-middle">
				      	<p class="h-auto text-large text-white mx-auto">新 手 攻 略</p>
				      </div>
				    </div>
				</div>
				<div class="grid sm:grid-cols-12 my-2 gap-2 h-12">
					<div class="text-center col-span-2 table bg-pink-strong bg-opacity-50 h-full">
				      <div class="table-cell align-middle">
				      	<p class="h-auto text-large text-white mx-auto">新 手 攻 略</p>
				      </div>
				    </div>
				    <div class="text-center col-span-6 table bg-pink-strong bg-opacity-50 h-full">
				      <div class="table-cell align-middle">
				      	<p class="h-auto text-large text-white mx-auto">新 手 攻 略</p>
				      </div>
				    </div>
				    <div class="text-center col-span-4 table bg-pink-strong bg-opacity-50 h-full">
				      <div class="table-cell align-middle">
				      	<p class="h-auto text-large text-white mx-auto">新 手 攻 略</p>
				      </div>
				    </div>
				</div>
				<div class="grid sm:grid-cols-12 my-2 gap-2 h-12">
					<div class="text-center col-span-2 table bg-pink-strong h-full">
				      <div class="table-cell align-middle">
				      	<p class="h-auto text-large text-white mx-auto">新 手 攻 略</p>
				      </div>
				    </div>
					<div class="text-center col-span-3 table bg-pink-strong h-full">
				      <div class="table-cell align-middle">
				      	<p class="h-auto text-large text-white mx-auto">新 手 攻 略</p>
				      </div>
				    </div>
				    <div class="text-center col-span-3 table bg-pink-strong h-full">
				      <div class="table-cell align-middle">
				      	<p class="h-auto text-large text-white mx-auto">新 手 攻 略</p>
				      </div>
				    </div>
				    <div class="text-center col-span-4 table bg-pink-strong h-full">
				      <div class="table-cell align-middle">
				      	<p class="h-auto text-large text-white mx-auto">新 手 攻 略</p>
				      </div>
				    </div>
				</div>
				<div class="grid sm:grid-cols-12 my-2 gap-2 h-12">
					<div class="text-center col-span-2 table bg-pink-strong bg-opacity-50 h-full">
				      <div class="table-cell align-middle">
				      	<p class="h-auto text-large text-white mx-auto">新 手 攻 略</p>
				      </div>
				    </div>
					<div class="text-center col-span-3 table bg-pink-strong bg-opacity-50 h-full">
				      <div class="table-cell align-middle">
				      	<p class="h-auto text-large text-white mx-auto">新 手 攻 略</p>
				      </div>
				    </div>
				    <div class="text-center col-span-3 table bg-pink-strong bg-opacity-50 h-full">
				      <div class="table-cell align-middle">
				      	<p class="h-auto text-large text-white mx-auto">新 手 攻 略</p>
				      </div>
				    </div>
				    <div class="text-center col-span-4 table bg-pink-strong bg-opacity-50 h-full">
				      <div class="table-cell align-middle">
				      	<p class="h-auto text-large text-white mx-auto">新 手 攻 略</p>
				      </div>
				    </div>
				</div>
				<div class="grid sm:grid-cols-12 my-2 gap-2 h-12">
					<div class="text-center col-span-2 table bg-pink-strong h-full">
				      <div class="table-cell align-middle">
				      	<p class="h-auto text-large text-white mx-auto">新 手 攻 略</p>
				      </div>
				    </div>
					<div class="text-center col-span-3 table bg-pink-strong h-full">
				      <div class="table-cell align-middle">
				      	<p class="h-auto text-large text-white mx-auto">新 手 攻 略</p>
				      </div>
				    </div>
				    <div class="text-center col-span-3 table bg-pink-strong h-full">
				      <div class="table-cell align-middle">
				      	<p class="h-auto text-large text-white mx-auto">新 手 攻 略</p>
				      </div>
				    </div>
				    <div class="text-center col-span-4 table bg-pink-strong h-full">
				      <div class="table-cell align-middle">
				      	<p class="h-auto text-large text-white mx-auto">新 手 攻 略</p>
				      </div>
				    </div>
				</div>
				<div class="grid sm:grid-cols-12 my-2 gap-2 h-12">
					<div class="text-center col-span-2 table bg-pink-strong bg-opacity-50 h-full">
				      <div class="table-cell align-middle">
				      	<p class="h-auto text-large text-white mx-auto">新 手 攻 略</p>
				      </div>
				    </div>
					<div class="text-center col-span-3 table bg-pink-strong bg-opacity-50 h-full">
				      <div class="table-cell align-middle">
				      	<p class="h-auto text-large text-white mx-auto">新 手 攻 略</p>
				      </div>
				    </div>
				    <div class="text-center col-span-3 table bg-pink-strong bg-opacity-50 h-full">
				      <div class="table-cell align-middle">
				      	<p class="h-auto text-large text-white mx-auto">新 手 攻 略</p>
				      </div>
				    </div>
				    <div class="text-center col-span-4 table bg-pink-strong bg-opacity-50 h-full">
				      <div class="table-cell align-middle">
				      	<p class="h-auto text-large text-white mx-auto">新 手 攻 略</p>
				      </div>
				    </div>
				</div>

				<div class="py-4">
					<p class="my-4 text-link-brown">電郵廣告及加單廣告貨品 - 請電郵至_______預約及提交資料</p>

 
					<p class="my-4 text-link-brown">廣告內容必須遵守GS的廣告投放內容須知：</p>
					<p class="my-4 text-link-brown">https://</p>

					<p class="my-4 text-link-brown">及GS的廣告規格：</p>

					<p class="my-4 text-link-brown">https://</p>

					 
					<p class="my-4 text-link-brown">關於審批</p>

					<p class="my-4 text-link-brown">1. 如果我提交的資料被拒絕，可以再提交檔案嗎？</p>

					<p class="my-4 text-link-brown">由GS設計圖像廣告：您可於推出日前12-10個工作天內再次提交檔案，不限次數。資料必須於推出日前10個工作天獲得審批。</p>

					 
					<p class="my-4 text-link-brown">由客戶提供自行設計的廣告或廣告資料：您可於推出日前7-2個工作天內再次提交檔案，不限次數。資料必須於推出日前2個工作天獲得審批。</p>
					<p class="my-4 text-link-brown">否則廣告會因為安排時間不足已被拒絕推出。</p>

					 
					<p class="my-4 text-link-brown">2. 我可以按已製作好的廣告草稿提交意見嗎？</p>

					<p class="my-4 text-link-brown">當資料確認後，設計團隊須於4個工作天內提交廣告初稿給商戶提交意見，而設計團隊會按著意見修改廣告，但意見接納與否將由設計團隊作最終決定。整個審批過程將有最多2輪提供意見的機會，並須於廣告推出日前2個工作天完成提交意見。<p>

					 
					<p class="my-4 text-link-brown">3. GS會以甚麼原因或準則拒絕發佈廣告？</p>

					<p class="my-4 text-link-brown">i) 當廣告資料不符合GS的廣告投放內容須知內的準則，並於提交資料期限前未能提供已獲審批的內容。</p>

					<p class="my-4 text-link-brown">ii) 於廣告推出日，廣告與商品價格不相符</p>

					<p class="my-4 text-link-brown">iii) 於廣告推出日，廣告與商品內容不相符</p>
				</div>
			</div>

        </div>
    </store-front-layout>
</template>

<script>
	import StoreFrontLayout from '@/Layouts/StoreFrontLayout'
    import Welcome from '@/Jetstream/Welcome'
    export default {
        props: ['meta', 'errors', 'countrycodes','page', 'shipping_policy_english', 'shipping_policy_simplified', 'shipping_policy_traditional'],
         watch: {
	        meta: {
	            immediate: true,
	            handler(meta) {
	                document.title=meta.title + ' - ' + this.$page.appName
	            },
	        },
	    },
        components: {
            StoreFrontLayout,
        },   
	    data(){
	        return{

	        }
	    }
    
    }

</script>

<style>
	
</style>