<template>
    <store-front-layout>
        <div class="break-words">
            <div class="container mx-auto px-3 lg:px-4 xl:px-8">
                <div class="container w-full py-4 bg-white">
                    <div class="grid md:grid-cols-4 grid-cols-1 gap-6">
                        <div class="md:col-span-3 bg-pink-itemstrong col-span-1">
                            <div class="container">
                                <div class="py-3 px-5 bg-pink-dark">
                                    <p class="text-white text-2xl">{{ trans.get('__JSON__.訂單確認') }}</p>
                                </div>
                                <div class="py-3 px-5 bg-pink-itemstrong border-b-2">
                                    <p class="text-pink-darken text-2xl">{{ trans.get('__JSON__.送貨選項') }}</p>
                                </div>
                                <div class="container w-full py-4">
                                    <div class="flex w-full flex-wrap mx-auto items-center">
                                        <div class="min-w-1/10 max-w-1/10 flex justify-center">
                                            <input type="radio" name="pickup-option" value="ship to specified address" class="checked:bg-pink-darken checked:border-pink-darken  border-2 border-grey bg-grey focus:bg-pink-darken focus:ring-2 focus:ring-pink-darken focus:border-pink-darken">
                                        </div>
                                        <div class="md:min-w-4/5 md:max-w-4/5 w-89">
                                            <div class="grid md:w-4/5 w-full grid-cols-5">
                                                <div class="col-span-3 flex items-center bg-white">
                                                    <p class="text-base md:p-5 md:text-xl pt-5 pb-5 pl-2 text-pink-darken">{{ trans.get('__JSON__.送貨到指定地址') }} </p>
                                                </div>
                                                <div class="col-span-2 bg-truck">
                                                    <img class="sm:w-full h-full w-70" src="/images/icons/truck.svg">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="container w-full py-4">
                                    <div class="flex w-full flex-wrap mx-auto items-center">
                                        <div class="min-w-1/10 max-w-1/10 flex justify-center">
                                            <input type="radio" name="pickup-option" value="self pickup" class="checked:bg-pink-darken checked:border-pink-darken  border-2 border-grey bg-grey focus:bg-pink-darken focus:ring-2 focus:ring-pink-darken focus:border-pink-darken">
                                        </div>
                                        <div class="md:min-w-4/5 md:max-w-4/5 w-89">
                                            <div class="grid md:w-4/5 w-full grid-cols-5">
                                                <div class="col-span-3 flex items-center bg-white">
                                                    <p class="md:text-xl text-base md:p-5 pt-5 pb-5 pl-2 text-pink-darken">{{ trans.get('__JSON__.順便智能櫃取貨') }} </p>
                                                </div>
                                                <div class="col-span-2 bg-truck">
                                                    <img class="sm:w-full h-full w-70" src="/images/icons/truck.svg">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w-full container">
                                <div class="py-2 bg-pink-softstrong"></div>
                                <div class="py-3 px-5 bg-pink-itemstrong border-b-2">
                                    <p class="text-pink-darken text-2xl">{{ trans.get('__JSON__.送貨地址') }}</p>
                                </div>
                                <div class="container w-full py-4">
                                    <div class="flex w-full flex-wrap mx-auto items-center">
                                        <div class="min-w-1/10 max-w-1/10 flex justify-center">
                                            <input type="radio" name="shipping-address" value="shipping-address-1" class="checked:bg-pink-darken checked:border-pink-darken  border-2 border-grey bg-grey focus:bg-pink-darken focus:ring-2 focus:ring-pink-darken focus:border-pink-darken">
                                        </div>
                                        <div class="min-w-4/5 max-w-4/5">
                                            <div class="rounded-tr-8xl border-4 border-pink-darken p-5 w-full">
                                                <p class="text-lg text-pink-darken pb-5">{{ trans.get('__JSON__.送貨地址') }} 1: </p>
                                                <p class="text-lg text-pink-darken">{{ trans.get('__JSON__.收件人') }}: xxxxxxxxx</p>
                                                <p class="text-lg text-pink-darken">{{ trans.get('__JSON__.聯絡電話') }}:xxxxxxx</p>
                                                <p class="text-lg text-pink-darken">{{ trans.get('__JSON__.地址') }}: xxxxxx</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="container w-full py-4">
                                    <div class="flex w-full flex-wrap mx-auto items-center">
                                        <div class="min-w-1/10 max-w-1/10 flex justify-center">
                                            <input type="radio" name="shipping-address" value="shipping-address-2" class="checked:bg-pink-darken checked:border-pink-darken  border-2 border-grey bg-grey focus:bg-pink-darken focus:ring-2 focus:ring-pink-darken focus:border-pink-darken">
                                        </div>
                                        <div class="min-w-4/5 max-w-4/5">
                                            <div class="rounded-tr-8xl border-4 border-pink-darken p-5 w-full">
                                                <p class="text-lg text-pink-darken pb-5">{{ trans.get('__JSON__.送貨地址') }} 2: </p>
                                                <p class="text-lg text-pink-darken">{{ trans.get('__JSON__.收件人') }}: xxxxxxxxx</p>
                                                <p class="text-lg text-pink-darken">{{ trans.get('__JSON__.聯絡電話') }}:xxxxxxx</p>
                                                <p class="text-lg text-pink-darken">{{ trans.get('__JSON__.地址') }}: xxxxxx</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="container w-full py-4">
                                    <div class="flex w-full flex-wrap mx-auto items-center">
                                        <div class="min-w-1/10 max-w-1/10 flex justify-center">
                                            <input type="radio" name="shipping-address" value="shipping-address-3" class="checked:bg-pink-darken checked:border-pink-darken  border-2 border-grey bg-grey focus:bg-pink-darken focus:ring-2 focus:ring-pink-darken focus:border-pink-darken">
                                        </div>
                                        <div class="min-w-4/5 max-w-4/5">
                                            <div class="rounded-tr-8xl border-4 border-pink-darken p-5 w-full">
                                                <p class="text-lg text-pink-darken pb-5">{{ trans.get('__JSON__.送貨地址') }} 3: </p>
                                                <p class="text-lg text-pink-darken">{{ trans.get('__JSON__.收件人') }}: xxxxxxxxx</p>
                                                <p class="text-lg text-pink-darken">{{ trans.get('__JSON__.聯絡電話') }}:xxxxxxx</p>
                                                <p class="text-lg text-pink-darken">{{ trans.get('__JSON__.地址') }}: xxxxxx</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="container w-full py-4">
                                    <div class="flex w-full flex-wrap mx-auto items-center">
                                        <div class="min-w-1/10 max-w-1/10 flex justify-center">
                                            <input type="radio" name="shipping-address" value="shipping-address-4" class=" border-2 border-grey bg-grey focus:bg-pink-darken">
                                        </div>
                                        <div class="min-w-4/5 max-w-4/5">
                                            <div class="rounded-tr-8xl border-4 border-pink-darken p-5 w-full">
                                                <p class="text-lg text-pink-darken pb-5">{{ trans.get('__JSON__.送貨地址') }} 4: </p>
                                                <p class="text-lg text-pink-darken">{{ trans.get('__JSON__.收件人') }}: xxxxxxxxx</p>
                                                <p class="text-lg text-pink-darken">{{ trans.get('__JSON__.聯絡電話') }}:xxxxxxx</p>
                                                <p class="text-lg text-pink-darken">{{ trans.get('__JSON__.地址') }}: xxxxxx</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-right py-5">
                                    <button class="bg-pink-stronger focus:outline-none text-white text-base py-2 px-5 rounded-full inline-flex items-center" @click="terms_conditioopen"><img class="" src="/images/icons/lessthan.svg"/><p class="mx-1">{{ trans.get('__JSON__.新填送貨地址') }}</p><img class="" src="/images/icons/greaterthan.svg"/></button>
                                </div>
                            </div>
                            <div class="w-full container">
                                <div class="py-2 bg-pink-softstrong"></div>
                                <div class="py-3 px-5 bg-pink-itemstrong border-b-2">
                                    <p class="text-pink-darken text-2xl">{{ trans.get('__JSON__.順便智能櫃地址') }}</p>
                                </div>
                                <div class="py-3 px-5 my-4">
                                   <p class="text-pink-darken text-lg py-2">
                                       {{ trans.get('__JSON__.可自選順便智能櫃地址') }}
                                   </p>
                                   <p class="text-pink-darken text-lg py-2">
                                       {{ trans.get('__JSON__.請選擇網點代碼') }}
                                   </p>
                                   <div class="w-6/12 bg-white shopping-summary">
                                        <v-select :options="items" placeholder="xxxxxxxxxxxxxxxxxx" :components="{OpenIndicator}" class="py-3 px-3">
                                        </v-select>
                                    </div>
                                </div>
                            </div>
                            <div class="w-full container">
                                <div class="py-2 bg-pink-softstrong"></div>
                                <div class="py-3 px-5 bg-pink-itemstrong border-b-2">
                                    <p class="text-pink-darken text-2xl">{{ trans.get('__JSON__.送貨措施') }}</p>
                                </div>
                                <div class="py-3 px-5 my-4">
                                   <p class="text-pink-darken text-lg py-2">
                                       {{ trans.get('__JSON__.shipping_measures_des1') }}
                                   </p>
                                   <p class="text-pink-darken text-lg py-2">
                                       {{ trans.get('__JSON__.shipping_measures_des2') }}
                                   </p>
                                </div>
                                <div class="container w-full pb-4 md:block hidden">
                                    <div class="flex py-3 my-4 w-full flex-wrap mx-auto items-center">
                                        <div class="min-w-1/10 max-w-1/10 flex justify-center">
                                            <input type="radio" name="home-quarantine" value="No home quarantine" class="checked:bg-pink-darken checked:border-pink-darken  border-2 border-grey bg-grey focus:bg-pink-darken focus:ring-2 focus:ring-pink-darken focus:border-pink-darken">
                                        </div>
                                        <div class="min-w-4/5 max-w-4/5">
                                            <div class="flex items-center">
                                                <img class="md:w-14 w-10" src="/images/icons/corss-circle.svg">
                                                <p class="ml-3 text-pink-darken text-lg"> {{ trans.get('__JSON__.沒有接受家居檢疫人士') }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex py-3 my-4 w-full flex-wrap mx-auto items-center">
                                        <div class="min-w-1/10 max-w-1/10 flex justify-center">
                                            <input type="radio" name="home-quarantine" value="Yes home quarantine" class="checked:bg-pink-darken checked:border-pink-darken  border-2 border-grey bg-grey focus:bg-pink-darken focus:ring-2 focus:ring-pink-darken focus:border-pink-darken">
                                        </div>
                                        <div class="min-w-4/5 max-w-4/5">
                                            <div class="flex items-center">
                                                <img class="md:w-14 w-10" src="/images/icons/tick-circle.svg">
                                                <p class="ml-3 text-pink-darken text-lg"> {{ trans.get('__JSON__.有正接受家居檢疫人士') }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container w-full pb-12 md:hidden block">
                              <div class=" pb-4 grid grid-cols-2 gap-4">
                                <div>
                                   <img class="pb-6 w-20 block m-auto" src="/images/icons/corss-circle.svg">
                                   <p class="pb-6 text-center text-pink-darken text-lg sm:h-auto h-60"> {{ trans.get('__JSON__.沒有接受家居檢疫人士') }} </p>
                                   <input type="radio" name="home-quarantine" value="Yes home quarantine" class="block m-auto checked:bg-pink-darken checked:border-pink-darken  border-2 border-grey bg-grey focus:bg-pink-darken focus:ring-2 focus:ring-pink-darken focus:border-pink-darken">
                                </div>

                                <div>
                                   <img class="pb-6 w-20 block m-auto" src="/images/icons/tick-circle.svg">
                                   <p class="pb-6 text-center text-pink-darken text-lg sm:h-auto h-60"> {{ trans.get('__JSON__.有正接受家居檢疫人士') }} </p>
                                   <input type="radio" name="home-quarantine" value="Yes home quarantine" class="block m-auto checked:bg-pink-darken checked:border-pink-darken  border-2 border-grey bg-grey focus:bg-pink-darken focus:ring-2 focus:ring-pink-darken focus:border-pink-darken">
                                </div>
                              </div>
                            </div>

                            <div class="w-full container">
                                <div class="py-2 bg-pink-softstrong"></div>
                                <div class="py-3 px-5 bg-pink-itemstrong border-b-2">
                                    <p class="text-pink-darken text-2xl">{{ trans.get('__JSON__.付款方式') }}</p>
                                </div>
                                <div class="py-3 my-4">
                                    <div class="flex py-3 flex-wrap mx-auto items-center">
                                        <div class="min-w-1/10 max-w-1/10 flex justify-center">
                                            <input type="radio" name="payment-option" value="Alipay HK" class="checked:bg-pink-darken checked:border-pink-darken  border-2 border-grey bg-grey focus:bg-pink-darken focus:ring-2 focus:ring-pink-darken focus:border-pink-darken">
                                        </div>
                                        <div class="min-w-4/5 max-w-4/5">
                                            <div class="rounded-tr-8xl border-4 border-pink-darken p-5 w-full">
                                                <p class="text-xl text-pink-darken">支付寶 / Alipay HK </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex py-3 flex-wrap mx-auto items-center">
                                        <div class="min-w-1/10 max-w-1/10 flex justify-center">
                                            <input type="radio" name="payment-option" value="WeChat Pay" class="checked:bg-pink-darken checked:border-pink-darken  border-2 border-grey bg-grey focus:bg-pink-darken focus:ring-2 focus:ring-pink-darken focus:border-pink-darken">
                                        </div>
                                        <div class="min-w-4/5 max-w-4/5">
                                            <div class="rounded-tr-8xl border-4 border-pink-darken p-5 w-full">
                                                <p class="text-xl text-pink-darken">微訊支付 / WeChat Pay</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex py-3 flex-wrap mx-auto items-center">
                                        <div class="min-w-1/10 max-w-1/10 flex justify-center">
                                            <input type="radio" name="payment-option" value="Union Pay" class="checked:bg-pink-darken checked:border-pink-darken  border-2 border-grey bg-grey focus:bg-pink-darken focus:ring-2 focus:ring-pink-darken focus:border-pink-darken">
                                        </div>
                                        <div class="min-w-4/5 max-w-4/5">
                                            <div class="rounded-tr-8xl border-4 border-pink-darken p-5 w-full">
                                                <p class="text-xl text-pink-darken">銀聯信用卡 / Union Pay</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex py-3 flex-wrap mx-auto items-center">
                                        <div class="min-w-1/10 max-w-1/10 flex justify-center">
                                            <input type="radio" name="payment-option" value="PayPal" class="checked:bg-pink-darken checked:border-pink-darken  border-2 border-grey bg-grey focus:bg-pink-darken focus:ring-2 focus:ring-pink-darken focus:border-pink-darken">
                                        </div>
                                        <div class="min-w-4/5 max-w-4/5">
                                            <div class="rounded-tr-8xl border-4 border-pink-darken p-5 w-full">
                                                <p class="text-xl text-pink-darken">信用卡付款 / PayPal</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w-full container">
                                <div class="py-2 bg-pink-softstrong"></div>
                                <div class="py-3 px-5 bg-pink-itemstrong border-b-2">
                                    <p class="text-pink-darken text-2xl">{{ trans.get('__JSON__.前往付款') }}</p>
                                </div>
                                <div class="text-center py-3 my-4">
                                    <p class="text-pink-darken my-2 text-xl">***{{ trans.get('__JSON__.謹此聲明本人已年滿18歲') }}</p>
                                     <p class="text-pink-darken my-2 text-xl">***{{ trans.get('__JSON__.請注意，按「確認付款」後，你的交易便不能取消') }}</p>
                                </div>
                                 <div class="text-center py-3 my-4">
                                    <p class="font-bold text-lg text-pink-darken w-4/6 mx-auto bg-white p-4 text-2xl">
                                        {{ trans.get('__JSON__.商品總額') }} HK$600,00</span>
                                    </p>
                                 </div>
                                <div class="text-center py-3 my-4">
                                    <p class="w-4/6 mx-auto bg-pink-dark text-pink-700 p-4 text-xl font-bold">
                                        {{ trans.get('__JSON__.確認付款') }}
                                    </p>
                                 </div>
                            </div>
                        </div>
                        <div class="col-span-1 md:flex hidden flex-col">
                            <div class="justify-between flex flex-col flex-grow bg-pink-itemstrong h-2/12">
                                <div class="">
                                    <p class="py-3 px-5 bg-pink-dark text-white text-lg">{{ trans.get('__JSON__.總結') }}</p>
                                    <p class="flex justify-between flex-wrap py-2 px-3 border-b-1 text-pink-darken text-lg text-right">{{ trans.get('__JSON__.送貨選項') }}<span> HK$625,00</span></p>
                                    <p class="flex justify-between flex-wrap py-2 px-3 border-b-1 text-pink-darken text-lg text-right ">{{ trans.get('__JSON__.折扣優惠') }}<span> -HK$25,00</span></p>
                                    <p class="flex justify-between flex-wrap py-2 px-3 border-b-1 text-pink-darken text-lg text-right ">{{ trans.get('__JSON__.運費') }}<span> HK$0,00</span></p>
                                </div>
                                <div class="flex justify-between flex-wrap font-bold text-lg p-3 bg-pink-babystrong text-pink-700 w-full justify-last">
                                    {{ trans.get('__JSON__.付款總額') }}<span> HK$600,00</span>
                                </div>
                            </div>
                            <div class="justify-between flex flex-col flex-grow bg-pink-itemstrong h-2/12">
                                <div class="">
                                    <p class="py-3 px-5 bg-pink-dark text-white text-lg">{{ trans.get('__JSON__.總結') }}</p>
                                    <p class="flex justify-between flex-wrap py-2 px-3 border-b-1 text-pink-darken text-lg text-right">{{ trans.get('__JSON__.送貨選項') }} <span>HK$625,00</span></p>
                                    <p class="flex justify-between flex-wrap py-2 px-3 border-b-1 text-pink-darken text-lg text-right">{{ trans.get('__JSON__.折扣優惠') }} <span>-HK$25,00</span></p>
                                    <p class="flex justify-between flex-wrap py-2 px-3 border-b-1 text-pink-darken text-lg text-right">{{ trans.get('__JSON__.運費') }} <span>HK$0,00</span></p>
                                </div>
                                <div class="flex justify-between flex-wrap font-bold text-lg p-3 bg-pink-babystrong text-pink-700 w-full justify-last">
                                    {{ trans.get('__JSON__.付款總額') }} <span>HK$600,00</span>
                                </div>
                            </div>
                            <div class="justify-between flex flex-col flex-grow bg-pink-itemstrong h-2/12">
                                <div class="">
                                    <p class="flex justify-between flex-wrap py-3 px-5 bg-pink-dark text-white text-lg">{{ trans.get('__JSON__.總結') }}</p>
                                    <p class="flex justify-between flex-wrap py-2 px-3 border-b-1 text-pink-darken text-lg text-right">{{ trans.get('__JSON__.送貨選項') }}<span> HK$625,00</span></p>
                                    <p class="flex justify-between flex-wrap py-2 px-3 border-b-1 text-pink-darken text-lg text-right">{{ trans.get('__JSON__.折扣優惠') }} <span>-HK$25,00</span></p>
                                    <p class="flex justify-between flex-wrap py-2 px-3 border-b-1 text-pink-darken text-lg text-right">{{ trans.get('__JSON__.運費') }} <span>HK$0,00</span></p>
                                </div>
                                <div class="flex justify-between flex-wrap p-3 bg-pink-babystrong text-pink-700 w-full justify-last font-bold text-lg">
                                    {{ trans.get('__JSON__.付款總額') }} <span>HK$600,00</span>
                                </div> 
                            </div>
                            <div class="justify-between flex flex-col flex-grow bg-pink-itemstrong h-2/12">
                                <div class="">
                                    <p class="py-3 px-5 bg-pink-dark text-white text-lg">{{ trans.get('__JSON__.總結') }}</p>
                                    <p class="flex justify-between flex-wrap py-2 px-3 border-b-1 text-pink-darken text-lg text-right">{{ trans.get('__JSON__.送貨選項') }} <span>HK$625,00</span></p>
                                    <p class="flex justify-between flex-wrap py-2 px-3 border-b-1 text-pink-darken text-lg text-right">{{ trans.get('__JSON__.折扣優惠') }} <span>-HK$25,00</span></p>
                                    <p class="flex justify-between flex-wrap py-2 px-3 border-b-1 text-pink-darken text-lg text-right">{{ trans.get('__JSON__.運費') }} <span>HK$0,00</span></p>
                                </div>
                                <div class="flex justify-between flex-wrap font-bold text-lg p-3 bg-pink-babystrong text-pink-700 w-full justify-last">
                                    {{ trans.get('__JSON__.付款總額') }}<span> HK$600,00</span>
                                </div>
                            </div>
                            <div class="justify-between flex flex-col flex-grow bg-pink-itemstrong h-2/12">
                                <div class="">
                                    <p class="py-3 px-5 bg-pink-dark text-white text-lg">{{ trans.get('__JSON__.總結') }}</p>
                                    <p class=" flex justify-between flex-wrap py-2 px-3 border-b-1 text-pink-darken text-lg text-right">{{ trans.get('__JSON__.送貨選項') }} <span>HK$625,00</span></p>
                                    <p class="flex justify-between flex-wrap py-2 px-3 border-b-1 text-pink-darken text-lg text-right">{{ trans.get('__JSON__.折扣優惠') }} <span>-HK$25,00</span></p>
                                    <p class="flex justify-between flex-wrap py-2 px-3 border-b-1 text-pink-darken text-lg text-right">{{ trans.get('__JSON__.運費') }}<span> HK$0,00</span></p>
                                </div>
                                <div class="flex justify-between flex-wrap font-bold text-lg p-3 bg-pink-babystrong text-pink-700 w-full justify-last">
                                    {{ trans.get('__JSON__.付款總額') }} <span>HK$600,00</span>
                                </div>
                            </div>
                            <div class="justify-between flex flex-col flex-grow bg-pink-itemstrong h-2/12">
                                <div class="">
                                    <p class="py-3 px-5 bg-pink-dark text-white text-lg">{{ trans.get('__JSON__.總結') }}</p>
                                    <p class=" flex justify-between flex-wrap py-2 px-3 border-b-1 text-pink-darken text-lg ">{{ trans.get('__JSON__.送貨選項') }}<span> HK$625,00</span></p>
                                    <p class=" flex justify-between flex-wrap py-2 px-3 border-b-1 text-pink-darken text-lg ">{{ trans.get('__JSON__.折扣優惠') }} <span>-HK$25,00</span></p>
                                    <p class=" flex justify-between flex-wrap py-2 px-3 border-b-1 text-pink-darken text-lg ">{{ trans.get('__JSON__.運費') }} <span> HK$0,00</span></p>
                                </div>
                                <div class="flex justify-between flex-wrap font-bold text-lg p-3 bg-pink-babystrong text-pink-700 w-full justify-last ">
                                    {{ trans.get('__JSON__.付款總額') }} <span> HK$600,00 </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <modal :show="terms_conditio" @close="terms_conditio=false">
            <template #content>
                <div class="p-10  height-full sm:h-screen h-80vh overflow-y-auto">
                    <p class="text-xl text-pink-darken pb-5">{{ trans.get('__JSON__.新增送貨地址') }}</p>
                    <div class="grid grid-cols-12 gap-2 py-4">
                        <div class="sm:col-span-3 col-span-12">
                            <p class="text-lg text-pink-darken">{{ trans.get('__JSON__.收件人') }}:</p>
                        </div>
                        <div class="sm:col-span-9 col-span-12 text-center">
                            <input type="text" name="recipient" placeholder="" class="w-full rounded border-pink-darken"/>
                        </div>
                    </div>
                    <div class="grid grid-cols-12 gap-2 py-4">
                        <div class="sm:col-span-3 col-span-12">
                            <p class="text-lg text-pink-darken">{{ trans.get('__JSON__.聯絡電話') }}:</p>
                        </div>
                        <div class="sm:col-span-9 col-span-12 text-center">
                            <input type="text" name="contact-number" placeholder="" class="w-full rounded border-pink-darken"/>
                        </div>
                    </div>
                    <div class="grid grid-cols-12 gap-2 py-4">
                        <div class="sm:col-span-3 col-span-12">
                            <p class="text-lg text-pink-darken">{{ trans.get('__JSON__.室及樓層') }}:</p>
                        </div>
                        <div class="sm:col-span-9 col-span-12 text-center">
                            <input type="text" name="room-and-floor" placeholder="" class="w-full rounded border-pink-darken"/>
                        </div>
                    </div>
                    <div class="grid grid-cols-12 gap-2 py-4">
                    <div class="sm:col-span-3 col-span-12">
                            <p class="text-lg text-pink-darken">{{ trans.get('__JSON__.大廈及街道') }}:</p>
                        </div>
                        <div class="sm:col-span-9 col-span-12 text-center">
                            <input type="text" name="building-and-street" placeholder="" class="w-full rounded border-pink-darken"/>
                        </div>
                    </div>
                    <div class="grid grid-cols-12 gap-2 py-4">
                        <div class="sm:col-span-3 col-span-12">
                            <p class="text-lg text-pink-darken">{{ trans.get('__JSON__.地區') }} :</p>
                        </div>
                        <div class="sm:col-span-9 col-span-12">
                            <div class="grid grid-cols-12 gap-2">
                                <div class="sm:col-span-6 col-span-12">
                                    <input type="text" name="distict" v-bind:placeholder="trans.get('__JSON__.地區')" class="w-full rounded border-pink-darken"/>
                                </div>
                                <div class="sm:col-span-6 col-span-12">
                                    <input type="text" name="zip-code" v-bind:placeholder="trans.get('__JSON__.香港/九龍/新界')" class="w-full rounded border-pink-darken"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-right py-5">
                        <button class="bg-pink-stronger focus:outline-none text-white text-base py-2 px-5 rounded-full inline-flex items-center"><img class="" src="/images/icons/lessthan.svg"/><p class="mx-1">{{ trans.get('__JSON__.新增') }}</p><img class="" src="/images/icons/greaterthan.svg"/></button>
                    </div>
                </div>
            </template>
        </modal>
    </store-front-layout>
</template>
<script>
import StoreFrontLayout from '@/Layouts/StoreFrontLayout'
import vSelect from 'vue-select'
import Modal from '@/Jetstream/DialogModal'
export default {
    components: {
        StoreFrontLayout,
        'v-select': vSelect,
        Modal
    },
    props: ['meta'],
    watch: {
        meta: {
            immediate: true,
            handler(meta) {
                document.title=meta.title + ' - ' + this.$page.appName
            },
        },
    },
    data() {
        return { 
        terms_conditio: false,
            OpenIndicator: {
                render: createElement => createElement('span', {
                    class: {
                        'toggle': true,
                        'caret-down': true
                    }
                }),
            },
            items: ['test1', 'test2', 'test3', 'test4']
        }
       },
    methods : {
        terms_conditioopen() {
                    this.terms_conditio=true;
                },
    }
    }
</script>
<style module>
.shopping-summary .vs__search, .vs__search:focus {
    color: #bd8790;
    font-size: 20px;
}
.shopping-summary .caret-down {
    background: url(/images/icons/caret-down-white.svg) no-repeat center center;
    background-size: 41%;
    background-color: #d4acb2;
    border: 0 !important;
    padding: 1rem;
    filter: none;
}
</style>

     