<template>
    <store-front-layout>
        <div class ="container mx-auto px-0 lg:px-4 xl:px-8 px-4">
            <div class="bg-pink-dark" v-if="trans.locale == 'en'" v-html="termsconditions_english"></div>
            <div class="bg-pink-dark" v-if="trans.locale == 'zh-CN'" v-html="termsconditions_chinese_simplified"></div>
            <div class="bg-pink-dark" v-if="trans.locale == 'zh-HK'" v-html="termsconditions_chinese_traditional"></div>
        </div>
   </store-front-layout>
</template>
<script>
    import StoreFrontLayout from '@/Layouts/StoreFrontLayout'
    import Welcome from '@/Jetstream/Welcome'
    export default {
        props: ['meta', 'errors', 'countrycodes','page', 'termsconditions_english', 'termsconditions_chinese_simplified','termsconditions_chinese_traditional'],
         watch: {
        meta: {
            immediate: true,
            handler(meta) {
                document.title=meta.title + ' - ' + this.$page.appName
            },
        },
    },
        components: {
            StoreFrontLayout,
            
            
        },
        
    data(){
        return{

              }
        }
    }
        

</script>
<style scoped>

</style>