<template>
<store-front-layout>
    <div>
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg p-4">
                <h2 class="font-semibold text-xl text-gray-800 leading-tight mb-8">
                    Oops!
                </h2>
                <h1 class="text-2xl my-8">
                    <v-icon name="cog" :scale="3" spin></v-icon>
                    <span class="ml-4 text-shadow-xl">Page "{{ page }}" is still under construction!</span>
                </h1>
            </div>
        </div>
    </div>
</store-front-layout>
</template>

<script>
import StoreFrontLayout from '@/Layouts/StoreFrontLayout'

export default {
    components: {
        StoreFrontLayout,
    },

    props: ['meta', 'page'],

    watch: {
        meta: {
            immediate: true,
            handler(meta) {
                document.title = meta.title + ' - ' + this.$page.appName
            },
        },
    },
}
</script>
