<template>
	<store-front-layout>
        <div class ="container mx-auto px-0 lg:px-4 xl:px-8 px-4">
        	<div class="md:px-12 xl:px-48 px-12 lg:px-48 py-8">
        		<div class="py-2 font-medium text-3xl text-center border-b-2 pb-0 border-pink-darken"><h1 class="text-pink-darken w-56 text-center mx-auto -pb-0 border-b-2 border-pink-darken">Video Tutorial</h1></div>
        		<div class="grid sm:grid-cols-2 grid-cols-1 gap-5 py-5 my-5">
        			<div>
        				<div class="text-center relative table w-full h-48">
					      <div class="table-cell align-middle bg-white">
					      	<img  src="/images/icons/play-video.svg" class="h-2/5 mx-auto w-7/12">
					      </div>
					   </div>
        				<div class="bg-pink-dark mt-4 sm:px-6 py-2 px-4">
        					<h1 class="text-xl">xxxxxx</h1>
        					<p class="text-small">xxxxxx</p>
        					<p class="text-small">xxxxxx</p>
        				</div>
        			</div>
        			<div>
        				<div class="text-center relative table w-full h-48">
					      <div class="table-cell align-middle bg-white">
					      	<img  src="/images/icons/play-video.svg" class="h-2/5 mx-auto w-7/12">
					      </div>
					   </div>
        				<div class="bg-pink-dark mt-4 sm:px-6 py-2 px-4">
        					<h1 class="text-xl">xxxxxx</h1>
        					<p class="text-small">xxxxxx</p>
        					<p class="text-small">xxxxxx</p>
        				</div>
        			</div>
				</div>
				<div class="grid sm:grid-cols-4 grid-cols-1 gap-5 py-5 my-5">
				   <div>
        				<div class="text-center relative table w-full h-36">
					      <div class="table-cell align-middle bg-white">
					      	<img  src="/images/icons/play-video.svg" class="h-1/5 mx-auto w-7/12">
					      </div>
					   </div>
        				<div class="bg-pink-dark mt-4 sm:px-6 py-2 px-4">
        					<h1 class="text-xl">xxxxxx</h1>
        					<p class="text-small">xxxxxx</p>
        					<p class="text-small">xxxxxx</p>
        				</div>
        			</div>
        			<div>
        				<div class="text-center relative table w-full h-36">
					      <div class="table-cell align-middle bg-white">
					      	<img  src="/images/icons/play-video.svg" class="h-1/5 mx-auto w-7/12">
					      </div>
					   </div>
        				<div class="bg-pink-dark mt-4 sm:px-6 py-2 px-4">
        					<h1 class="text-xl">xxxxxx</h1>
        					<p class="text-small">xxxxxx</p>
        					<p class="text-small">xxxxxx</p>
        				</div>
        			</div>
				   <div>
        				<div class="text-center relative table w-full h-36">
					      <div class="table-cell align-middle bg-white">
					      	<img  src="/images/icons/play-video.svg" class="h-1/5 mx-auto w-7/12">
					      </div>
					   </div>
        				<div class="bg-pink-dark mt-4 sm:px-6 py-2 px-4">
        					<h1 class="text-xl">xxxxxx</h1>
        					<p class="text-small">xxxxxx</p>
        					<p class="text-small">xxxxxx</p>
        				</div>
        			</div>
        			<div>
        				<div class="text-center relative table w-full h-36">
					      <div class="table-cell align-middle bg-white">
					      	<img  src="/images/icons/play-video.svg" class="h-1/5 mx-auto w-7/12">
					      </div>
					   </div>
        				<div class="bg-pink-dark mt-4 sm:px-6 py-2 px-4">
        					<h1 class="text-xl">xxxxxx</h1>
        					<p class="text-small">xxxxxx</p>
        					<p class="text-small">xxxxxx</p>
        				</div>
        			</div>
				   <div>
        				<div class="text-center relative table w-full h-36">
					      <div class="table-cell align-middle bg-white">
					      	<img  src="/images/icons/play-video.svg" class="h-1/5 mx-auto w-7/12">
					      </div>
					   </div>
        				<div class="bg-pink-dark mt-4 sm:px-6 py-2 px-4">
        					<h1 class="text-xl">xxxxxx</h1>
        					<p class="text-small">xxxxxx</p>
        					<p class="text-small">xxxxxx</p>
        				</div>
        			</div>
        			<div>
        				<div class="text-center relative table w-full h-36">
					      <div class="table-cell align-middle bg-white">
					      	<img  src="/images/icons/play-video.svg" class="h-1/5 mx-auto w-7/12">
					      </div>
					   </div>
        				<div class="bg-pink-dark mt-4 sm:px-6 py-2 px-4">
        					<h1 class="text-xl">xxxxxx</h1>
        					<p class="text-small">xxxxxx</p>
        					<p class="text-small">xxxxxx</p>
        				</div>
        			</div>
				   <div>
        				<div class="text-center relative table w-full h-36">
					      <div class="table-cell align-middle bg-white">
					      	<img  src="/images/icons/play-video.svg" class="h-1/5 mx-auto w-7/12">
					      </div>
					   </div>
        				<div class="bg-pink-dark mt-4 sm:px-6 py-2 px-4">
        					<h1 class="text-xl">xxxxxx</h1>
        					<p class="text-small">xxxxxx</p>
        					<p class="text-small">xxxxxx</p>
        				</div>
        			</div>
        			<div>
        				<div class="text-center relative table w-full h-36">
					      <div class="table-cell align-middle bg-white">
					      	<img  src="/images/icons/play-video.svg" class="h-1/5 mx-auto w-7/12">
					      </div>
					   </div>
        				<div class="bg-pink-dark mt-4 sm:px-6 py-2 px-4">
        					<h1 class="text-xl">xxxxxx</h1>
        					<p class="text-small">xxxxxx</p>
        					<p class="text-small">xxxxxx</p>
        				</div>
        			</div>
				</div>
        	</div>
        </div>
    </store-front-layout>
</template>

<script>
	import StoreFrontLayout from '@/Layouts/StoreFrontLayout'
    import Welcome from '@/Jetstream/Welcome'
    export default {
        props: ['meta', 'errors', 'countrycodes','page'],
         watch: {
	        meta: {
	            immediate: true,
	            handler(meta) {
	                document.title=meta.title + ' - ' + this.$page.appName
	            },
	        },
	    },
        components: {
            StoreFrontLayout,
        },   
	    data(){
	        return{

	        }
	    }
    
    }

</script>

<style>
	
</style>