<div class="grid  grid-cols-3">
	<div></div>
	<div>
		<img  src="/images/icons/talent_acquisition_icon.svg">
	</div>
</div>
<div class="py-2 font-medium text-3xl text-center border-b-2 pb-0 border-pink-darken"><h1 class="text-pink-darken w-40 text-center mx-auto -pb-0 border-b-2 border-pink-darken">Talent Acquisition</h1></div>
<div class="grid grid-cols-1 md:grid-cols-3 xl:grid-cols-4 md:px-12 xl:px-24 px-4 lg:px-12 lg:py-12 md:py-12 xl:py-12 gap-8">
	<div class="my-4 lg:my-0 border-4 border-b-0 border-l-0 h-72 w-36 border-pink-darken relative">
		<div class="absolute h-72 w-36 top-2 right-2 bg-white px-4">
			<h2 class="text-2xl">xxxxxxx</h2>
			<ul>
				<li class="py-2">xxxxxx</li>
				<li class="py-2">xxxxxx</li>
				<li class="py-2">xxxxxx</li>
				<li class="py-2">xxxxxx</li>
				<li class="py-2">xxxxxx</li>
			</ul>
			<button class="bg-pink-darken text-white text-base py-1 px-5 rounded">Details</button>
		</div>
	</div>
	<div class="my-4 lg:my-0 border-4 border-b-0 border-l-0 h-72 w-36 border-pink-darken relative">
		<div class="absolute h-72 w-36 top-2 right-2 bg-white px-4">
			<h2 class="text-2xl">xxxxxxx</h2>
			<ul>
				<li class="py-2">xxxxxx</li>
				<li class="py-2">xxxxxx</li>
				<li class="py-2">xxxxxx</li>
				<li class="py-2">xxxxxx</li>
				<li class="py-2">xxxxxx</li>
			</ul>
			<button class="bg-pink-darken text-white text-base py-1 px-5 rounded">Details</button>
		</div>
	</div>
	<div class="my-4 lg:my-0 border-4 border-b-0 border-l-0 h-72 w-36 border-pink-darken relative">
		<div class="absolute h-72 w-36 top-2 right-2 bg-white px-4">
			<h2 class="text-2xl">xxxxxxx</h2>
			<ul>
				<li class="py-2">xxxxxx</li>
				<li class="py-2">xxxxxx</li>
				<li class="py-2">xxxxxx</li>
				<li class="py-2">xxxxxx</li>
				<li class="py-2">xxxxxx</li>
			</ul>
			<button class="bg-pink-darken text-white text-base py-1 px-5 rounded">Details</button>
		</div>
	</div>
	<div class="my-4 lg:my-0 border-4 border-b-0 border-l-0 h-72 w-36 border-pink-darken relative">
		<div class="absolute h-72 w-36 top-2 right-2 bg-white px-4">
			<h2 class="text-2xl">xxxxxxx</h2>
			<ul>
				<li class="py-2">xxxxxx</li>
				<li class="py-2">xxxxxx</li>
				<li class="py-2">xxxxxx</li>
				<li class="py-2">xxxxxx</li>
				<li class="py-2">xxxxxx</li>
			</ul>
			<button class="bg-pink-darken text-white text-base py-1 px-5 rounded">Details</button>
		</div>
	</div>
	<div class="my-4 lg:my-0 border-4 border-b-0 border-l-0 h-72 w-36 border-pink-darken relative">
		<div class="absolute h-72 w-36 top-2 right-2 bg-white px-4">
			<h2 class="text-2xl">xxxxxxx</h2>
			<ul>
				<li class="py-2">xxxxxx</li>
				<li class="py-2">xxxxxx</li>
				<li class="py-2">xxxxxx</li>
				<li class="py-2">xxxxxx</li>
				<li class="py-2">xxxxxx</li>
			</ul>
			<button class="bg-pink-darken text-white text-base py-1 px-5 rounded">Details</button>
		</div>
	</div>
	<div class="my-4 lg:my-0 border-4 border-b-0 border-l-0 h-72 w-36 border-pink-darken relative">
		<div class="absolute h-72 w-36 top-2 right-2 bg-white px-4">
			<h2 class="text-2xl">xxxxxxx</h2>
			<ul>
				<li class="py-2">xxxxxx</li>
				<li class="py-2">xxxxxx</li>
				<li class="py-2">xxxxxx</li>
				<li class="py-2">xxxxxx</li>
				<li class="py-2">xxxxxx</li>
			</ul>
			<button class="bg-pink-darken text-white text-base py-1 px-5 rounded">Details</button>
		</div>
	</div>
	<div class="my-4 lg:my-0 border-4 border-b-0 border-l-0 h-72 w-36 border-pink-darken relative">
		<div class="absolute h-72 w-36 top-2 right-2 bg-white px-4">
			<h2 class="text-2xl">xxxxxxx</h2>
			<ul>
				<li class="py-2">xxxxxx</li>
				<li class="py-2">xxxxxx</li>
				<li class="py-2">xxxxxx</li>
				<li class="py-2">xxxxxx</li>
				<li class="py-2">xxxxxx</li>
			</ul>
			<button class="bg-pink-darken text-white text-base py-1 px-5 rounded">Details</button>
		</div>
	</div>
	<div class="my-4 lg:my-0 border-4 border-b-0 border-l-0 h-72 w-36 border-pink-darken relative">
		<div class="absolute h-72 w-36 top-2 right-2 bg-white px-4">
			<h2 class="text-2xl">xxxxxxx</h2>
			<ul>
				<li class="py-2">xxxxxx</li>
				<li class="py-2">xxxxxx</li>
				<li class="py-2">xxxxxx</li>
				<li class="py-2">xxxxxx</li>
				<li class="py-2">xxxxxx</li>
			</ul>
			<button class="bg-pink-darken text-white text-base py-1 px-5 rounded">Details</button>
		</div>
	</div>
</div>