
<div class="table w-full">
    <div class="table-row">
        <div class="relative table-cell w-3/12">
          <div class="absolute top-1/2 w-full border-t-2 border-pink-800"></div>
        </div>
        <div class="table-cell px-4 3xl">
          <h3 class="py-4 text-3xl text-pink-800 text-center">General Terms & Conditions</h3>
        </div>
        <div class="relative table-cell w-3/12">
          <div class="absolute top-1/2 w-full border-t-2 border-pink-800"></div>
        </div>
    </div>
</div>
<div class="bg-pink-stronger py-4 sm:px-8 px-4 text-white">
<p class="py-2 text-center ">Welcome to Girls Secrets online shopping platform WWW.GIRLSSECRETS.COM！</p>
<p class="py-2">GirlsSecrets.com is wholly owned and operated by Zhong Kang (International) Company Ltd (as herein named "We", the "Company" or "GS").  By using our own Program Application / Third-party Software, we provide a comprehensive platform for merchants or merchandise suppliers (as herein named “Vendors”) to sell their products and services on Girls Secrets which enables customers (as herein named “You”) to enjoy an around-the-clock online shopping experience easily and pleasantly over the internet.</p>
<p class="py-2">When making online shopping on “GS”, you, unconditionally, agree to be bound by the following terms and conditions.  We reserve the right to change or modify any of them without prior notice and amended terms and conditions will be effective as of the published date on “GS”.  Your continued patronage on “GS” will confirm your acceptance of the latest version of the terms and conditions.</p>
<p class="py-2">To ensure you have a happy shopping experience with “GS”, we invite you to read the following terms and conditions thoroughly.</p>
</div>
<div class="mx-4 py-2 sm:px-8 px-4 bg-white">
<h2 class="py-2 font-medium text-pink-600">1 DEFINITIONS</h2>
    <p class="py-2">The following words used in General Terms & Conditions have the following meanings:</p>
    <p class="py-2"><span class="font-medium">1.1 [Contents]</span>  All text, graphics, logos, icons, photographs, images, moving visual representational images or a combination of sounds and such images, audio, computer programs, and other material featured, displayed or used in or in relation to “GS”.</p>
    <p class="py-2"><span class="font-medium">1.2 [Merchandises] </span>Goods (including but not limited to food & beverages, vouchers) or services you ordered through “GS” which you will pay for. </p>
    <p class="py-2"><span class="font-medium">1.3 [Registration]</span> To register as a member of “GS” when using its services or placing an order. </p>
    <p class="py-2"><span class="font-medium">1.4 [Intellectual Property] </span>All intellectual property rights in any and all patents, trademarks, domain names, designs, copyrights and database (no matter  registered or not and any application being filed in or rights to apply for registration of any of the foregoing),  information confidentiality and all other intellectual property rights of similar or corresponding character which may subsist now or in future in any part of the world.</p>
    <p class="py-2"><span class="font-medium">1.5 [Services]</span> Fulfil users’ requirements via “GS” (including but not limited to browse website, make enquiries, seek assistance, purchase of goods and services)</p>
    <p class="py-2"><span class="font-medium">1.6 [Vendors]</span> Merchant or merchandise supplier from whom you purchased goods and services through “GS”.</p>
    <p class="py-2"><span class="font-medium">1.7 [User Contents]</span> As stipulated in Clause 7.3.</p>

<h2 class="py-2 font-medium text-pink-600">2 MEMBER REGISTRATION & USER SETTING</h2>
    <p class="py-2">2.1  You (personally or as a corporate representative) make online membership registration with “GS” are entitled to more privileges / discounts which will upgrade your online shopping experience. </p>
    <p class="py-2">2.2  Whether you are “GS” member or not, when you place goods/services order with GS is being confirmed (upon which we are entitled to rely) that you are at age of 18 or above and are capable of forming a legally binding contract.  Meanwhile, this represent you agree and accept the General Terms & Conditions of “GS”.</p>
    <p class="py-2">2.3  At the time you use the services of “GS”, you are already agreed and accepted the followings:</p>
        <p class="py-2">2.3.1  Your provided information are true, accurate, current and complete.</p>
        <p class="py-2">2.3.2  We shall safeguard your sign-in information (including but not limited to mobile phone number, email address, Facebook / WeChat accounts and relevant passwords).</p>
        <p class="py-2">2.3.3  At the time when you sign in “GS”, one-time verification code / email verification will be sent to you to confirm your identity.  You will be able to access your “GS” account until your identity is successfully verified.</p>
        <p class="py-2">2.3.4  Anyone who makes use of your information to sign in GS will be assumed as you or your authorized person who will be entitled to the same benefits as yours offered by “GS”.</p>
        <p class="py-2">2.3.5  To maintain and promptly update your registration information to keep them true, accurate, current and complete. If we have reasonable grounds to suspect that any information is untrue, inaccurate, not current or incomplete, we reserve the right to suspend or terminate your registration.</p>
    <p class="py-2">2.4  At time of making online membership registration, you are free to use your name and / or nickname as the registered name of your “GS” account.  Successful registration represents your acceptance of the General Terms & Conditions set forth herein.</p>
    <p class="py-2">2.5  You, as a “GS” member, can upgrade your membership by fulfilling upgrade criteria including but not limited to consumption amount, number of purchase order, times of your review / comments posted, purchase of specific products at specific date range.  Successful membership upgrade brings you special entitlements of respective member grading.  We have right to amend / delete membership upgrade criteria and member privileges from time to time.  Changes will be effective from the published date on “GS”.</p>
    <p class="py-2">2.6  We have the right to forbidden you from accessing “GS” or cancel your membership with immediate effect for any breach of the General Terms & Conditions.</p>

<h2 class="py-2 font-medium text-pink-600">3 RESTRICTED MERCHANDISES</h2>
    <p class="py-2">3.1  We reserve the right, at our sole discretion, to cancel purchase order of restricted merchandises including but not limited to wine / alcoholic beverage, cigarette and pharmaceutical merchandises.  All related transactions must be in compliance with laws and regulations of Hong Kong Special Administrative Region and if prohibited by law, published prices / quotations of these merchandises on “GS” shall be regarded as invalid. </p>
    <p class="py-2">3.2  When you purchase wine / alcoholic beverage, cigarette and pharmaceutical merchandises from “GS”, you must be at the age of 18 or above and we, the vendors or our authorized service providers have the right, depending on individual case, to take the following actions at time of delivery:</p>
        <p class="py-2">3.2.1  Verify your age by asking for identification documents (such as ID cards).</p>
        <p class="py-2">3.2.2  Refuse to deliver the restricted merchandise to you if you are unable to show identification documents to proof your age. </p>
        <p class="py-2">3.2.3  Refuse to deliver the restricted merchandise to any other persons at any reasons.</p>
    <p class="py-2">3.3  According to the Pharmacy and Poisons Ordinance of Hong Kong Special Administrative Region, prescription drugs must be dispensed and sold on doctors’ prescription in registered pharmacies under direct supervision of registered pharmacists. Under this circumstance, “GS” shall not sell this kind of medicines directly but to transfer your order to registered vendors and “GS” shall make prepayment on your behalf and collect medicines from registered vendors and arrange delivery for you after then.</p>
    <p class="py-2">3.4  At time you place order to “GS”,  it is confirmed that you know the ingredients, effectiveness and usage of your ordered medicines.  “GS” and related vendors shall undertake no liability for any incorrect dosage or improper use which  brings about serious health damage.</p>

<h2 class="py-2 font-medium text-pink-600">4 ORDER</h2>
    <p class="py-2">4.1  Except as otherwise specified, we are not vendor but only responsible for managing and administering “GS”, order processing and merchandise fulfillment for your purchase order from the vendors through “GS”.</p>
    <p class="py-2">4.2  Prices of merchandises are updated by vendors but we shall use all reasonable commercial endeavors to display accurate and up-to-date prices on “GS”.  Hence, we are unable to state the definite prices of merchandises until we send our acceptance of order to you. </p>
    <p class="py-2">4.3  At the time you place an order which means you confirm to buy the merchandise from vendor at the specified price with fully understanding and agree that all information related to the ordered merchandise, the use of it and its terms and conditions.  Order cancellation will not be accepted once it is submitted even though you have not yet received our acceptance of order or order rejection.</p>
    <p class="py-2">4.4  You can keep track of your order progress by accessing “GS” via internet or mobile app.  At the meantime, we shall update your order progress by email or SMS which you may keep as reference for further enquiries.</p>
    <p class="py-2">4.5  Our acceptance of order may only cover part of your ordered merchandises which will be clearly mentioned in it.  The remaining merchandises that you have ordered will be accepted only when we send further order acceptance to you. </p>
    <p class="py-2">4.6  Availability of merchandises (stock availability) are as shown on “GS” which will be regularly updated by respective vendors. The information should not be relied on as definite statements as to whether the merchandises you desire to purchase are actually in stock.</p>
    <p class="py-2">4.7  We reserve the right at our sole discretion not to accept or cancel your order under any reasons which include but not limited to the followings:</p>
        <p class="py-2">4.7.1  Your ordered merchandises are out of stock.</p>
        <p class="py-2">4.7.2  Remote area or high-risk location Delivery.</p>
        <p class="py-2">4.7.3  Wrong pricing of merchandises that you have ordered which may be caused by negligence or computer errors or mispriced by vendors.</p>
    <p class="py-2">4.8  We accept payment made by Visa cards, Master cards, PayPal, Alipay, WeChat Pay and UnionPay.  Payment methods will be updated from time to time for the purpose of providing more payment options for purchase orders.</p>
    <p class="py-2">4.9  Promotion code, discount code and coupons provided for “GS” members can only be used for onetime purchase on the website which will be bound by “GS’s” General Terms & Conditions. </p>
    <p class="py-2">4.10  Promotion code, discount code and coupons cannot be exchanged for cash and no change or refund will be made. </p>
    <p class="py-2">4.11  In case of order cancellation by “GS” at any reasons or you are entitled to a refund from “GS”,  any promotion code, discount code or coupons used for your order payment will not be refunded or compensated.</p>
    <p class="py-2">4.12  We shall inform you via email and/or SMS and/or mobile app about cancellation of your purchase order by “GS”.  If you have already made online payment, we shall refund the sum debited from your credit card through a third party payment service provider as soon as possible.  You agree and accept that we shall undertake no liability for compensation for any disappointments and sufferings caused.</p>
    <p class="py-2">4.13  All purchase orders will be charged in Hong Kong currency.  When you place an order with “GS”, we are authorized to debit your specified credit card for the purchase order amount which at the meantime, confirms that you are the authorized person to make such payment.  Ownership / Title of your ordered merchandises will not be passed to you until payment has been received by “GS”. </p>
    <p class="py-2">4.14  At the time you place an order, you agree and accept that your credit card information will be collected, processed, and kept by a third party payment service provider subject to its terms and conditions. You agree and accept that you are solely and exclusively responsible for any losses incurred or sustained by you in making credit card transactions, and in no event will any such losses in whole or in part be borne by us.</p>

<h2 class="py-2 font-medium text-pink-600">5 DELIVERY</h2>
    <p class="py-2">5.1  Our staff / appointed delivery service provider will deliver your ordered merchandises to the delivery point / address designated by you.  You have no objection that in receipt of merchandises, you will verify your identity by showing your ID Card or any identification documents (with photo) and / or providing your mobile phone number and full name for verification.</p>
    <p class="py-2">5.2 Your ordered merchandises will be, will be deemed to be, delivered and accepted by you when they have been delivered to the
        address designated by you. You agree and accept that we have the right to charge any additional costs or cancel your order
        without making refund and compensation to you in the event of your failure of receiving / accepting the delivery for any reasons. </p>
        <p class="py-2">5.3 We shall only accept one delivery point per one purchase order.</p>
        <p class="py-2">5.4 We reserve the right to adjust the minimum purchase order amount for free delivery entitlement at any time.</p>
        <p class="py-2">5.5 Upon receipt of your purchase order, we will make prompt arrangement for merchandise delivery (not applicable to purchase
            orders received on Saturdays, Sundays, Public Holidays and eve of holidays of which delivery will be arranged on next working
            day). However, the actual delivery time will be subject to the arrangement of our authorized delivery service provider as well as
            traffic conditions. For any delayed deliveries caused by unexpected traffic incidents or critical weather conditions or force
            majeure events, we shall not undertake any liability for compensation.</p>
        <p class="py-2">5.6 Delivery will be arranged upon acceptance of purchase order and you will receive your ordered merchandises within 2-3 working
            days (not applicable to islands district and remote areas). Delivery of merchandises will be in light of actual situation which will
            be confirmed at time of receiving the notification of delivery from us.</p>
        <p class="py-2">5.7 We reserve the right to reject any merchandise delivery to islands district, remote areas and buildings without lifts. Under such
            circumstance, you agree and accept to pick up your ordered merchandise from our storage/warehouse or distribution centers
            and order cancellation and refund will not be accepted.</p>
        <p class="py-2">5.8 We may deliver your ordered merchandises by more than one instalment and some of them may be delivered from vendors
            directly. Delivery Time and date will be provided on estimated basis and we shall notify you in case of any delay and shall keep
            you updated on the progress. You agree and accept that no order cancellation and refund will be accepted accordingly.</p>
        <p class="py-2">5.9 For self-pick up from smart locker, locker password will be sent to you via your mobile phone number which is recorded in the
            purchase order. If you fail to receive the password due to wrong number provided or your ordered merchandises are picked up
            by some other people, we will take no responsibility for it.</p>
        <p class="py-2">5.10 You have to ensure that your designated smart locker center, if locates at a private estate, for merchandises pick-up is permitted
            not only for the use of residents. If you are not the private estate’s resident and at the end you are not allowed to pick up your
            ordered merchandises from smart locker due to restriction policies imposed, we shall take no responsibility for it.</p>
        <p class="py-2">5.11 The ownership of your ordered merchandises will be transferred to you once the delivery has completed and we shall take no
            responsibility for any losses and damages from then on. For request of returning or exchanging merchandises after delivery, you
            are required to keep all messages in related to your order for reference and the merchandise packaging must be in the same
            condition that we delivered to you. In receipt of your request, we shall assist to communicate with respective vendors for
            solution. In case the merchandise is wholly or partly used, no return or exchange of merchandise will be accepted but we shall
            try our best to make other appropriate arrangements for you.</p>
        <p class="py-2">5.12 We reserve the right to suspend or postpone self-pick up service to an uncertain date when typhoon signal or rainstorm warning
            signal has been hoisted or under unsafe weather conditions or force majeure events.</p>
        <p class="py-2">5.13 If you fail to collect / pick up your ordered merchandises from your designated pick-up point or smart locker at specified day and
            time, you are required to pay storage fee or other logistic costs incurred to our authorized delivery service providers for
            collecting / picking up the merchandises. The aforesaid charges will be calculated on daily or one-off basis.</p>

    <h2 class="py-2 font-medium text-pink-600">6 RETURN & EXCHANGE</h2>
        <p class="py-2">6.1 Except as otherwise specified, no return or exchange of merchandises will be accepted. Before placing your purchase order, you
            are advised to go through the return & exchange policy of respective vendors.</p>
        <p class="py-2">6.2 According to the return & exchange policy of respective vendors, such request is required to be made within seven (7) days upon
            receipt of merchandises which are faulty, defective, damaged (not at your fault), wrong merchandises or incorrect quantity.
            Return & exchange request will be accepted on condition that:</p>
        <p class="py-2">6.2.1 The return & exchange policy applied.</p>
        <p class="py-2">6.2.2 The merchandises have not yet been used which are in the condition of originally sold (with all parts and accessories
            including manuals, certificates, labels, tags, consumables, packing bags and boxes).</p>
        <p class="py-2">6.2.3 Merchandise packaging must be in the same condition as we delivered to you.</p>
        <p class="py-2">6.2.4 Request for return or exchange of merchandises is required to be sent to our customer service representative via Live
            Chat. These merchandises will be collected from the delivery address by us at no charge which will then be returned to
            respective vendors within the limited period specified by them.</p>
        <p class="py-2">6.3 You agree and accept that merchandise is acceptable for exchange subject to stock availability.</p>
        <p class="py-2">6.4 You agree and accept that it will be at vendor’s sole discretion whether the merchandise will be accepted for return or exchange.
            Under no circumstances, we will not accept direct return of any merchandise to us or undertake any liability for losses and
            damages for any reasons.</p>

        <h2 class="py-2 font-medium text-pink-600">7 WARRANTIES</h2>
        <p class="py-2">7.1 You represent, warrant and covenant that you will not:</p>
        <p class="py-2">7.1.1 Make use of “GS” website for any fraudulent or unlawful purpose.</p>
        <p class="py-2">7.1.2 Make use of “GS” website to defame, abuse, harass, stalk, threaten or violate the rights of other people including but not
            limited to Privacy Rights or Rights of Publicity.</p>
        <p class="py-2">7.1.3 To interfere with or disrupt the operation, servers and networks of “GS” website or violate relevant procedures, policies
            or regulations.</p>
        <p class="py-2">7.1.4 To plant any virus, worm, Trojan horse or other computer code into “GS” website that is harmful, invasive or with
            intention to damage the operation of, or to monitor the use of any hardware, software, or equipment of “GS” website.</p>
        <p class="py-2">7.1.5 To reproduce, duplicate, copy, sell, resell, or otherwise exploit for any commercial purposes, any portion of, use of, or
            access to “GS” website (including our apps or software).</p>
        <p class="py-2">7.1.6 To modify, adapt, translate, reverse engineer, decompile or disassemble any portion of “GS” website (including our apps
            or software).</p>
        <p class="py-2">7.1.7 To frame or mirror any part of “GS” website without our prior written consent.</p>
        <p class="py-2">7.1.8 To create a database by systematically downloading and storing the Content, User Content or any Site Content of “GS”.</p>
        <p class="py-2">7.1.9 Infringe on merchandises’ copyrights, design rights and intellectual property rights.</p>
        <p class="py-2">7.2 The intellectual property rights of all site content of “GS” are owned, controlled or licensed by us. You may use the content only
            for personal purpose in accordance with this General Terms & Conditions. You are forbidden to use the content for any
            commercial or non-personal purpose or make copies, transfer the contend to any other device or person or reproduce,
            distribute, communicate to the public or modify, reformat, prepare derivative works of or display the content.</p>
        
        <p class="py-2">7.3 When you submit any user generated contents including all text, files, images, photos, sounds, videos or other materials (“User
            Content”) to “GS” website which represent you agree to grant us, a perpetual, irrevocable, non-exclusive, worldwide, transferable, sub-licensable fully paid-up and royalty-free licence to reproduce, distribute, communicate to the public, publicly
            perform, modify, prepare derivative works of, display and use the User Contents in connection with “GS” website, including but
            not limited to the purposes of promoting and redistributing part or all of “GS” website in any media formats and through any
            media channel. Without limitation, the rights that you grant to us including a right to grant each user of “GS” website a sub-
            licence to use the User Content to the extent permitted by the functionality of “GS” website from time to time. You hereby
            waive, and procure that all other authors of the User Content waive, all moral rights in the User Content (including rights to be
            identified as the author of the User Content or to object to any derogatory treatment of the User Content), whether such rights
            subsist now or at any time in the future in any place in the world.</p>
        <p class="py-2">7.4 You are the owner of User Contents and will be legally liable for it. User Contents must not include any inappropriate materials
            (including but not limited to illegal, defamatory, obscene, offensive, harmful to safety of any persons, aim to harass any persons).
            We undertake no liability for any User Contents under any circumstances, regardless of whether we had knowledge of the
            contents generated by users.</p>
        <p class="py-2">7.5 You agree to indemnify us, all of our directors, employees and contractors and hold us harmless from any claims, losses,
            damages, costs, expenses (including legal expenses) or other liability which may be incurred from any breach of the covenants,
            warranties, representations and agreements herein.</p>

        <h2 class="py-2 font-medium text-pink-600">8 Disclaimer of Warranties and Limitation of Liability</h2>
        <p class="py-2">8.1 We do not represent or warrant that access to our site (including using our apps or software), or any part of it, will be
            uninterrupted, reliable or fault-free.</p>
        <p class="py-2">8.2 We do not represent or warrant that “GS” or any of its contents will be accurate, complete or reliable.</p>
         <p class="py-2">8.3 Except as otherwise specified, we undertake no liability for any indirect or consequential losses, damages or expenses inclusive
            of loss of profits, business or goodwill arising from any problems that you have notified us and we are not liable to pay any
            money to you for compensation.</p>
        <p class="py-2">8.4 We do not represent or warrant that:</p>
        <p class="py-2">8.4.1 Any services (whether or not provided by “GS”) will be provided with due care and skill.</p>
        <p class="py-2">8.4.2 Any merchandises (whether or not provided by “GS”) will be of merchantable quality or will be fitted for any purpose
            (even if that purpose has been previously notified to us).</p>
        <p class="py-2">8.5 You agree that no data transmission over Internet can be guaranteed as completely secure. We strive to protect such
            information but do not warrant and cannot ensure the security of any information transmitted from you to “GS” which will be at
            your own risk.</p>
        <p class="py-2">8.6 To the extent permitted by law, we exclude all liability which we may have to you no matter arising in contract, tort or due to our
            negligence as a result of:</p>
        <p class="py-2">8.6.1 Any technical, factual, textual or typographical inaccuracies, errors or omissions on or relating to “GS” website (including
            using our apps or software) or any other information on “GS” website.</p>
        <p class="py-2">8.6.2 Unavailability of “GS” website (or any part of it), merchandises or services.</p>
        <p class="py-2">8.6.3 Any delay in providing, or failure to provide or make available of merchandises or services, or any negligent provision of
            merchandises or services.</p>
        <p class="py-2">8.6.4 Any merchandises not being of merchantable quality or fit for their intended purpose.</p>
        <p class="py-2">8.6.5 Any misrepresentations of merchandises or services on or relating to “GS” website.</p>
        <p class="py-2">8.7 Except as required by law:</p>
        <p class="py-2">8.7.1 We undertake no liability for any indirect or consequential losses, damages or expenses inclusive of loss of profits,
            business or goodwill arising from any problems that you have notified us.</p>
        <p class="py-2">8.7.2 We are not liable to pay any money to you for compensation except as otherwise specified.</p>
        <p class="py-2">8.8 You must observe and comply with all applicable regulations and legislation including to make arrangements for all necessary
            customs, import or obtain relevant permits for your ordered merchandises from “GS”. We take no responsibility to make any
            statements on import / export of merchandises and accept no liability for it.</p>
        <p class="py-2">8.9 You agree that Clause 7 of “GS’s” General Terms & Conditions is reasonable and in particular given that when you purchase
            merchandises through “GS”, you will enter into a separate contract with respective vendors.</p>
        <p class="py-2">8.10 None of the above exclusions will affect any statutory rights which are not capable of being excluded. However, in such case our
            obligation, where permitted by law, will be limited to resupply of merchandises or services to you.</p>
        <p class="py-2">8.11 We shall use all reasonable commercial endeavors to ensure the accuracy of the contents. However, we disclaim and exclude all
            other warranties conditions, representations and guarantees, express or implied, including but not limited to warranties of
            fitness for a particular purpose and non-infringement, warranties as to the quality, completeness or accuracy of any content
            made available on “GS”. You agree that advertisers undertake liability for all advertisements placed on “GS”. We undertake no
            liability for all contents posted which do not represent the ground of “GS” and we shall not liable for any losses and damages of
            any kind incurred accordingly.</p>
        <p class="py-2">8.12 Links to external websites (including hyperlink) on “GS” are provided purely for convenience and informational purposes. We
            have no control over these websites and do not assume any responsibility for their contents. Access to or use of external
            websites via “GS” will be at your own risks.</p>
        <p class="py-2">8.13 We shall not undertake any liability for any failure to perform our obligations under this General Terms & Conditions if it is
            prevented or delayed in performing those obligations by an event of force majeure, an extraordinary event of circumstance
            beyond our control, such as a war, strike, riot, crime, epidemic or an event described by the legal term act of God, prevents us
            from fulfilling our obligations under the General Terms & Conditions. According to abovementioned situation, no order
            cancellation or refund request will be accepted, however, we will do our utmost to make appropriate arrangement for the case.</p>

        <h2 class="py-2 font-medium text-pink-600">9 GENERAL</h2>
        <p class="py-2">9.1 The Intellectual Property rights of all contents, user contents, designs, texts, graphics and other materials on “GS” are owned,
            control or licensed by us which are forbidden to be used without our prior written consent.</p>
        <p class="py-2">9.2 All trademarks, product names, company names or logos used in “GS” website are our property or that of their respective
            owners. No permission is given by us for any persons and parties to use any trademarks, product names, company names, logos
            or titles and such use may constitute an infringement of the right of owners.</p>
        <p class="py-2">9.3 We reserve the right to revise the contents (including services offered by us) and General Terms & Conditions (including any of
            the documentation which forms part of these terms and conditions) on “GS” website without prior notice. Any changes to these
            terms and conditions will be posted on our site and if you continue to use “GS” website confirming that you agree to be bound
            by the revised terms and conditions.</p>
        <p class="py-2">9.4 When placing your purchase order with “GS”, please note that you may be required to pay extra expenses such as taxes, vats,
            customs (if any) imposed by vendors or governments.</p>
        <p class="py-2">9.5 You agree and accept to be bound by our privacy policy that we can use any information provided by you as well as to collect and
            store your personal information when you use the services of “GS”.</p>
        <p class="py-2">9.6 We reserve the right at our sole discretion to deny user access to “GS” website or any part of it without prior notice or to decline
            providing services to user who is in breach of “GS’s” terms and conditions.</p>
        <p class="py-2">9.7 If any clause hereof is held invalid or unenforceable by a court of competent jurisdiction, such clause will not affect the validity or
            operation of any other clauses and such invalid clause will be severed from valid terms and conditions.</p>
        <p class="py-2">9.8 The General Terms & Conditions may be assigned or we may appoint any third parties to provide services to you on our behalf
            under “GS’s” terms and conditions.</p>
        <p class="py-2">9.9 We have the right to amend or withdraw any discount offers without prior notice. Any disputes arising therefrom will be settled
            subject to our final decision.</p>
        <p class="py-2 mb-20">9.10 These terms and conditions are governed by the laws in Hong Kong and you agree the courts of Hong Kong shall have exclusive
            jurisdiction to hear and determine any suits, actions or proceedings.</p>
        
        </div>
