
<div class="table w-full">
    <div class="table-row">
        <div class="relative table-cell w-5/12">
          <div class="absolute top-1/2 w-full border-t-2 border-pink-800"></div>
        </div>
        <div class="table-cell px-4 3xl">
          <h3 class="py-4 text-4xl text-pink-800 text-center">使用条款</h3>
        </div>
        <div class="relative table-cell w-5/12">
          <div class="absolute top-1/2 w-full border-t-2 border-pink-800"></div>
        </div>
    </div>
</div>
<div class="bg-pink-stronger py-4 sm:px-8 px-4 text-white">
<p class="py-2">欢迎您到访及使用Girls Secrets网上购物平台 www.girlssecrets.com！ 为使阁下更安心使用我们的服务，敬请先阅读本网站
    之使用条款及细则。</p>
<p class="py-2">众康（国际）贸易有限公司拥有及经营网站GirlsS ecrets.com网上购物平台服务（以下简称为「我们」、「本公司」、「
    本网站」或「GS」），透过互联网（包括透过使用应用程序或第三方 软件程序）为商户及/或供应商提供加盟开店服务（以
    下简称为「加盟商」） 之销售平台，让用户 （以下简称为「阁下」、「你」、或「您」）可以24小时、全天候享受网上
    购物乐趣。</p>
<p class="py-2">当阁下使用本网站，即代表阁下同意受下列条款及细则所约束。 我们保留一切权利，可不时更改本条款及细则，而
    无需作出任何事前通知。 修改后的条款及细则由发布日开始生效。 阁下持续使用本网站及我们的服务，即视为阁
    下同意接受本条款及细则的最新版本。</p>
</div>
<div class="mx-4 py-2 sm:px-8 px-4 bg-white">
<h2 class="py-2 font-medium text-pink-600">1 条款及细则所用若干词汇的涵义：</h2>
    
    <p class="py-2">1.1「内容」指所有在本网站展示的文字、图像、标志、图标、相片、图像、移动视觉具象图像或声音的结
        合及我们的网站所选、所示或所用或与之有关的图像、音效、计算机程序及其他材料。</p>
    <p class="py-2">1.2 "商品"指阁下通过本网站所订购及将会支付的货物（包括但不限于食品、饮品、换领劵）或服务。</p>
    <p class="py-2">1.3「注记用户」指于本网站完成登录会员。</p>
    <p class="py-2">1.4「知识产权」指任何及所有专利、商标、域名权利、设计权利、版权及数据库权利（无论是否已注册及
        注册任何上述者的申请或就任何上述者申请注册的权利）、保密资料权利及目前或日后可能于世界任何
        地方存在的类似或相应性质的所有其他知识产权权利。</p>
    <p class="py-2"> 1.5 「服务」由本网站提供途径（非实体商品） 给用户以满足其需求，包括但不限于浏览、查询、咨询、
        购买行为等等。</p>
    <p class="py-2"> 1.6 "加盟商」指阁下通过我们的网站所订购的商品卖家、商户及供应商。</p>
    <p class="py-2"> 1.7 "用户内容"指具有第6.3条款所订的涵义。</p>

<h2 class="py-2 font-medium text-pink-600">2 使用者设置和注册</h2>
    <p class="py-2">2.1  阁下可以个人或企业代表名义于本网站注册成为会员，以享有更佳的购物体验及不同的折扣优惠！ </p>
    <p class="py-2">2.2  不论有否于本网站注册成为会员，当阁下决定进行购物交易时，即表示阁下声明已年满18岁或以上（而
        我们有权以相关声明作为依据），有能力阅读及理解本网站内容，同时接受及同意相关之条款及细则，
        并有能力签订及履行具法律约束力的合约。</p>
    <p class="py-2">2.3  当阁下使用本网站服务时，即表示阁下已同意并接受：</p>
        <p class="py-2">2.3.1  阁下所提供的资料均为真实、准确、最新及完整的;</p>
        <p class="py-2">2.3.2  确保妥善保管阁下的登录数据（包括但不限于手提电话号码、电邮地址、面书（Facebook）帐
            户、微讯帐户、个人密码等等）;</p>
        <p class="py-2">2.3.3  系统在登录时会 发送一次性的密码或电邮验证要求，完成验证后方完成注册程序;</p>
        <p class="py-2">2.3.4  使用阁下登录数据进入本网站者，我们将视之为阁下本人及/或已获得阁下授权之人仕，并享
            有该注册用户之权利与责任;</p>
        <p class="py-2">2.3.5  保持持续及实时更新阁下的注册资料以确保有关数据真实、准确、最新及完整。 如我们有合
            理理由怀疑任何资料属不实、不准确、并非最新或不完整，我们有权暂停或终止阁下的注册。</p>
    <p class="py-2">2.4  当阁下注册成为会员时，注册名称可以为阁下之姓名及/或昵称以代表阁下本人，并承诺、同意及履行
        本网站的使用条款及内容;</p>
    <p class="py-2">2.5  注册成为会员后将享有不同的升级机会，而相关升级标准包括但不限于订单金额、购物次数、用家评论
        量、特定时限购买，当会员达到相关升级要求，将会享有不同级别带来的优惠，而有关升级标准及会员
        优惠， 将会不时更新、修改及/或删除，而有关内容将会于本网站发布及更新，生效日期将为本网站发
        布日期;</p>
    <p class="py-2">2.6  倘阁下违反任何条款及细则，我们或会立即终止阁下进入我们的网站或取消注册。</p>

<h2 class="py-2 font-medium text-pink-600">3 商品限制</h2>
    <p class="py-2">3.1  本网站上提供的某些商品（下称「受限制商品」）受到购买限制的约束，这些限制包括但不限于酒/酒
        类、烟草类及药物商品，如在购买、交付时不乎合香港特别行政区法律要求，我们有权单方面拒绝、取
        消任何订单。 在法律禁止的情况下，本网站上提供的任何烟草类和酒类商品的报价均属无效。</p>
    <p class="py-2">3.2  购买酒/酒类、烟草类商品必须年满十八岁或以上人士，本网站、加盟商及其送货人（视情况而定）有
        权全权酌情行使以下权利：</p>
        <p class="py-2">3.2.1  在向任何个人交付上述商品之前，要求其提供有效的年龄证明（例如：身份证）;</p>
        <p class="py-2">3.2.2  在您无法证明您已达到法定年龄的情况下拒绝交付上述商品;以及/或者 </p>
        <p class="py-2">3.2.3  出于任何原因拒绝向任何个人交付上述商品。</p>
    <p class="py-2">3.3  根据香港特别行政区有关药物管制法例规定，在售卖被分类为毒药的药剂制品和售卖需要处方的毒药的
        药剂制品，必须在有领取合适牌照及有注册药剂师监督下售卖，因此，本网站将不会直接出售此类产品
        ，唯订单以预留形式给予持牌及合法加盟商，本网站会为阁下提供人员代付款、取货及送货服务安排。</p>
    <p class="py-2">3.4  阁下下单预留药物前，即表示阁下声明已对相关产品成份、效能、使用方法等等有充分了解，本网站及
        加盟商均不会对使用因此类产品后的任何后果作出承担。</p>

<h2 class="py-2 font-medium text-pink-600">4 购物及订单</h2>
    <p class="py-2">4.1  除非另有注明，否则我们并非商品的卖家、加盟商或供应商。 我们负责管理网站，并提供网站系统作
        为加盟商管理其商品及订单之平台，在订单处理过程，我们会尽力提供协助，让用户及商户可以完成交
        易。</p>
    <p class="py-2">4.2 我们将采取一切合理商业努力于我们的网站显示准确及最新价格。 然而，由于各类销售商品的价格通
        常由加盟商更新，故我们于接纳阁下的订单前无法列出确实的价格。 </p>
    <p class="py-2">4.3 当阁下订购商品时，即表示阁下按商品的指定价格向供应商购买该等商品，并代表同意及了解该商产品
        内的信息、条款及用途。 订单一经确认后，恕无法修改、取消或退款，即使我们仍未接纳或拒绝阁下的
        订单。</p>
    <p class="py-2">4.4 阁下可于网站及/或手机应用程序登入本网站，查询阁下之订单，同时，我们亦可能以电邮及/或短讯给
        予阁下订单资料讯息。 阁下可以保留该电邮及/或信息，以便日后查询之用。</p>
    <p class="py-2">4.5  我们所接纳阁下的订单将只会涵盖该确认所指的商品，而未必涵盖阁下所订购的所有商品。 如属此情
        况，则当我们就阁下订单的其余商品进一步发出接纳确认时，阁下就该订单部分所作出的订购方获接纳
        。</p>
    <p class="py-2">4.6  商品的存货供应于网上显示，并将由加盟商定期更新。 但不应被依赖作为阁下有意购买的商品是否确
        实有存货的依据。</p>
    <p class="py-2">4.7  我们保留权利可全权酌情就任何理由不接纳或取消订单，包括但不限于：</p>
        <p class="py-2">4.7.1  阁下所订购的货物并无足够的存货;</p>
        <p class="py-2">4.7.2  未能就阁下的地区安排送货;或</p>
        <p class="py-2">4.7.3  阁下所订购的一件或多件商品所标示的价格因人为或电脑错误或加盟商所提供的定价数据错
            误而出错。</p>
    <p class="py-2">4.8  本网站接受VISA卡、万事达卡、PAYPAL、支付宝、微讯支付及银联信用卡付款，为提供更多元化选择，
        我们会不时更新付款方法。</p>
    <p class="py-2">4.9  我们提供的促销代码、优惠码及优惠券只适用于通过我们网站一次性的购物，并受条款及细则所约束。 </p>
    <p class="py-2">4.10  促销代码、优惠码及优惠券既不作退款，也不能兑换现金。 任何剩余未使用的金额将被作废。 </p>
    <p class="py-2">4.11  若阁下的订单因任何理由被取消或有资格获得退款，该订单中使用的促销代码、优惠码或优惠卷将被作
        废而我们无需退款或作出任何补偿。</p>
    <p class="py-2">4.12  如我们取消阁下的订单，我们将以电邮及/或短讯及/或手机应用程序通知阁下，并将尽快将退还阁下于
        订购时，於付款系统所扣减的任何金额，并经由该第三方付款服务机构处理退款。 阁下接纳我们毋须
        就阁下的不满而作出任何赔偿。</p>
    <p class="py-2">4.13  所有订单将会以港币结算。 如阁下使用信用卡付款作出订购时，即表示阁下授权我们，按阁下订单的
        商品金额于阁下所指定的信用卡扣款，并向我们声明阁下获授权作出付款。 于收取款项前，商品的所
        有权 不会转移至阁下。</p>
    <p class="py-2">4.14  我们使用第三方付款服务以进行网上交易。 当阁下作出订购时，阁下同意及接纳，受其条款及细则所限
        制，阁下的信用卡资料将会被我们以及付款服务机构收集、处理及保留。 阁下同意及接纳，阁下单独
        及独自承担阁下于进行信用卡交易时所招致或产生的任何损失，且我们于任何情况下均毋须承担任何有
        关全部或部分损失。</p>

<h2 class="py-2 font-medium text-pink-600">5 发货安排</h2>
    <p class="py-2">5.1  我们会将阁下订购的商品通过我们的职员或第三方供应商送递阁下所提供的送货地址。 当阁下确认收
        到商品同时，阁下同意应要求当面出示具有照片的身份证明，及/或要求提供手提电话号码及姓名作身
        份核对。</p>
    <p class="py-2">5.2 当商品送递至阁下所提供的送货地址，商品被视为交付予阁下及由阁下接收。 倘阁下因任何原因而未
        能接收商品，阁下同意及接受我们有权选择向阁下收取额外费用或取消阁下订购而无需退款或作出任何
        补偿。 </p>
        <p class="py-2">5.3 每张订单只限运送至一个送货地点。</p>
        <p class="py-2">5.4 我们保留一切权利，可于任何时间及不时调整免运费订单金额。</p>
        <p class="py-2">5.5 我们于收到订单后会尽快安排发货，务求令客户可以在最快的时间收货（星期六、日、公众假期及公众
            假期前夕，则将顺延至下一个工作日发货，敬请注意！！ )。 唯实际送抵时间，需要视乎物流公司当天
            运输物流及交通之实际状况而定。 如遇上特别交通或天气等不可抗力之因素影响，本公司将不会就有
            关延误作出任何赔偿或承担责任。</p>
        <p class="py-2">5.6 订单将在确认后顺序配送，一般订单会于2-3个工作天内送抵（离岛及部分地区除外）。 配送时间受实
            际情况影响，请以收到到货通知为准。</p>
        <p class="py-2">5.7 如因送货地点为偏远地区及离岛，及并无升降机设备的楼宇。 ，我们保留全权决定拒绝送货的权利。
            阁下同意及接受从我们的物流中心或可派送地点收取已订购的商品，于任何情况下我们均不会接受取消
            订单或向阁下退款。</p>
        <p class="py-2">5.8 我们或会一次或分多次送货，而部份商品可能由不同地方/仓库直接送货。 有关发送产品的任何时间及
            日期，或送货所需的时间仅为估计。 倘我们未能符合任何订明的发送或送货日期或时间，我们将通知
            阁下有关阁下订单的进度。 阁下同意及接受，于任何情况下我们均不会接受取消订单或向阁下退款。</p>
        <p class="py-2">5.9 如于智能柜取货，取货密码只会传送至确认订单时输入的电话号码。 如因输入有误而不能接收短讯/或
            被他人取件，本公司概不负责。</p>
        <p class="py-2">5.10 部份智能柜只限住户取件。 如非屋苑住户，请勿选择该智能柜。 如因未能进入屋苑范围而不能取件，
            本公司概不负责。</p>
        <p class="py-2">5.11 当阁下所购商品送抵送货地点，阁下将成为商品的拥有人，须自行承担持有产品的风险而我们将无须为
            它们的损失或损坏负责。 在收货后要求退货或更换，我们定必量力协助阁下与加盟商沟通，阁下必须
            保留完整的包装及相关电件;唯若货品已全部或部份使用，我们将未能作出退货安排，但仍会尽力为阁
            下提供合适及本公司能力所及的安排。</p>
        <p class="py-2">5.12 当烈风讯号悬挂、红色或黑色暴雨警告生效时或我们判断为不安全的天气及/或在不可抗力事件情况下
            ，取货服务将会暂停，收货日期将有机会延误及无法预期。</p>
        <p class="py-2">5.13 如阁下选择于取货点或智能柜取货，倘若未能于指定日期及时间内收取、提取商品，阁下则需要缴付额
            外仓存费用及/或因而衍生之额外物流费用予物流供应商，方能领取商品。 而有关费用将会按每次及/或
            每日计算收取，敬请注意！</p>

    <h2 class="py-2 font-medium text-pink-600">6 退货或更换</h2>
        <p class="py-2">6.1 除另有规定外，概不接受退货或更换货物。 请阁下于订购前细阅由加盟商订明的退货或更换条款。</p>
        <p class="py-2">6.2 根据个别供应商的退货或更换政策，倘阁下订购的商品出现故障、有缺陷或损坏（并非阁下的错失），
            或商品并非阁下所订购，或交付的数量不正确，可于收货日期的七（7）天内退货或更换，惟需：</p>
        <p class="py-2">6.2.1 退货或更换政策适用;</p>
        <p class="py-2">6.2.2 商品未经使用并处于原先出售的状态，连同与货物一并提供的所有零件及配件，包括说明书、证
            书、标签、标记、消耗品、袋及盒;</p>
        <p class="py-2">6.2.3 商品的包装必须处于交付予阁下时的状态;及</p>
        <p class="py-2">6.2.4 退货或更换的要求经实时聊天室寄送至我们的客户服务代表并需于加盟商指定期间内，商品于送
            货地址通过我们的免费收集退回予供应商。</p>
        <p class="py-2">6.3 阁下同意及接受，是否接受商品更换须视乎存货供应。</p>
        <p class="py-2">6.4 阁下同意及接受，是否被接受退回或更换商品属加盟商的全权酌情决定。 于任何情况下我们均不会接
            受直接向我们退货，或为阁下因任何原因招致的损失负责。</p>

        <h2 class="py-2 font-medium text-pink-600">7 用户责任与保证</h2>
        <p class="py-2">7.1 阁下声明、保证及承诺，阁下不会：</p>
        <p class="py-2">7.1.1 使用我们的网站作任何欺诈或非法用途;</p>
        <p class="py-2">7.1.2 使用我们的网站诽谤、辱骂、骚扰、跟踪、威胁或侵犯其他人士的权利（包括但不限于其他人士
            的私隐权或宣传权）;</p>
        <p class="py-2">7.1.3 阻碍或干扰我们的网站运作或我们网站所用的服务器或网络;或违反有关网络的任何规定、程序、
            政策或法规;</p>
        <p class="py-2">7.1.4 对我们的网站传送或发放任何有害或侵入性或可能或拟损害任何硬件、软件或设备运作或监察任
            何硬件、软件或设备使用的病毒、蠕虫、特洛伊木马程序或其他电脑编码;</p>
        <p class="py-2">7.1.5 就任何商业用途而转载、复制、出售、转售或利用我们网站（包括应用程序或软件）的任何部分
            、或其使用或连接;</p>
        <p class="py-2">7.1.6 T对我们网站（包括使应用程序或软件）的任何部分进行修订、改编、翻译、反向工程、反编译或
            反汇编;</p>
        <p class="py-2">7.1.7 未经我们的事先书面同意下构造或复制网站的任何部分;</p>
        <p class="py-2">7.1.8 以有组织下载和存储内容、用户内容或任何网站内容的方式创建数据库;及</p>
        <p class="py-2">7.1.9 侵犯商品的任何版权、设计权及知识产权权利。</p>
        <p class="py-2">7.2 所有内容的知识产权权利均由我们所拥有、控制或获特许。 本网站内容只供阁下本身的个人用途，阁
            下不得使用内容作任何商业或其他非个人用途，复制内容或向任何其他设备或任何其他人士传送内容;
            或转载、分发、向公众传达、修订、重设格式、编制衍生作品或展示内容。</p>
        
        <p class="py-2">7.3 当阁下于我们的网站提交任何用户产生内容（包括所有文字、档案、图像、相片、声音、影片或其他材
            料）（「用户内容」），代表阁下向我们授出永久、不可撤回、非专属、全球性、可转让、可再授权、
            缴足、免版税的特许，以转载、分发、向公众传达、公开演出、修订、编制衍生作品、展示及以其他方
            式使用有关网站的用户内容（包括但不限于以任何媒体形式及透过任何媒体渠道推广及转发网站的部分
            或全部）。 于并无限制的情况下，阁下根据本7.3条款授予我们的权利包括向各网站用户授出再授特许
            的权利以于网站功能不时许可的情况下使用用户内容。 阁下谨此放弃及促使用户内容的所有其他原创
            人放弃用户内容的所有精神权利（包括识别用户内容的原创人的权利或反对任何用户内容的受贬损处理
            的权利），而不论有关权利目前或于日后任何时间在世界任何地方是否存在。</p>
        <p class="py-2">7.4 阁下须为用户内容承担所有法律责任。 不论我们是否知悉用户内容的任何内容，在任何情况下我们都
            不对任何用户内容负责或承担任何责任。</p>
        <p class="py-2">7.5 阁下同意就因违反本文内任何契诺、保证、声明及协议而引致我们及我们的所有董事、雇员及承包商的
            任何索偿、损失、损害、费用、开支（包括法律开支）或其他责任向我们及我们的所有董事、雇员及承
            包商作出弥偿，并使我们免受损害。</p>

        <h2 class="py-2 font-medium text-pink-600">8 免责声明及责任限制</h2>
        <p class="py-2">8.1 我们并不声明或保证进入我们的网站（包括使用手机应用程序或软件）或其任何部份将不受阻扰、可靠
            或并无故障。</p>
        <p class="py-2">8.2 我们并不向阁下声明或保证我们的网站或其任何内容将为准确、完整或可靠。</p>
         <p class="py-2">8.3 我们将不就任何间接或相应而生的损失、损害或费用向阁下负责，包括由任何阁下知会我们的问题而引
            起的利润、业务或商誉的损失，及我们将无责任以赔偿方式向阁下支付任何款项，除非于此等条款及细
            则另有订明。</p>
        <p class="py-2">8.4 我们并不声明或保证：</p>
        <p class="py-2">8.4.1 任何服务（不论是否由我们提供） 将以适当谨慎及技巧提供;或</p>
        <p class="py-2">8.4.2 任何商品 （不论是否由我们提供） 将具备可商售质量或将适合任何用途（尽管已事先将该用途
            通知我们）。</p>
        <p class="py-2">8.5 阁下同意概无互联网上的数据传输可保证为完全。 尽管我们致力保护该数据，我们不保证且无法确保
            阁下传输给我们的数据的安全。 阁下向我们传输任何资料须自行承担风险。</p>
        <p class="py-2">8.6 于法例许可的范围下，我们排除因以下原因对阁下的所有责任（不论于合约、侵权或其他形式出现及不
            论是否因我们的疏忽）：</p>
        <p class="py-2">8.6.1 就我们的网站（包括使用应用程序或软件）或其中的任何数据或相关的任何技术性、事实、文本
            或印刷上的不准确、错误或遗漏;</p>
        <p class="py-2">8.6.2 未能提供我们的网站（或其任何部份）、商品或服务;</p>
        <p class="py-2">8.6.3 任何延迟提供，或未能提供或使商品或服务可取用，或任何对商品或服务的疏忽提供;</p>
        <p class="py-2">8.6.4 任何商品不具备可商售质量或适合其预期用途;或</p>
        <p class="py-2">8.6.5 任何有关我们的网站、商品或服务的失实陈述。</p>
        
        <p class="py-2"> 8.7 除法例规定以外：</p>
 <p class="py-2"> 8.7.1 我们将不就任何间接或相应而生的损失、损害或费用向阁下负责，包括由任何阁下知会我们的问
题而引起的利润、业务或商誉的损失，及</p>
 <p class="py-2"> 8.7.2 我们将无责任以赔偿方式向阁下支付任何款项，除非于此等条款及细则另有订明。</p>
 </p><p class="py-2"> 8.8 阁下必须遵守及符合所有适用规例及法例，包括取得所有从我们的网站购买商品所需的海关、进口或其
他许可。 我们不就阁下购买的商品的出口或进口作任何陈述或承担任何责任。
 </p><p class="py-2"> 8.9 阁下同意此等限制就我们的网站性质而言均属合理，尤其是由于当阁下透过我们的网站购买商品时，将
每次与供应商订立独立的合约。
 </p><p class="py-2"> 8.10 以上排除概不影响任何不可被排除的法定权利。 然而，于该情况下，我们的责任（于法律许可下）将
限于向阁下再供应服务或商品。
 </p><p class="py-2"> 8.11 我们将采取一切合理商业努力确保内容的准确性，但概不保证及声明（明示或暗示、法定或其他形式）
内容的准确性、质素或完整性或其就任何用途的合适性，而我们亦不会就此承担任何责任。 阁下亦同
意，广告商就我们网站所示的广告内容承担全部责任。 放置有关广告并不构成我们推荐或认可广告商
的产品，而各广告商须就其广告所作出的任何陈述负全责。 我们并不会对阁下因依赖我们网站所载资
料的准确性所造成的损失承担任何责任。
 </p><p class="py-2"> 8.12 我们的网站中的若干链接（包括超链接）将引领阁下离开我们的网站。 链接仅为阁下便利提供，而包
括任何链接不意味我们对链接网站、其运营商或其内容的支持或认可。 我们不就我们的网站以外的任
何网站内容负责。
 </p><p class="py-2"> 8.13 如因不可抗力事件而我们被迫未能履行部份或全部条款或责任，包括但不只限于疫症、封城、供应商及
运输机构无法正常营运、罢工，工业行动、劳工纠纷、天灾、战争、恐怖行为、骚乱、内乱、恶意损坏
、意外事故、火灾、水灾、地震、台风、断电或遵循法例或政府指令、规则、规章或指示而无法正常营
运（以下简称「未能预见事件」），阁下不可以就以上不可抗力事件要求取消订单及/或退款，我们将
会尽努力处理，唯本网站不会因此承担任何损失。</p>

<h2 class="py-2 font-medium text-pink-600">9 一般事项</h2>
 <p class="py-2"> 9.1 我们的网站上所有内容、用户内容、设计、文字、图像及其他材料的知识产权权利，及其选取或安排由
我们拥有、控制或获许可。 严禁任何未经事前书面批准的授权使用。
 </p><p class="py-2"> 9.2 我们的网站中所有商标、产品名称及公司名称或标志为我们的财产或其各自拥有人的财产。 我们并无
就使用任何该等商标、外观、产品名称、公司名称、标志或称号给予批准，而该等使用或会构成侵犯持
有人的权利。
 </p><p class="py-2"> 9.3 我们保留权利可于没有通知的情况下修改网站的内容（包括我们所提供的服务）及此等条款及细则。
倘此等条款及细则有所更改，将于网站公布，而于任何有关更改后仍继续使用我们的网站即表示阁下同
意受经修订的使用条款及细则所约束。 此权利包括更改任何组成此等条款及细则一部分的文件的权利
。
 </p><p class="py-2"> 9.4 阁下于作出订购前注意阁下可能须承担除价格以外由加盟商或法例所施加的税项或关税责任（如增值税
）。
 </p><p class="py-2"> 9.5 阁下于使用本网站时请参阅本公司私隐政策，如阁下继续使用本网站，即代表阁下同意我们可根据我们
的私隐政策收集、储存及使用有关阁下的资料。 阁下确认及同意受我们的私隐政策条款所约束。
 </p><p class="py-2"> 9.6 我们保留权利可全权酌情拒绝用户进入我们的网站或其任何部分，而毋须作出通知。
 </p><p class="py-2"> 9.7 倘此等条款及细则的任何条文具司法管辖权的法院视为无效或不可强制执行，不会影响任何其他条文的
有效性或效力，而有关失效的条文应被视作与此等条款及细则分割。
 </p><p class="py-2"> 9.8 于合乎商业运作下，我们可转让此等条款及细则或委任任何第三方为阁下提供服务，或履行此等条款及
细则所载我们的任何责任。
 </p><p class="py-2"> 9.9 我们保留一切权利，可于任何时间及不时终止或更改任何优惠，而无需作出通知。 如有任何争议，我
们的决定将是最终及具决定性。
 </p><p class="py-2"> 9.10 此等条款及细则受香港生效的法律管辖。 阁下同意受香港法院的专有管辖权管辖。
</div>