<template>
<app-layout>
    <template #header>
        <h2 class="font-semibold text-xl text-gray-800 leading-tight">
            {{ title }}
        </h2>
    </template>

    <div class="py-12">
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg p-2 h-full">
                <div v-if="Object.keys(this.$page.errors).length" class="block w-full py-4 pl-4 border border-red-700 mb-8">
                    <h3 class="text-2xl text-red-700">Oops! There are some errors</h3>
                    <ul>
                        <li v-for="(error, index) in this.$page.errors">
                            <span class="text-red-700">{{ error }}</span>
                        </li>
                    </ul>
                </div>
                <form @submit.prevent="submit">
                    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 divide-x divide-gray-500">
                        <div class="col-span-1 lg:col-span-2">
                            <div class="grid grid-cols-1 lg:grid-cols-4 gap-4">
                                <div class="col-span-1 lg:col-span-2">
                                    <label class="block">
                                        <span class="text-gray-700">Attribute's Title (English)</span>
                                        <input type="text" class="form-input mt-1 block w-full rounded-md" v-model="titles['en']" />
                                    </label>
                                </div>
                                <div class="col-span-1 lg:col-span-2">
                                    <label class="block">
                                        <span class="text-gray-700">Attribute's Title (Traditional)</span>
                                        <input type="text" class="form-input mt-1 block w-full rounded-md" v-model="titles['zh-HK']" />
                                    </label>
                                </div>
                                <div class="col-span-1 lg:col-span-2">
                                    <label class="block">
                                        <span class="text-gray-700">Attribute's Title (Simplified)</span>
                                        <input type="text" class="form-input mt-1 block w-full rounded-md" v-model="titles['zh-CN']" />
                                    </label>
                                </div>
                            </div>
                            <div class="w-full border-t border-gray-500 my-4"></div>
                            <div class="grid grid-cols-1 lg:grid-cols-4 gap-4">
                                <div class="col-span-1 lg:col-span-2">
                                    <label class="block">
                                        <span class="text-gray-700">Attribute's Symbol</span>
                                        <input type="text" class="form-input mt-1 block w-full rounded-md" v-model="symbol" />
                                    </label>
                                </div>
                            </div>
                            <div class="w-full border-t border-gray-500 my-4"></div>
                        </div>
                        <div class="col-span-1 lg:pl-4">
                            <label class="block mb-4">
                                <span class="text-gray-700">Slug</span>
                                <input type="text" class="form-input mt-1 block w-full rounded-md" v-model="slug" :disabled="mode === 'create'" :placeholder="mode === 'create' ? 'This field will automatically filled' : ''" />
                            </label>
                            <div class="w-full mb-4">
                                <div class="grid grid-cols-2 gap-2">
                                    <div class="col-span-1">
                                        <button class="block w-full bg-pink-darken text-white rounded-md py-2 text-lg">Save</button>
                                    </div>
                                    <div class="col-span-1">
                                        <button @click.prevent="cancel" class="lock w-full bg-pink-darken text-white rounded-md py-2 text-lg">Cancel & return</button>
                                    </div>
                                </div>
                            </div>
                            <div class="w-full mb-4">
                                <span class="text-red-700 underline text-shadom-lg text-base">Notes:</span>
                                <ol class="w-full list-decimal list-outside text-red-500 text-sm text-shadow-md pl-4">
                                    <li class="hidden">
                                        <span>
                                            If an image dimension is bigger than expected the system will auto-crop the image.
                                        </span>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</app-layout>
</template>

<script>
import AppLayout from '@/Layouts/AppLayout'
import JetNavLink from '@/Jetstream/NavLink'
import Welcome from '@/Jetstream/Welcome'
import FileUploader from 'laravel-file-uploader';
import Treeselect from '@riophae/vue-treeselect'
import '@riophae/vue-treeselect/dist/vue-treeselect.css'

export default {
    components: {
        AppLayout,
        JetNavLink,
        Welcome,
        FileUploader,
        Treeselect,
    },

    props: ['mode', 'data', 'title'],

    data() {
        return {
            titles: {
                'en': null !== this.data ? this.data.titles['en'] : '',
                'zh-HK': null !== this.data ? this.data.titles['zh-HK'] : '',
                'zh-CN': null !== this.data ? this.data.titles['zh-CN'] : '',
            },
            symbol: null !== this.data ? this.data.symbol : null,
            slug: null !== this.data ? this.data.slug : null,
        }
    },

    computed: {

    },

    mounted() {
        console.log(this.data);
    },

    methods: {
        uploaded: function () {
            // console.log(this.tokens);
        },
        modified: function(){
            if(this.mode === 'create'){
                return false;
            }
            return true;
        },
        cancel: function(){
            let url = this.route('admin.attributes.index');
            let confirmed = true;

            if(this.modified()){
                confirmed = confirm('Do you really want to leave? you have unsaved changes!');
            }

            if(confirmed){
                this.$inertia.get(url);
            }else{
                return false;
            }
        },
        submit: function () {
            const params = {
                titles: this.titles,
                slug: this.slug,
                symbol: this.symbol,
            };
            let url = this.mode === 'create' ? this.route('admin.attributes.store') : (this.mode === 'update' ? this.route('admin.attributes.update', {attribute: this.data.id}) : null);

            if (!url) {
                alert('The form cannot continue! Error!');
            }

            if(this.mode === 'create'){
                this.$inertia.post(url, params);
            }

            if(this.mode === 'update'){
                this.$inertia.put(url, params);
            }
        },
    },
}
</script>

<style module>
.vs__dropdown-toggle {
    border: 0;
}
</style>
