<template>
<app-layout>
    <template #header>
        <h2 class="font-semibold text-xl text-gray-800 leading-tight">
            {{ title }}
        </h2>
    </template>

    <div class="py-12">
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg p-2 h-full">
                <div v-if="Object.keys(this.$page.errors).length" class="block w-full py-4 pl-4 border border-red-700 mb-8">
                    <h3 class="text-2xl text-red-700">Oops! There are some errors</h3>
                    <ul>
                        <li v-for="(error, index) in this.$page.errors">
                            <span class="text-red-700">{{ error }}</span>
                        </li>
                    </ul>
                </div>
                <form @submit.prevent="submit">
                    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 divide-x divide-gray-500">
                        <div class="col-span-1 lg:col-span-2">
                            <div class="grid grid-cols-1 lg:grid-cols-4 gap-4">
                                <div class="col-span-1 lg:col-span-2">
                                    <label class="block">
                                        <span class="text-gray-700">Title (English)</span>
                                        <input type="text" class="form-input mt-1 block w-full rounded-md" v-model="titles.en" />
                                    </label>
                                </div>
                                <div class="col-span-1 lg:col-span-3">
                                    <label class="block">
                                        <span class="text-gray-700">Description (English)</span>
                                        <textarea class="form-textarea mt-1 block w-full rounded-md" rows="3" v-model="descriptions.en"></textarea>
                                    </label>
                                </div>
                                <div class="col-span-1"></div>
                                <div class="col-span-1">
                                    <file-uploader :media="banners.en.desktop" :unlimited="false" :max="1" collection="banner-en-desktop" name="banner-en-desktop" :tokens="tokens" label="English Desktop Banner" notes="800 x 300 (jpeg, png,jpg)" accept="image/jpeg,image/png,image/jpg" @complete="uploaded()"></file-uploader>
                                </div>
                                <div class="col-span-1">
                                    <file-uploader :media="banners.en.tablet" :unlimited="false" :max="1" collection="banner-en-tablet" name="banner-en-tablet" :tokens="tokens" label="English Tablet Banner" notes="600 x 400 (jpeg, png,jpg)" accept="image/jpeg,image/png,image/jpg" @complete="uploaded()"></file-uploader>
                                </div>
                                <div class="col-span-1">
                                    <file-uploader :media="banners.en.mobile" :unlimited="false" :max="1" collection="banner-en-mobile" name="banner-en-mobile" :tokens="tokens" label="English Mobile Banner" notes="420 x 420 (jpeg, png,jpg)" accept="image/jpeg,image/png,image/jpg" @complete="uploaded()"></file-uploader>
                                </div>
                            </div>
                            <div class="w-full border-t border-gray-500 my-4"></div>
                            <div class="grid grid-cols-1 lg:grid-cols-4 gap-4">
                                <div class="col-span-1 lg:col-span-2">
                                    <label class="block">
                                        <span class="text-gray-700">Title (Traditional Chinese)</span>
                                        <input type="text" class="form-input mt-1 block w-full rounded-md" v-model="titles.hk" />
                                    </label>
                                </div>
                                <div class="col-span-1 lg:col-span-3">
                                    <label class="block">
                                        <span class="text-gray-700">Description (Traditional Chinese)</span>
                                        <textarea class="form-textarea mt-1 block w-full rounded-md" rows="3" v-model="descriptions.hk"></textarea>
                                    </label>
                                </div>
                                <div class="col-span-1"></div>
                                <div class="col-span-1">
                                    <file-uploader :media="banners.hk.desktop" :unlimited="false" :max="1" collection="banner-hk-desktop" name="banner-hk-desktop" :tokens="tokens" label="HK-Chin Desktop Banner" notes="800 x 300 (jpeg, png,jpg)" accept="image/jpeg,image/png,image/jpg" @complete="uploaded()"></file-uploader>
                                </div>
                                <div class="col-span-1">
                                    <file-uploader :media="banners.hk.tablet" :unlimited="false" :max="1" collection="banner-hk-tablet" name="banner-hk-tablet" :tokens="tokens" label="HK-Chin Tablet Banner" notes="600 x 400 (jpeg, png,jpg)" accept="image/jpeg,image/png,image/jpg" @complete="uploaded()"></file-uploader>
                                </div>
                                <div class="col-span-1">
                                    <file-uploader :media="banners.hk.mobile" :unlimited="false" :max="1" collection="banner-hk-mobile" name="banner-hk-mobile" :tokens="tokens" label="HK-Chin Mobile Banner" notes="420 x 420 (jpeg, png,jpg)" accept="image/jpeg,image/png,image/jpg" @complete="uploaded()"></file-uploader>
                                </div>
                            </div>
                            <div class="w-full border-t border-gray-500 my-4"></div>
                            <div class="grid grid-cols-1 lg:grid-cols-4 gap-4">
                                <div class="col-span-1 lg:col-span-2">
                                    <label class="block">
                                        <span class="text-gray-700">Title (Simplified Chinese)</span>
                                        <input type="text" class="form-input mt-1 block w-full rounded-md" v-model="titles.cn" />
                                    </label>
                                </div>
                                <div class="col-span-1 lg:col-span-3">
                                    <label class="block">
                                        <span class="text-gray-700">Description (Simplified Chinese)</span>
                                        <textarea class="form-textarea mt-1 block w-full rounded-md" rows="3" v-model="descriptions.cn"></textarea>
                                    </label>
                                </div>
                                <div class="col-span-1"></div>
                                <div class="col-span-1">
                                    <file-uploader :media="banners.cn.desktop" :unlimited="false" :max="1" collection="banner-cn-desktop" name="banner-cn-desktop" :tokens="tokens" label="CN-Chin Desktop Banner" notes="800 x 300 (jpeg, png,jpg)" accept="image/jpeg,image/png,image/jpg" @complete="uploaded()"></file-uploader>
                                </div>
                                <div class="col-span-1">
                                    <file-uploader :media="banners.cn.tablet" :unlimited="false" :max="1" collection="banner-cn-tablet" name="banner-cn-tablet" :tokens="tokens" label="CN-Chin Tablet Banner" notes="600 x 400 (jpeg, png,jpg)" accept="image/jpeg,image/png,image/jpg" @complete="uploaded()"></file-uploader>
                                </div>
                                <div class="col-span-1">
                                    <file-uploader :media="banners.cn.mobile" :unlimited="false" :max="1" collection="banner-cn-mobile" name="banner-cn-mobile" :tokens="tokens" label="CN-Chin Mobile Banner" notes="420 x 420 (jpeg, png,jpg)" accept="image/jpeg,image/png,image/jpg" @complete="uploaded()"></file-uploader>
                                </div>
                            </div>
                        </div>
                        <div class="col-span-1 lg:pl-4">
                            <label class="block mb-4">
                                <span class="text-gray-700 mb-2">Parent Category</span>
                                <treeselect v-model="parent_id" :options="categories" :searchable="true" :show-count="true" class="border border-gray-700 rounded-md" :placeholder="'(Leave it blank for top categories)'" :normalizer="normalizer">
                                    <label slot="option-label" slot-scope="{ node, shouldShowCount, count, labelClassName, countClassName }" :class="labelClassName">
                                        {{ node.raw.code }}: {{ node.raw.locale.title }}
                                        <span v-if="shouldShowCount" :class="countClassName">({{ count }})</span>
                                    </label>
                                    <div slot="value-label" slot-scope="{ node }">{{ node.raw.code }} - {{ node.raw.locale.title }}</div>
                                </treeselect>
                            </label>
                            <label class="block mb-4">
                                <span class="text-gray-700">Category Code</span>
                                <input type="text" class="form-input mt-1 block w-full rounded-md" v-model="code" />
                            </label>
                            <label class="block mb-4">
                                <span class="text-gray-700">Slug</span>
                                <input type="text" class="form-input mt-1 block w-full rounded-md" v-model="slug" :disabled="mode === 'create'" :placeholder="mode === 'create' ? 'This field will automatically filled' : ''" />
                            </label>
                            <label class="inline-flex items-center mb-4">
                                <input type="checkbox" class="sr-only" v-model="featured" />
                                <span class="form-checkbox text-blue-400 border border-gray-700 text-indigo-600" aria-hidden="true"></span>
                                <span class="ml-2 text-gray-700">Featured</span>
                            </label>
                            <div class="form-input-group w-full mx-auto mb-4 relative">
                                <span class="text-gray-700 w-full block">Commission rate</span>
                                <input type="text" class="form-input form-input-group-left relative border-gray-700 rounded-md border-r-0 rounded-r-none" v-model="commission" placeholder="Commission Rate">
                                <div class="form-input-group-right border border-gray-700 rounded-md border-l-0 rounded-l-none">
                                    <span class="bg-pink-strong text-gray-600">%</span>
                                </div>
                            </div>
                            <div class="w-full mb-4">
                                <div class="grid grid-cols-2 gap-2">
                                    <div class="col-span-1">
                                        <button class="block w-full bg-pink-darken text-white rounded-md py-2 text-lg">Save</button>
                                    </div>
                                    <div class="col-span-1">
                                        <button @click.prevent="cancel" class="lock w-full bg-pink-darken text-white rounded-md py-2 text-lg">Cancel & return</button>
                                    </div>
                                </div>
                            </div>
                            <div class="w-full mb-4">
                                <span class="text-red-700 underline text-shadom-lg text-base">Notes:</span>
                                <ol class="w-full list-decimal list-outside text-red-500 text-sm text-shadow-md pl-4">
                                    <li>
                                        <span>
                                            If an image dimension is bigger than expected the system will auto-crop the image.
                                        </span>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</app-layout>
</template>

<script>
import AppLayout from '@/Layouts/AppLayout'
import JetNavLink from '@/Jetstream/NavLink'
import Welcome from '@/Jetstream/Welcome'
import Treeselect from '@riophae/vue-treeselect'
import '@riophae/vue-treeselect/dist/vue-treeselect.css'
import FileUploader from 'laravel-file-uploader';

export default {
    components: {
        AppLayout,
        JetNavLink,
        Welcome,
        Treeselect,
        FileUploader,
    },

    props: ['categories', 'mode', 'data', 'title'],

    data() {
        return {
            titles: {
                en: null !== this.data ? this.data.titles.en : '',
                hk: null !== this.data ? this.data.titles.hk : '',
                cn: null !== this.data ? this.data.titles.cn : '',
            },
            descriptions: {
                en: null !== this.data ? this.data.descriptions.en : '',
                hk: null !== this.data ? this.data.descriptions.hk : '',
                cn: null !== this.data ? this.data.descriptions.cn : '',
            },
            banners: null !== this.data ? this.data.banners : this.emptyBanners(),
            tokens: [],
            parent_id: null !== this.data ? this.data.parent_id : null,
            code: null !== this.data ? this.data.code : null,
            slug: null !== this.data ? this.data.slug : null,
            featured: null !== this.data ? this.data.featured : false,
            commission: null !== this.data ? this.data.commission : 0.0,
            normalizer(node){
                return {
                    id: node.id,
                    label: node.locale.title
                }
            },
        }
    },

    computed: {

    },

    mounted() {
        // console.log(this.data);
    },

    methods: {
        uploaded: function () {
            // console.log(this.tokens);
        },
        emptyBanners: function(){
            return {
                en: {
                    desktop: [],
                    tablet: [],
                    mobile: []
                },
                hk: {
                    desktop: [],
                    tablet: [],
                    mobile: []
                },
                cn: {
                    desktop: [],
                    tablet: [],
                    mobile: []
                },
            };
        },
        modified: function(){
            if(this.mode === 'create'){
                return false;
            }
            return true;
        },
        cancel: function(){
            let url = this.route('admin.categories.index');
            let confirmed = true;

            if(this.modified()){
                confirmed = confirm('Do you really want to leave? you have unsaved changes!');
            }

            if(confirmed){
                this.$inertia.get(url);
            }else{
                return false;
            }
        },
        submit: function () {
            const params = {
                titles: this.titles,
                parent_id: this.parent_id,
                slug: this.slug,
                code: this.code,
                descriptions: this.descriptions,
                tokens: this.tokens,
            };
            if(this.featured){
                params.featured = true;
            }
            let url = this.mode === 'create' ? this.route('admin.categories.store') : (this.mode === 'update' ? this.route('admin.categories.update', {category: this.data.id}) : null);

            if (!url) {
                alert('The form cannot continue! Error!');
            }

            if(this.mode === 'create'){
                this.$inertia.post(url, params);
            }

            if(this.mode === 'update'){
                this.$inertia.put(url, params);
            }
        },
    },
}
</script module>

<style>
.vs__dropdown-toggle {
    border: 0;
}
</style>
