<template>
<app-layout>
    <template #header>
        <h2 class="font-semibold text-xl text-gray-800 leading-tight">
            {{ title }}
        </h2>
    </template>

    <div class="py-12">
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg p-2 h-full">
                <div v-if="Object.keys(this.$page.errors).length" class="block w-full py-4 pl-4 border border-red-700 mb-8">
                    <h3 class="text-2xl text-red-700">Oops! There are some errors</h3>
                    <ul>
                        <li v-for="(error, index) in this.$page.errors">
                            <span class="text-red-700">{{ error }}</span>
                        </li>
                    </ul>
                </div>
                <form @submit.prevent="submit">
                    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 divide-x divide-gray-500">
                        <div class="col-span-1 lg:col-span-2">
                            <div class="grid grid-cols-1 lg:grid-cols-4 gap-4">
                                <div class="col-span-1 lg:col-span-4">
                                    <h4 class="text-lg text-pink-strongest underline block w-full">Product name</h4>
                                    <span class="text-xs italic text-gray-500 block w-full">Only fill the product's name without the brand.</span>
                                </div>
                                <div class="col-span-1 lg:col-span-3">
                                    <label class="block">
                                        <span class="text-gray-700">English</span>
                                        <input type="text" class="form-input mt-1 block w-full rounded-md" v-model="name['en']" />
                                    </label>
                                </div>
                                <div class="col-span-1 lg:col-span-3">
                                    <label class="block">
                                        <span class="text-gray-700">Traditional Chinese</span>
                                        <input type="text" class="form-input mt-1 block w-full rounded-md" v-model="name['zn-HK']" />
                                    </label>
                                </div>
                                <div class="col-span-1 lg:col-span-3">
                                    <label class="block">
                                        <span class="text-gray-700">Simplified Chinese</span>
                                        <input type="text" class="form-input mt-1 block w-full rounded-md" v-model="name['zn-CN']" />
                                    </label>
                                </div>
                            </div>
                            <div class="w-full border-t border-gray-500 my-4"></div>
                            <div class="grid grid-cols-1 lg:grid-cols-4 gap-4">
                                <div class="col-span-1 lg:col-span-4">
                                    <h4 class="text-lg text-pink-strongest underline block w-full">Product Description</h4>
                                    <span class="text-xs italic text-gray-500 block w-full">Describe the product as best as possible.</span>
                                </div>
                                <div class="col-span-1 lg:col-span-3">
                                    <label class="block">
                                        <span class="text-gray-700">English</span>
                                        <textarea class="form-textarea mt-1 block w-full rounded-md" rows="3" v-model="description['en']"></textarea>
                                    </label>
                                </div>
                                <div class="col-span-1 lg:col-span-3">
                                    <label class="block">
                                        <span class="text-gray-700">Traditional Chinese</span>
                                        <textarea class="form-textarea mt-1 block w-full rounded-md" rows="3" v-model="description['zh-HK']"></textarea>
                                    </label>
                                </div>
                                <div class="col-span-1 lg:col-span-3">
                                    <label class="block">
                                        <span class="text-gray-700">Simplified Chinese</span>
                                        <textarea class="form-textarea mt-1 block w-full rounded-md" rows="3" v-model="description['zh-CN']"></textarea>
                                    </label>
                                </div>
                                <!--
                                <div class="col-span-1"></div>
                                <div class="col-span-1">
                                    <file-uploader :media="logo" :unlimited="false" :max="1" collection="brand-logo" name="brand-logo" :tokens="tokens" label="Banner Logo" notes="120 x 80 (jpeg, png,jpg)" accept="image/jpeg,image/png,image/jpg" @complete="uploaded()"></file-uploader>
                                </div>
                                <div class="col-span-1"></div>
                                <div class="col-span-1"></div>
                                -->
                            </div>
                            <div class="w-full border-t border-gray-500 my-4"></div>
                            <div class="grid grid-cols-1 lg:grid-cols-5 gap-4">
                                <div class="col-span-1 lg:col-span-5">
                                    <h4 class="text-lg text-pink-strongest underline block w-full">Product Images</h4>
                                    <span class="text-xs italic text-gray-500 block w-full">Please upload the product images.</span>
                                </div>
                                <!--
                                <div class="col-span-1"></div>
                                -->
                                <div class="col-span-1 lg:col-span-2">
                                    <file-uploader :media="images.thumbnail" :unlimited="false" :max="1" collection="product-thumbnail" name="product-thumbnail" :tokens="tokens" label="Thumbnail (Main image)" notes="400 x 400 (jpeg, png, jpg)" accept="image/jpeg,image/png,image/jpg" @complete="uploaded()"></file-uploader>
                                </div>
                                <div class="col-span-1 lg:col-span-3">
                                    <file-uploader :media="images.gallery" :unlimited="false" :max="5" collection="product-gallery" name="product-gallery" :tokens="tokens" label="Gallery (Other images)" notes="400 x 400 (jpeg, png, jpg)" accept="image/jpeg,image/png,image/jpg" @complete="uploaded()"></file-uploader>
                                </div>
                            </div>
                            <div class="w-full border-t border-gray-500 my-4"></div>
                        </div>
                        <div class="col-span-1 lg:pl-4">
                            <fixed-header :threshold="360" class="hidden lg:block">
                                <div class="w-full">
                                    <label class="block mb-4">
                                        <span class="text-gray-700 mb-2">Location</span>
                                        <treeselect v-model="location" :options="countries" :searchable="true" class="border border-gray-700 rounded-md" :placeholder="'Select brand location'" :normalizer="normalizeCountries">
                                            <label slot="option-label" slot-scope="{ node, shouldShowCount, count, labelClassName, countClassName }" :class="labelClassName">
                                                ({{ node.raw.code }}) {{ node.raw.name }}
                                                <span v-if="shouldShowCount" :class="countClassName">({{ count }})</span>
                                            </label>
                                            <div slot="value-label" slot-scope="{ node }">{{ node.raw.name }}</div>
                                        </treeselect>
                                    </label>
                                    <label class="block mb-4">
                                        <span class="text-gray-700 mb-2">Categories</span>
                                        <treeselect v-model="categories" :options="cats" :searchable="true" :show-count="true" :multiple="true" class="border border-gray-700 rounded-md" :placeholder="'Select categories this brand belongs (multiple categories is available)'" :normalizer="normalizer" value-consists-of="ALL_WITH_INDETERMINATE">
                                            <label slot="option-label" slot-scope="{ node, shouldShowCount, count, labelClassName, countClassName }" :class="labelClassName">
                                                {{ node.raw.code }}: {{ node.raw.locale.title }}
                                                <span v-if="shouldShowCount" :class="countClassName">({{ count }})</span>
                                            </label>
                                            <div slot="value-label" slot-scope="{ node }">{{ node.raw.code }} - {{ node.raw.locale.title }}</div>
                                        </treeselect>
                                    </label>
                                    <label class="block mb-4">
                                        <span class="text-gray-700">Slug</span>
                                        <input type="text" class="form-input mt-1 block w-full rounded-md" v-model="slug" :disabled="mode === 'create'" :placeholder="mode === 'create' ? 'This field will automatically filled' : ''" />
                                    </label>
                                    <div class="w-full mb-4">
                                        <div class="grid grid-cols-2 gap-2">
                                            <div class="col-span-1">
                                                <button class="block w-full bg-pink-darken text-white rounded-md py-2 text-lg">Save</button>
                                            </div>
                                            <div class="col-span-1">
                                                <button @click.prevent="cancel" class="lock w-full bg-pink-darken text-white rounded-md py-2 text-lg">Cancel & return</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w-full mb-4">
                                        <span class="text-red-700 underline text-shadom-lg text-base">Notes:</span>
                                        <ol class="w-full list-decimal list-outside text-red-500 text-sm text-shadow-md pl-4">
                                            <li>
                                                <span>
                                                    If an image dimension is bigger than expected the system will auto-crop the image.
                                                </span>
                                            </li>
                                            <li>
                                                <span>
                                                    Product's location must be filled.
                                                </span>
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </fixed-header>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</app-layout>
</template>

<script>
import AppLayout from '@/Layouts/AppLayout'
import JetNavLink from '@/Jetstream/NavLink'
import Welcome from '@/Jetstream/Welcome'
import FileUploader from 'laravel-file-uploader';
import Treeselect from '@riophae/vue-treeselect'
import '@riophae/vue-treeselect/dist/vue-treeselect.css'
import FixedHeader from 'vue-fixed-header'

export default {
    components: {
        AppLayout,
        JetNavLink,
        Welcome,
        FileUploader,
        Treeselect,
        FixedHeader,
    },

    props: ['mode', 'data', 'title', 'countries', 'cats'],

    data() {
        return {
            name: {
                'en': null,
                'zh-HK': null,
                'zh-CN': null,
            },
            description: {
                'en': null,
                'zh-HK': null,
                'zh-CN': null,
            },
            images: {
                thumbnail: [],
                gallery: [],
            },
            location: null,
            categories: null,
            tokens: [],
            slug: null,
            normalizeCountries(node) {
                return {
                    id: node.code,
                    label: node.code + ' ' + node.name,
                }
            },
            normalizer(node) {
                return {
                    id: node.id,
                    label: node.locale ? node.code + ': ' + node.locale.title : '',
                }
            },
        }
    },

    computed: {

    },

    mounted() {
        // console.log(this.data);
    },

    methods: {
        uploaded: function () {
            // console.log(this.tokens);
        },
        modified: function () {
            if(this.mode === 'create'){
                return false;
            }
            return true;
        },
        cancel: function () {
            let url = this.route('admin.products.index');
            let confirmed = true;

            if (this.modified()) {
                confirmed = confirm('Do you really want to leave? you have unsaved changes!');
            }

            if (confirmed) {
                this.$inertia.get(url);
            } else {
                return false;
            }
        },
        submit: function () {
            const params = {
                titles: this.titles,
                slug: this.slug,
                description: this.description,
                tokens: this.tokens,
                location: this.location,
                categories: this.categories,
            };
            let url = this.mode === 'create' ? this.route('admin.products.store') : (this.mode === 'update' ? this.route('admin.products.update', {
                brand: this.data.id
            }) : null);

            if (!url) {
                alert('The form cannot continue! Error!');
            }

            if (this.mode === 'create') {
                this.$inertia.post(url, params);
            }

            if (this.mode === 'update') {
                this.$inertia.put(url, params);
            }
        },
    },
}
</script>

<style>
.vs__dropdown-toggle {
    border: 0;
}

.vue-fixed-header--isFixed {
    position: fixed;
    top: 1rem;
    width: 26%;
    z-index: 99;
}
</style>
