<template>
<app-layout>
    <template #header>
        <h2 class="font-semibold text-xl text-gray-800 leading-tight">
            {{ title }}
        </h2>
    </template>

    <div class="py-12">
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg p-2 h-full">
                <div v-if="Object.keys(this.$page.errors).length" class="block w-full py-4 pl-4 border border-red-700 mb-8">
                    <h3 class="text-2xl text-red-700">Oops! There are some errors</h3>
                    <ul>
                        <li v-for="(error, index) in this.$page.errors">
                            <span class="text-red-700">{{ error }}</span>
                        </li>
                    </ul>
                </div>
                <form @submit.prevent="submit">
                    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 divide-x divide-gray-500">
                        <div class="col-span-1 lg:col-span-2">
                            <div class="grid grid-cols-1 lg:grid-cols-4 gap-4">
                                <div class="col-span-1 lg:col-span-3">
                                    <label class="block">
                                        <span class="text-gray-700">Label (English)</span>
                                        <input type="text" class="form-input mt-1 block w-full rounded-md" v-model="labels['en']" />
                                    </label>
                                </div>
                                <div class="col-span-1 lg:col-span-3">
                                    <label class="block">
                                        <span class="text-gray-700">Label (Traditional Chinese)</span>
                                        <input type="text" class="form-input mt-1 block w-full rounded-md" v-model="labels['zh-HK']" />
                                    </label>
                                </div>
                                <div class="col-span-1 lg:col-span-3">
                                    <label class="block">
                                        <span class="text-gray-700">Label (Simplified Chinese)</span>
                                        <input type="text" class="form-input mt-1 block w-full rounded-md" v-model="labels['zh-CN']" />
                                    </label>
                                </div>
                                <div class="col-span-1"></div>
                                <div class="col-span-1">
                                    <file-uploader :media="images.en" :unlimited="false" :max="1" collection="tag-img-en" name="tag-img-en" :tokens="tokens" label="Tag Image EN" notes="150 x 150 (transparent png)" accept="image/png" @complete="uploaded()"></file-uploader>
                                </div>
                                <div class="col-span-1">
                                    <file-uploader :media="images.hk" :unlimited="false" :max="1" collection="tag-img-hk" name="tag-img-hk" :tokens="tokens" label="Tag Image HK" notes="150 x 150 (transparent png)" accept="image/png" @complete="uploaded()"></file-uploader>
                                </div>
                                <div class="col-span-1">
                                    <file-uploader :media="images.cn" :unlimited="false" :max="1" collection="tag-img-cn" name="tag-img-cn" :tokens="tokens" label="Tag Image CN" notes="150 x 150 (transparent png)" accept="image/png" @complete="uploaded()"></file-uploader>
                                </div>
                            </div>
                            <div class="w-full border-t border-gray-500 my-4"></div>
                        </div>
                        <div class="col-span-1 lg:pl-4">
                            <label class="block mb-4">
                                <span class="text-gray-700">Access</span>
                                <select v-model="access" class="form-select block w-full border border-gray-500 rounded-md" placeholder="Select how the coupon will be applied">
                                    <option disabled value="">Select who can use this tag</option>
                                    <option v-for="(label, value) in accesses" :key="value" :value="value">{{ label }}</option>
                                </select>
                            </label>
                            <label class="block mb-4 inline-flex items-center">
                                <input type="checkbox" class="sr-only" v-model="published" />
                                <span class="form-checkbox text-pink-darken border" aria-hidden="true"></span>
                                <span class="ml-2">Published</span>
                            </label>
                            <div class="w-full mb-4">
                                <div class="grid grid-cols-2 gap-2">
                                    <div class="col-span-1">
                                        <button class="block w-full bg-pink-darken text-white rounded-md py-2 text-lg">Save</button>
                                    </div>
                                    <div class="col-span-1">
                                        <button @click.prevent="cancel" class="lock w-full bg-pink-darken text-white rounded-md py-2 text-lg">Cancel & return</button>
                                    </div>
                                </div>
                            </div>
                            <div class="w-full mb-4">
                                <span class="text-red-700 underline text-shadom-lg text-base">Notes:</span>
                                <ol class="w-full list-decimal list-outside text-red-500 text-sm text-shadow-md pl-4">
                                    <li>
                                        <span>
                                            If an image dimension is bigger than expected the system will auto-crop the image.
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            Tag images should have transparent background or it will block product's image.
                                        </span>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</app-layout>
</template>

<script>
import AppLayout from '@/Layouts/AppLayout'
import JetNavLink from '@/Jetstream/NavLink'
import Welcome from '@/Jetstream/Welcome'
import FileUploader from 'laravel-file-uploader';

export default {
    components: {
        AppLayout,
        JetNavLink,
        Welcome,
        FileUploader,
    },

    props: ['mode', 'data', 'title', 'countries', 'cats'],

    data() {
        return {
            labels: {
                'en': null !== this.data ? this.data.label['en'] : '',
                'zh-HK': null !== this.data ? this.data.label['zh-HK'] : '',
                'zh-CN': null !== this.data ? this.data.label['zh-CN'] : '',
            },
            accesses: {
                all: 'Admins & Vendors',
                admin: 'Admin only',
                vendor: 'Vendor only',
            },
            access: null !== this.data ? this.data.access : '',
            images: null !== this.data ? this.data.images : [],
            tokens: [],
            published: null !== this.data ? this.data.published : false,
        }
    },

    computed: {

    },

    mounted() {
        // console.log(this.data);
    },

    methods: {
        uploaded: function () {
            // console.log(this.tokens);
        },
        modified: function(){
            if(this.mode === 'create'){
                return false;
            }
            return true;
        },
        cancel: function(){
            let url = this.route('admin.tags.index');
            let confirmed = true;

            if(this.modified()){
                confirmed = confirm('Do you really want to leave? you have unsaved changes!');
            }

            if(confirmed){
                this.$inertia.get(url);
            }else{
                return false;
            }
        },
        submit: function () {
            const params = {
                labels: this.labels,
                published: this.published,
                access: this.access,
                tokens: this.tokens,
            };
            let url = this.mode === 'create' ? this.route('admin.tags.store') : (this.mode === 'update' ? this.route('admin.tags.update', {
                tag: this.data.id
            }) : null);

            if (!url) {
                alert('The form cannot continue! Error!');
            }

            if (this.mode === 'create') {
                this.$inertia.post(url, params);
            }

            if (this.mode === 'update') {
                this.$inertia.put(url, params);
            }
        },
    },
}
</script>

<style>
.vs__dropdown-toggle {
    border: 0;
}
</style>
