<template>
<app-layout>
    <template #header>
        <h2 class="font-semibold text-xl text-gray-800 leading-tight">
            {{ title }}
        </h2>
    </template>

    <div class="py-12">
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg p-2 h-full">
                <div v-if="Object.keys(this.$page.errors).length" class="block w-full py-4 pl-4 border border-red-700 mb-8">
                    <h3 class="text-2xl text-red-700">Oops! There are some errors</h3>
                    <ul>
                        <li v-for="(error, index) in this.$page.errors">
                            <span class="text-red-700">{{ error }}</span>
                        </li>
                    </ul>
                </div>
                <!-- <p class="text-pink-darken">{{ trans.get('__JSON__.還在等') }}？{{ trans.get('__JSON__.立即為你的商品做推廣啦') }}!</p> -->
                    <p class="text-pink-darken text-center text-xl">{{ trans.get('__JSON__.加盟商申請') }}#ID[{{ id }}]</p>


                <form @submit.prevent="submit">
                       <p class="text-pink-darken mt-4 my-2 text-lg border-b border-pink-darken">
                             {{ trans.get('__JSON__.基本信息') }}
                         </p>
                   <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 divide-x divide-gray-500">
                        <!-- <p class="text-pink-darken">{{ trans.get('__JSON__.還在等') }}？{{ trans.get('__JSON__.立即為你的商品做推廣啦') }}!</p> -->
                        <div class="col-span-1 lg:col-span-2">
                            <div class="grid grid-cols-1 lg:grid-cols-4 gap-4">
                                <div class="col-span-1 lg:col-span-2">
                                    <label class="block">
                                        <span class="text-gray-700">{{ trans.get('__JSON__.公司名稱')+' ('+trans.get('__JSON__.英語')+') ' }} : {{ company_name_en }} </span>
                                    </label>
                                </div>
                                <div class="col-span-1 lg:col-span-2">
                                    <label class="block">
                                        <span class="text-gray-700">{{ trans.get('__JSON__.公司名稱')+' ('+trans.get('__JSON__.中文')+') ' }} : {{ company_name_ch }} </span>
                                    </label>
                                </div>
                                <div class="col-span-1 lg:col-span-2">
                                    <label class="block">
                                        <span class="text-gray-700">{{  trans.get('__JSON__.公司註冊證書編號') }} : {{incorporation_palce  }} </span>
                                    </label>
                                </div>
                                <div class="col-span-1 lg:col-span-2">
                                    <label class="block">
                                        <span class="text-gray-700">{{ trans.get('__JSON__.公司註冊證書編號') }} : {{ incorporation_no }} </span>
                                    </label>
                                </div>
                                <div class="col-span-1 lg:col-span-2">
                                    <label class="block">
                                        <span class="text-gray-700">{{ trans.get('__JSON__.公司名稱')+' ('+trans.get('__JSON__.中文')+') ' }} : {{ company_name_ch }} </span>
                                    </label>
                                </div>
                                <div class="col-span-1 lg:col-span-2">
                                    <label class="block">
                                        <span class="text-gray-700">{{ trans.get('__JSON__.公司名稱')+' ('+trans.get('__JSON__.中文')+') ' }} : {{ company_name_ch }} </span>
                                    </label>
                                </div>
                                <div class="col-span-1 lg:col-span-2">
                                    <label class="block">
                                        <span class="text-gray-700">{{ trans.get('__JSON__.公司名稱')+' ('+trans.get('__JSON__.中文')+') ' }} : {{ company_name_ch }} </span>
                                    </label>
                                </div>
                                <div class="col-span-1 lg:col-span-2">
                                    <label class="block">
                                        <span class="text-gray-700">{{ trans.get('__JSON__.公司名稱')+' ('+trans.get('__JSON__.中文')+') ' }} : {{ company_name_ch }} </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                   </div>
                      <p class="text-pink-darken mt-4 my-2 text-lg border-b border-pink-darken">
                            {{ trans.get('__JSON__.地址') }}
                         </p>
                   <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 divide-x divide-gray-500">
                        <!-- <p class="text-pink-darken">{{ trans.get('__JSON__.還在等') }}？{{ trans.get('__JSON__.立即為你的商品做推廣啦') }}!</p> -->
                        <div class="col-span-1 lg:col-span-2">
                            <div class="grid grid-cols-1 lg:grid-cols-4 gap-4">
                                <div class="col-span-1 lg:col-span-2">
                                    <label class="block">
                                        <span class="text-gray-700">{{ trans.get('__JSON__.公司名稱') }} : {{ business_name }} </span>
                                    </label>
                                </div>
                                <div class="col-span-1 lg:col-span-2">
                                    <label class="block">
                                        <span class="text-gray-700">{{ trans.get('__JSON__.公司網站') }} : {{ componay_website }} </span>
                                    </label>
                                </div>
                                <div class="col-span-1 lg:col-span-2">
                                    <label class="block">
                                        <span class="text-gray-700">{{  trans.get('__JSON__.街道與建築物') }} : {{ street  }} </span>
                                    </label>
                                </div>
                                <div class="col-span-1 lg:col-span-2">
                                    <label class="block">
                                        <span class="text-gray-700">{{ trans.get('__JSON__.區') }} : {{ district }} </span>
                                    </label>
                                </div>
                                <div class="col-span-1 lg:col-span-2">
                                    <label class="block">
                                        <span class="text-gray-700">{{ trans.get('__JSON__.國家')+' ('+trans.get('__JSON__.中文')+') ' }} : {{ country }} </span>
                                    </label>
                                </div>
                                <div class="col-span-1 lg:col-span-2">
                                    <label class="block">
                                        <span class="text-gray-700">{{ trans.get('__JSON__.商業登記號碼')+' ('+trans.get('__JSON__.中文')+') ' }} : {{ business_registation_no }} </span>
                                    </label>
                                </div>
                                <div class="col-span-1 lg:col-span-2">
                                    <label class="block">
                                        <span class="text-gray-700">{{  (trans.get('__JSON__.BR到期日'))  }} : {{ br_date }} </span>
                                    </label>
                                </div>
                                <div class="col-span-1 lg:col-span-2">
                                    <label class="block">
                                        <span class="text-gray-700">{{ trans.get('__JSON__.公司名稱')+' ('+trans.get('__JSON__.中文')+') ' }} : {{ company_name_ch }} </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                   </div>

                     <p class="text-pink-darken mt-4 my-2 text-lg border-b border-pink-darken">
                             {{ trans.get('__JSON__.基本信息') }}
                         </p>
                   <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 divide-x divide-gray-500">
                        <!-- <p class="text-pink-darken">{{ trans.get('__JSON__.還在等') }}？{{ trans.get('__JSON__.立即為你的商品做推廣啦') }}!</p> -->
                        <div class="col-span-1 lg:col-span-2">
                            <div class="grid grid-cols-1 lg:grid-cols-4 gap-4">
                                <div class="col-span-1 lg:col-span-2">
                                    <label class="block">
                                        <span class="text-gray-700">{{ trans.get('__JSON__.公司名稱')+' ('+trans.get('__JSON__.英語')+') ' }} : {{ company_name_en }} </span>
                                    </label>
                                </div>
                                <div class="col-span-1 lg:col-span-2">
                                    <label class="block">
                                        <span class="text-gray-700">{{ trans.get('__JSON__.公司名稱')+' ('+trans.get('__JSON__.中文')+') ' }} : {{ company_name_ch }} </span>
                                    </label>
                                </div>
                                <div class="col-span-1 lg:col-span-2">
                                    <label class="block">
                                        <span class="text-gray-700">{{  trans.get('__JSON__.公司註冊證書編號') }} : {{incorporation_palce  }} </span>
                                    </label>
                                </div>
                                <div class="col-span-1 lg:col-span-2">
                                    <label class="block">
                                        <span class="text-gray-700">{{ trans.get('__JSON__.公司註冊證書編號') }} : {{ incorporation_no }} </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                   </div>
                     <p class="text-pink-darken mt-4 my-2 text-lg border-b border-pink-darken">
                             {{ trans.get('__JSON__.基本信息') }}
                         </p>
                   <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 divide-x divide-gray-500">
                        <!-- <p class="text-pink-darken">{{ trans.get('__JSON__.還在等') }}？{{ trans.get('__JSON__.立即為你的商品做推廣啦') }}!</p> -->
                        <div class="col-span-1 lg:col-span-2">
                            <div class="grid grid-cols-1 lg:grid-cols-4 gap-4">
                                <div class="col-span-1 lg:col-span-2">
                                    <label class="block">
                                        <span class="text-gray-700">{{ trans.get('__JSON__.公司名稱')+' ('+trans.get('__JSON__.英語')+') ' }} : {{ company_name_en }} </span>
                                    </label>
                                </div>
                                <div class="col-span-1 lg:col-span-2">
                                    <label class="block">
                                        <span class="text-gray-700">{{ trans.get('__JSON__.公司名稱')+' ('+trans.get('__JSON__.中文')+') ' }} : {{ company_name_ch }} </span>
                                    </label>
                                </div>
                                <div class="col-span-1 lg:col-span-2">
                                    <label class="block">
                                        <span class="text-gray-700">{{  trans.get('__JSON__.公司註冊證書編號') }} : {{incorporation_palce  }} </span>
                                    </label>
                                </div>
                                <div class="col-span-1 lg:col-span-2">
                                    <label class="block">
                                        <span class="text-gray-700">{{ trans.get('__JSON__.公司註冊證書編號') }} : {{ incorporation_no }} </span>
                                    </label>
                                </div>
                                <div class="col-span-1 lg:col-span-2">
                                    <label class="block">
                                        <span class="text-gray-700">{{ trans.get('__JSON__.公司名稱')+' ('+trans.get('__JSON__.中文')+') ' }} : {{ company_name_ch }} </span>
                                    </label>
                                </div>


                            </div>
                        </div>
                   </div>



                 <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 divide-x divide-gray-500">
                        <div class="col-span-1 lg:pl-4">
                            <label class="block mb-4">
                            </label>
                            <div class="w-full mb-4">
                                <div class="grid grid-cols-3 gap-2">
                                    <div class="col-span-1">
                                        <button class="block w-full bg-pink-darken text-white rounded-md py-2 text-lg">Accept </button>
                                    </div>
                                    <div class="col-span-1">
                                        <button class="block w-full bg-red text-white rounded-md py-2 text-lg">Reject</button>
                                    </div>

                                </div>
                            </div>
                            <div class="w-full mb-4">
                                <span class="text-red-700 underline text-shadom-lg text-base">Notes:By Clcking  Reject .The Vendor will Delete from the system </span>
                                <ol class="w-full list-decimal list-outside text-red-500 text-sm text-shadow-md pl-4">
                                    <li class="hidden">
                                        <span>
                                            If an image dimension is bigger than expected the system will auto-crop the image.
                                        </span>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</app-layout>
</template>

<script>
import AppLayout from '@/Layouts/AppLayout'
import JetNavLink from '@/Jetstream/NavLink'
import Welcome from '@/Jetstream/Welcome'
import FileUploader from 'laravel-file-uploader';
import Treeselect from '@riophae/vue-treeselect'
import '@riophae/vue-treeselect/dist/vue-treeselect.css'

export default {
    components: {
        AppLayout,
        JetNavLink,
        Welcome,
        FileUploader,
        Treeselect,
    },

    props: ['mode', 'data', 'title', 'countries', 'cats'],

    data() {
        return {
            // titles: {
            //     en: null !== this.data ? this.data.titles: '',
            //     zh: null !== this.data ? this.data.titles : '',

            // },


            id: null !== this.data ? this.data.id : '',
            company_name_en: null !== this.data ? this.data.company_name_en : '',
            company_name_ch: null !== this.data ? this.data.company_name_ch : '',
            incorporation_palce: null !== this.data ? this.data.incorporation_palce : '',
            incorporation_no: null !== this.data ? this.data.incorporation_no : '',
            business_name: null !== this.data ? this.data.business_name : '',
            componay_website: null !== this.data ? this.data.componay_website : '',
            floor: null !== this.data ? this.data.floor : '',
            street: null !== this.data ? this.data.street : '',
            district: null !== this.data ? this.data.district : '',
            br_file: null !== this.data ? this.data.br_file : '',
            componay_photo: null !== this.data ? this.data.componay_photo : '',
            country: null !== this.data ? this.data.country : '',
            business_registation_no: null !== this.data ? this.data.business_registation_no : '',
            br_date: null !== this.data ? this.data.br_date : '',
            online_shop_status: null !== this.data ? this.data.online_shop_status : '',
            product_qty: null !== this.data ? this.data.product_qty : '',
            registrant_name: null !== this.data ? this.data.registrant_name : '',
            registrant_contact_number: null !== this.data ? this.data.registrant_contact_number : '',
            registrant_posotion: null !== this.data ? this.data.registrant_posotion : '',
            registrant_email: null !== this.data ? this.data.registrant_email : '',
            contact_name: null !== this.data ? this.data.contact_name : '',
            contact_email: null !== this.data ? this.data.contact_email : '',
            mobileno_contact: null !== this.data ? this.data.mobileno_contact : '',
            // status: null !== this.data ? this.data.status : '',
            // contact_person_position: null !== this.data ? this.data.contact_person_position : '',




             tokens: [],

            normalizeCountries(node){
                return {
                    id: node.code,
                    label: node.code+' '+node.name,
                }
            },
            normalizer(node){
                return {
                    id: node.id,
                    label: node.locale ? node.code+': '+node.locale.title : '',
                }
            },
        }
    },

    computed: {

    },

    mounted() {
        console.log(this.data.company_name_en);
    },

    methods: {
        uploaded: function () {
            console.log(this.tokens);
        },
        submit: function () {
            const params = {
                titles: this.titles,
                slug: this.slug,
                description: this.description,
                tokens: this.tokens,
                location: this.location,
                categories: this.categories,
            };
            let url = this.mode === 'create' ? this.route('admin.brands.store') : (this.mode === 'update' ? this.route('admin.brands.update', {brand: this.data.id}) : null);

            if (!url) {
                alert('The form cannot continue! Error!');
            }

            if(this.mode === 'create'){
                this.$inertia.post(url, params);
            }

            if(this.mode === 'update'){
                this.$inertia.put(url, params);
            }
        },
    },
}
</script>

<style module>
.vs__dropdown-toggle {
    border: 0;
}
</style>
