<template>
<div class="container mx-auto my-8 py4 px-2 md:px-3 lg:px-4 xl:px-8 relative">
	<inertia-link :href="url">
		<img v-lazy="banner" class="w-full h-auto">
	</inertia-link>
</div>
</template>

<script>
export default {
	name: 'gs-banner',
	
	props: ['banner', 'url'],

    data() {
        return {}
	},
	
    methods: {}
}
</script>

<style scoped>
</style>
