<template>
    <div>
        <div class="py-3 mx-auto bg-pink-bordering"></div>
        <div class="px-5 py-8 mx-auto ">
            <p class="text-pink-darken sm:text-2xl text-xl"> {{ trans.get('__JSON__.還未成為會員') }} ？</p>
            <p class="text-pink-darken tracking-wider py-10 sm:text-xl text-lg"> {{ trans.get('__JSON__.成為 Girlssecrets 的會員，可以盡享購物樂趣及為您帶來更多驚喜優惠') }}！</p>
            <inertia-link :href="route('register.open', {type: 'member'})" class="text-lg rounded-md w-2/4 py-3 mt-7 bg-pink-strong focus:outline-none block text-center text-white"> {{ trans.get('__JSON__.立即註冊') }} </inertia-link>
        </div>
        <div class="py-10 bg-pink-lightest "></div>
        <div class="mx-auto">
            <div class="py-3 mx-auto bg-pink-bordering"></div>
            <div class="px-5 pt-8 pb-16 lg:pb-8">
                <p class="text-pink-darken sm:text-2xl text-xl"> {{ trans.get('__JSON__.還未成為企業客戶') }}？</p>
                <p class="text-pink-darken tracking-wider py-9  sm:text-xl text-lg">{{ trans.get('__JSON__.成為 Girlssecrets 的企業客戶，可以享有不同的企業優惠') }}！</p>
                <inertia-link :href="route('register.open', {type: 'corporate'})" class="text-lg rounded-md w-2/4 py-3 mt-7 focus:outline-none bg-pink-strong block text-center text-white"> {{ trans.get('__JSON__.立即註冊') }} </inertia-link>
            </div>
        </div>
    </div>
</template>
