<template>
    <div class="mb-5 navbar md:hidden bg-pink-mobnavpink py-2 flex flex-row overflow-x-auto whitespace-nowrap overscroll-x-contain max-w-full">
        <div v-bind:class="{ 'item-focus': active_mem_li == 'storefront.vip-membership-plan'}" class="flex-grow flex-auto py-2 px-4 text-center align-middle text-base font-medium text-link-brown">
            <inertia-link class="flex justify-between text-pink-strong" :href="route('storefront.vip-membership-plan')">
                <span v-bind:class="{ 'text-pink-darken': active_mem_li == 'storefront.vip-membership-plan', 'font-bold': active_mem_li == 'storefront.vip-membership-plan', 'text-base': active_mem_li == 'storefront.vip-membership-plan'}">{{ trans.get('__JSON__.VIP會員計劃') }}</span>
            </inertia-link>
        </div>
        <div v-bind:class="{ 'item-focus': active_mem_li == 'storefront.order-record'}" class="flex-grow flex-auto py-2 px-4 text-center align-middle text-base font-medium text-link-brown">
              <inertia-link class="flex justify-between text-pink-strong" :href="route('storefront.order-record')">
                <span v-bind:class="{ 'text-pink-darken': active_mem_li == 'storefront.order-record', 'font-bold': active_mem_li == 'storefront.order-record', 'text-base': active_mem_li == 'storefront.order-record'}">{{ trans.get('__JSON__.訂單紀錄') }}</span>
            </inertia-link>
        </div>
        <div v-bind:class="{ 'item-focus': active_mem_li == 'storefront.coupon-codes'}" class="flex-grow flex-auto py-2 px-4 text-center align-middle text-base font-medium text-link-brown">
            <inertia-link class="flex justify-between text-pink-strong" :href="route('storefront.coupon-codes')">
                <span v-bind:class="{ 'text-pink-darken': active_mem_li == 'storefront.coupon-codes', 'font-bold': active_mem_li == 'storefront.coupon-codes', 'text-base': active_mem_li == 'storefront.coupon-codes'}">{{ trans.get('__JSON__.優惠碼、電子卷及搶購優惠') }}</span>
            </inertia-link>
        </div>
        <div v-bind:class="{ 'item-focus': active_mem_li == 'storefront.shipping-address'}"  class="flex-grow flex-auto py-2 px-4 text-center align-middle text-base font-medium text-link-brown">
            <inertia-link class="flex justify-between text-pink-strong" :href="route('storefront.shipping-address')">
                <span v-bind:class="{ 'text-pink-darken': active_mem_li == 'storefront.shipping-address', 'font-bold': active_mem_li == 'storefront.shipping-address', 'text-base': active_mem_li == 'storefront.shipping-address'}">{{ trans.get('__JSON__.送貨地址') }}</span>
            </inertia-link>
        </div>
        <div v-bind:class="{ 'item-focus': active_mem_li == 'storefront.gps-activity-link-sharing'}" class="flex-grow flex-auto py-2 px-4 text-center align-middle text-base font-medium text-link-brown">
            <inertia-link class="flex justify-between text-pink-strong" :href="route('storefront.gps-activity-link-sharing')">
                <span v-bind:class="{ 'item-focus': active_mem_li == 'storefront.gps-activity-link-sharing', 'text-pink-darken': active_mem_li == 'storefront.gps-activity-link-sharing', 'font-bold': active_mem_li == 'storefront.gps-activity-link-sharing', 'text-base': active_mem_li == 'storefront.gps-activity-link-sharing'}">{{ trans.get('__JSON__.GPS運動及連結分享記錄') }}</span>
            </inertia-link>
        </div>
        <div v-bind:class="{ 'item-focus': active_mem_li == 'storefront.account-details'}" class="flex-grow flex-auto py-2 px-4 text-center align-middle text-base font-medium text-link-brown">
            <inertia-link class="flex justify-between text-pink-strong" :href="route('storefront.account-details')">
                <span v-bind:class="{ 'text-pink-darken': active_mem_li == 'storefront.account-details', 'font-bold': active_mem_li == 'storefront.account-details', 'text-base': active_mem_li == 'storefront.account-details'}">{{ trans.get('__JSON__.帳戶資料') }}</span>
            </inertia-link>
        </div>
        <div v-bind:class="{ 'item-focus': active_mem_li == 'storefront.promotion-news'}" class="flex-grow flex-auto py-2 px-4 text-center align-middle text-base font-medium text-link-brown">
            <inertia-link class="flex justify-between text-pink-strong" :href="route('storefront.promotion-news')">
                <span v-bind:class="{ 'text-pink-darken': active_mem_li == 'storefront.promotion-news', 'font-bold': active_mem_li == 'storefront.promotion-news', 'text-base': active_mem_li == 'storefront.promotion-news'}">{{ trans.get('__JSON__.優惠資訊通知') }}</span>
            </inertia-link>
        </div>
        <div v-bind:class="{ 'item-focus': active_mem_li == 'storefront.product-review'}" class="flex-grow flex-auto py-2 px-4 text-center align-middle text-base font-medium text-link-brown">
            <inertia-link class="flex justify-between text-pink-strong" :href="route('storefront.product-review')">
                <span v-bind:class="{ 'text-pink-darken': active_mem_li == 'storefront.product-review', 'font-bold': active_mem_li == 'storefront.product-review', 'text-base': active_mem_li == 'storefront.product-review'}">{{ trans.get('__JSON__.我的商品評論') }}</span>  
            </inertia-link>
        </div>
    </div>
</template>

<script>
import CartSlider from '@/StoreTemplates/CartSlider'
import FixedHeader from 'vue-fixed-header'

export default {

    name: 'mobile-header',

    components: {
        CartSlider,
        FixedHeader,
    },

    data() {
        return {
            memberMenuActive: false,
            amount: this.$page.cart.amount,
            active_mem_li:route().current()
        }
    },

    computed: {
        bonus: function () {
            let diff = this.$page.bonus.freeShipping.amount - this.amount;
            return this.$page.bonus.freeShipping.currency + diff;
        },
    },

    methods: {
        toggleMobileMenuMembership: function () {
            this.memberMenuActive = !this.memberMenuActive;
        },
        calculateFreeShipping: function (amount) {
            let diff = this.$page.bonus.freeShipping.amount - amount;
            this.bonus = this.$page.bonus.freeShipping.currency + diff;
        },
    },
    mounted() {
         
        // console.log(focused);
        const focused = document.querySelector('.item-focus');

        this.$nextTick(() => focused.scrollIntoView());
        //focused.scrollIntoView({ behavior: 'smooth' })
    }
}
</script>

<style>
.navbar.vue-fixed-header--isFixed {
    background-color: #f5eeee;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 99;
}
</style>
