<template>
    <div>
        <vue-slider
            v-model="value1"
            :min-range="1"
            :max-range="5"
            :min="min" 
            :max="max" 
            :railStyle="slider.rail" 
            :processStyle="slider.proc"
            :dotOptions="slider.dot" 
        ></vue-slider>
    </div>
</template>

<script>
import VueSlider from 'vue-slider-component'
import 'vue-slider-component/theme/default.css'

export default {
	name: 'cart-slider',
	
	components: {
		VueSlider,
	},

    props: ['min', 'max', 'amount'],

    data: function () {
      return {
            slider: {
                dot: {
                    style: {
                        backgroundColor: '#C28891',
                        borderWidth: '3px',
                        borderColor: '#CACACA',
                        width: '20px',
                        height: '20px',
                        transform: 'translate(-3px, -3px)',
                    },
                },
                rail: {
                    backgroundColor: '#F1F1F1',
                    height: '7px',
                    border: '1px solid #9D9D9D',
                    color: '#C12B57'
                },
                 proc: {
                    backgroundColor: '#C12B57',
                    height: '7px'
                }
            },
            value1: [1, 2]
        }
    }
}
</script>

<style module>
</style>
