<template>
<div>
    <div class="container my-8">
        <div class="grid xl:grid-cols-4 xl:gap-10 lg:grid-cols-3 lg:gap-8 grid-cols-2 gap-8">
            <div v-for="(item, key) in products.data" :key="key">
                <div class="py-1  bg-white relative w-full">
                    <inertia-link :href="route('storefront.product')">
                        <div class="flex flex-wrap px-4 gap-y-4 break-words absolute w-full">
                            <div v-if="trans.locale == 'en' && key%2 == 0" class="w-1/3">
                                <img src="/images/icons/tag-01-eng.svg" class="md:max-h-12 sm:max-h-20  max-h-16 mx-auto">
                            </div>
                            <div v-if="trans.locale == 'zh-HK' && key%2 == 0" class="w-1/3">
                                <img src="/images/icons/tag-01-trad.svg" class="md:max-h-12 sm:max-h-20  max-h-16 mx-auto">
                            </div>
                            <div v-if="trans.locale == 'zh-CN' && key%2 == 0" class="w-1/3">
                                <img src="/images/icons/tag-01-sim.svg" class="md:max-h-12 sm:max-h-20  max-h-16 mx-auto">
                            </div>
                            <div v-if="trans.locale == 'en' && key%3 == 0" class="w-1/3">
                                <img src="/images/icons/tag-02-eng.svg" class="md:max-h-12 sm:max-h-20  max-h-16 mx-auto">
                            </div>
                            <div v-if="trans.locale == 'zh-HK' && key%3 == 0" class="w-1/3">
                                <img src="/images/icons/tag-02-trad.svg" class="md:max-h-12 sm:max-h-20  max-h-16 mx-auto">
                            </div>
                            <div v-if="trans.locale == 'zh-CN' && key%3 == 0" class="w-1/3">
                                <img src="/images/icons/tag-02-sim.svg" class="md:max-h-12 sm:max-h-20  max-h-16 mx-auto">
                            </div>
                            <div v-if="trans.locale == 'en' && key%6 == 0" class="w-1/3">
                                <img src="/images/icons/tag-03-eng.svg" class="md:max-h-12 sm:max-h-20  max-h-16 mx-auto">
                            </div>
                            <div v-if="trans.locale == 'zh-HK' && key%6 == 0" class="w-1/3">
                                <img src="/images/icons/tag-03-trad.svg" class="md:max-h-12 sm:max-h-20  max-h-16 mx-auto">
                            </div>
                            <div v-if="trans.locale == 'zh-CN' && key%6 == 0" class="w-1/3">
                                <img src="/images/icons/tag-03-sim.svg" class="md:max-h-12 sm:max-h-20  max-h-16 mx-auto">
                            </div>
                            <div v-if="trans.locale == 'en' && key%5 == 0" class="w-1/3">
                                <img src="/images/icons/tag-04-eng.svg" class="md:max-h-12 sm:max-h-20  max-h-16 mx-auto">
                            </div>
                            <div v-if="trans.locale == 'zh-HK' && key%5 == 0" class="w-1/3">
                                <img src="/images/icons/tag-04-trad.svg" class="md:max-h-12 sm:max-h-20  max-h-16 mx-auto">
                            </div>
                            <div v-if="trans.locale == 'zh-CN' && key%5 == 0" class="w-1/3">
                                <img src="/images/icons/tag-04-sim.svg" class="md:max-h-12 sm:max-h-20  max-h-16 mx-auto">
                            </div>
                            <div v-if="trans.locale == 'en'" class="w-1/3">
                                <img src="/images/icons/tag-05-eng.svg" class="md:max-h-12 sm:max-h-20  max-h-16 mx-auto">
                            </div>
                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                <img src="/images/icons/tag-05-trad.svg" class="md:max-h-12 sm:max-h-20  max-h-16 mx-auto">
                            </div>
                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                <img src="/images/icons/tag-05-sim.svg" class="md:max-h-12 sm:max-h-20  max-h-16 mx-auto">
                            </div>
                            <div v-if="trans.locale == 'en'" class="w-1/3">
                                <img src="/images/icons/tag-06-eng.svg" class="md:max-h-12 sm:max-h-20  max-h-16 mx-auto">
                            </div>
                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                <img src="/images/icons/tag-06-trad.svg" class="md:max-h-12 sm:max-h-20  max-h-16 mx-auto">
                            </div>
                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                <img src="/images/icons/tag-06-sim.svg" class="md:max-h-12 sm:max-h-20  max-h-16 mx-auto">
                            </div>
                            <div v-if="trans.locale == 'en'" class="w-1/3">
                                <img src="/images/icons/tag-07-eng.svg" class="md:max-h-12 sm:max-h-20  max-h-16 mx-auto">
                            </div>
                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                <img src="/images/icons/tag-07-trad.svg" class="md:max-h-12 sm:max-h-20  max-h-16 mx-auto">
                            </div>
                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                <img src="/images/icons/tag-07-sim.svg" class="md:max-h-12 sm:max-h-20  max-h-16 mx-auto">
                            </div>
                        </div>
                        <div class="h-50 w-full">
                            <img class="w-full h-full" src="/images/icons/product.svg">
                        </div>
                    </inertia-link>
                </div>
                <div class="mt-2 p-2 pr-0 bg-pink-item">
                    <div class="pr-2">
                        <inertia-link :href="route('storefront.product')">
                            <p class="text-grey-strong font-medium">ARMANI</p>
                            <p class="text-grey-strong font-medium">輕紗柔緻精華粉底液</p>
                        </inertia-link>
                        <p class="text-grey-strong text-xs"> 30ML</p>
                        <p class="text-grey-thin pt-2 text-xs"> {{ trans.get('__JSON__.已售出 2,000+') }} </p>
                        <div class="flex items-center">
                            <star-rating v-model="stars" :increment="0.5" :star-size="14" :rating="stars" :read-only="true" :show-rating="false"></star-rating>
                            <span class="text-blue-light pl-1 ml-2 border-l border-blue-light text-xs mt-1.5"> (23) </span>
                        </div>
                        <p class="text-blue-lighter mt-2 text-xs"> {{ trans.get('__JSON__.有倉存') }}</p>
                    </div>
                    <div class="flex sm:flex-row flex-col">
                        <div class="pr-1 sm:w-6/12 w-full">
                            <p class="text-grey-thin py-1 text-xs break-words"><del>HK$693.00</del></p>
                            <p class="text-purple-light font-medium sm:text-lg text-xs break-words">HK$488.80</p>
                        </div>
                        <div class="py-1 sm:w-6/12 w-full">
                            <div v-if="key%7 == 0" class="pl-3 py-1 pr-0 rounded-l-3xl m-auto bg-pink-700">
                                <p class="text-white text-xs break-words">{{ trans.get('__JSON__.商戶FANS價') }}</p>
                                <p class="text-white font-medium break-words  text-sm">HK$450.00</p>
                            </div>
                        </div>
                    </div>
                    <div class="pr-2">
                        <p class="flex items-center text-grey-thin px-1 text-xs"><img class="w-4 mr-1" src="/images/icons/product-home.svg">{{ trans.get('__JSON__.商店名稱') }}</p>
                    </div>
                </div>
                <div class="w-full relative">
                    <span v-bind:title="trans.get('__JSON__.分享此產品給你的朋友')" class="h-8 rounded-b-lg px-0.5 w-8 mx-0.5 inline-block hover:text-left hover:w-inherit-width hover:absolute bg-pink-product group">
                        <img class="h-full w-8 group-hover:w-8 float-left" src="/images/icons/shareicon.svg">
                        <span class="h-8 text-xs hidden relative group-hover:overflow-hidden items-center justify-center group-hover:flex  self-center text-pink-dark">
                            <p class="px-1 m-auto">{{ trans.get('__JSON__.分享此產品給你的朋友') }}</p>
                        </span>
                    </span>
                    <span v-bind:title="trans.get('__JSON__.加入我的心水清單')" class="h-8 rounded-b-lg px-0.5 w-8 mx-0.5 inline-block hover:text-left hover:w-inherit-width hover:absolute bg-pink-product group">

                        <img class="h-full w-8 group-hover:w-8 float-left" src="/images/icons/hearticon.svg">
                        <span class="h-8 text-xs hidden relative group-hover:overflow-hidden items-center justify-center group-hover:flex self-center text-pink-dark">
                            <p class="px-1 m-auto">{{ trans.get('__JSON__.加入我的心水清單') }}</p>
                        </span>

                    </span>
                    <span v-bind:title="trans.get('__JSON__.加入購物車')" class="h-8 rounded-b-lg px-0.5 w-8 mx-0.5 inline-block hover:text-left hover:w-inherit-width hover:absolute bg-pink-product group">
                        <img class="h-full w-8 group-hover:w-8 float-left" src="/images/icons/carticon.svg">
                        <span class="h-8 text-xs hidden relative group-hover:overflow-hidden items-center justify-center group-hover:flex self-center text-pink-dark">
                            <p class="px-1 m-auto">{{ trans.get('__JSON__.加入購物車') }}</p>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="container my-8">
        <pagination :links="products.links" :min="1"></pagination>
    </div>
</div>
</template>

<script>
import StarRating from 'vue-star-rating';
import Pagination from '@/Shared/Pagination'

export default {
    name: 'product-list',

    components: {
        StarRating,
        Pagination,
    },

    props: ['products'],

    data() {
        return {
            stars: 3.5,
            pagination: {
                first: true,
                previous: true,
                one: 1,
                two: 2,
                active: 2,
                three: 3,
                four: 4,
                dots: true,
                minusthree: 26,
                minustwo: 27,
                minusone: 28,
                next: true,
                last: true
            },
        }
    },

    mounted() {
        console.log(this.products);
    },

    methods: {}
}
</script>

<style scoped>
</style>
