<template>
<div>
    <vue-slider v-model="amount" :contained="true" :min="min" :max="max" :disabled="true" :clickable="false" :dotOptions="slider.dot" :marks="slider.marks" :railStyle="slider.rail" :processStyle="slider.proc"></vue-slider>
</div>
</template>

<script>
import VueSlider from 'vue-slider-component'
import 'vue-slider-component/theme/default.css'

export default {
	name: 'shopping-cart-slider',
	
	components: {
		VueSlider,
	},

	props: ['min', 'max', 'amount'],

    data() {
        return {
			slider: {
                dot: {
                    style: {
                        backgroundColor: '#707c9d',
                        borderWidth: '5px',
                        borderColor: 'rgba(0,0,0,65%)',
                        width: '20px',
                        height: '20px',
                        transform: 'translate(-3px, -3px)',
                    },
                },
                marks: {
                    '0': {
                        label: '',
                        style: {
                            backgroundColor: '#707c9d',
                            borderWidth: '5px',
                            borderColor: 'rgba(0,0,0,65%)',
                            width: '20px',
                            height: '20px',
                            transform: 'translate(-7px, -7px)',
                            display: 'block',
                        },
                    },
                    '100': {
                        label: '',
                        style: {
                            backgroundColor: '#707c9d',
                            borderWidth: '5px',
                            borderColor: 'rgba(0,0,0,65%)',
                            width: '20px',
                            height: '20px',
                            transform: 'translate(-7px, -7px)',
                            display: 'block',
                        },
                    },
                },
                rail: {
                    backgroundColor: '#f2f2f2',
                    height: '10px',
                    borderColor: '#c8c0c3',
                    borderWidth: '2px'
                },
                proc: {
                    backgroundColor: '#ccbd97',
                    height: '10px'
                },
            },
		}
	},
	
    methods: {}
}
</script>

<style module>
</style>
