<template>
    <div class="container mx-auto px-0 lg:px-4 xl:px-8">
        <div class="block w-full bg-white md:hidden px-4 fixed bottom-0 sm:h-10vh h-auto">
            <div class="grid grid-cols-5">
                <div class="text-center py-4">
                    <inertia-link class="" :href="route('storefront.page', {slug: 'online-support'})">
                        <img src="/images/icons/mobile/support.svg" class="w-4/12 h-auto mx-auto">
                        <span class="text-brown-link text-xs leading-tight">{{ trans.get('__JSON__.線上查詢') }}</span>
                    </inertia-link>
                </div>
                <div class="text-center py-4">
                    <inertia-link class="" :href="route('storefront.page', {slug: 'wishlist'})">
                        <img src="/images/icons/mobile/wishlist.svg" class="w-4/12 h-auto mx-auto">
                        <span class="text-brown-link text-xs leading-tight">{{ trans.get('__JSON__.我的清單') }}</span>
                    </inertia-link>
                </div>
                <div class="text-center py-4">
                    <inertia-link class="" :href="route('storefront.home')">
                        <img src="/images/icons/mobile/home.svg" class="w-4/12 h-auto mx-auto">
                        <span class="text-brown-link text-xs leading-tight">{{ trans.get('__JSON__.主頁') }}</span>
                    </inertia-link>
                </div>
                <div class="text-center py-4">
                    <inertia-link class="" :href="route('storefront.page', {slug: 'live-chat'})">
                        <img src="/images/icons/mobile/live.svg" class="w-4/12 h-auto mx-auto">
                        <span class="text-brown-link text-xs leading-tight">{{ trans.get('__JSON__.直播專區') }}</span>
                    </inertia-link>
                </div>
                <div class="text-center py-4">
                    <!-- <inertia-link class="" :href="route('dashboard.settings')"> -->
                        <img @click="open_setting_modal" src="/images/icons/mobile/settings.svg" class="w-4/12 h-auto mx-auto">
                        <span class="text-brown-link text-xs leading-tight">{{ trans.get('__JSON__.帳戶設定') }}</span>
                    <!-- </inertia-link> -->
                </div>
            </div>
        </div>
        <footer class="hidden md:block bg-footer bg-cover bg-no-repeat bg-opacity-70 relative">
            <div class="bg-pink-300 bg-opacity-40 grid md:grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 md:px-16 xl:px-16 px-4 lg:px-24 lg:py-2 md:py-2 xl:py-2">
                <div class="py-4 px0 md:px-4 lg:px-8 xl:px-2 lg:col-span-2 xl:col-span-1">
                    <inertia-link href="/" class="bg-pink-dark ">
                        <img src="/images/logo/clean-white.png" class="h-auto w-10/12">
                    </inertia-link>
                </div>
                <div class="py-4 text-center">
                    <inertia-link :href="route('storefront.page', {slug: 'exclusive-wrapper'})">
                        <svg class="fill-current text-gray-100 shadow-custom" xmlns="http://www.w3.org/2000/svg" width="34.017" height="39" viewBox="0 0 34.017 39">
                            <path id="Path_3631" data-name="Path 3631" d="M1990.326,6463.159v-.735a2,2,0,0,1,2.211-2.211h2.238a2,2,0,0,1,2.21,2.211v.735a2,2,0,0,1-2.21,2.21h-2.238A2,2,0,0,1,1990.326,6463.159Zm-7.817,2.422a13.463,13.463,0,0,0,6.393-.583,4.44,4.44,0,0,1-.378-1.839v-.735a3.9,3.9,0,0,1,1.5-3.244,13.5,13.5,0,0,0-5.483-3.115,33.443,33.443,0,0,1-4.165,7.212A2.644,2.644,0,0,0,1982.509,6465.581Zm16.278-3.157v.735a4.521,4.521,0,0,1-.367,1.842,13.439,13.439,0,0,0,6.385.58,33.377,33.377,0,0,1,.85-8.281,2.645,2.645,0,0,0-2.887-1.235,13.482,13.482,0,0,0-5.47,3.1A3.875,3.875,0,0,1,1998.787,6462.424Zm-2.421,30.585-2.711-1.669-2.77,1.669v-14.688H1978.1V6495h31.117v-16.679h-12.848Zm9.91-25.728h-25.242a4.389,4.389,0,0,0-4.387,4.386v4.839h34.017v-4.839A4.388,4.388,0,0,0,2006.276,6467.281Z" transform="translate(-1976.647 -6456)" fill="#fff" />
                        </svg>
                        <span class="text-white inline ml-4 top-1 shadow-custom relative text-xl">{{ trans.get('__JSON__.會員專享禮物包裝') }}</span>
                    </inertia-link>
                </div>
                <div class="py-4 text-center">
                    <inertia-link :href="route('register.open', {type: 'vendor'})">
                        <svg class="shadow-custom" xmlns="http://www.w3.org/2000/svg" width="44.259" height="38" viewBox="0 0 44.259 38">
                            <path id="Path_3632" data-name="Path 3632" d="M2328.14,6481.857a.667.667,0,0,1-.116-.021v-2.185a2.788,2.788,0,0,1,.28-.035c.116-.008.237-.013.366-.013a2.377,2.377,0,0,1,.491.048,1.16,1.16,0,0,1,.428.173.92.92,0,0,1,.3.332,1.05,1.05,0,0,1,.116.525,1.33,1.33,0,0,1-.12.607.916.916,0,0,1-.324.361,1.285,1.285,0,0,1-.456.179,2.905,2.905,0,0,1-.515.048h-.121c-.054,0-.111,0-.169,0S2328.193,6481.862,2328.14,6481.857Zm-22.923,13.643h29.392v-3.847h-29.392Zm16.561-11.89a1.332,1.332,0,0,0,.458.482,1.223,1.223,0,0,0,.664.172,1.255,1.255,0,0,0,1.089-.548,3.182,3.182,0,0,0,.385-1.783,4.723,4.723,0,0,0-.082-.915,2.6,2.6,0,0,0-.254-.742,1.333,1.333,0,0,0-.455-.5,1.358,1.358,0,0,0-1.772.384,3.192,3.192,0,0,0-.385,1.768,4.874,4.874,0,0,0,.086.939A2.45,2.45,0,0,0,2321.778,6483.61Zm20.242-11.033-2.257.016-19.849-15.093-19.85,15.093-2.256-.016-.024,3.739,3.53.022,18.6-14.142,18.6,14.142,3.529-.022Zm-22.1-7.3,14.693,11.188v13.021h-29.392v-13.059Zm-6.813,18.075a1.663,1.663,0,0,0-.226-.9,2.138,2.138,0,0,0-.569-.606,3.779,3.779,0,0,0-.742-.419c-.266-.118-.513-.23-.742-.339a2.519,2.519,0,0,1-.567-.356.6.6,0,0,1-.227-.482.58.58,0,0,1,.246-.49,1.163,1.163,0,0,1,.708-.184,3.642,3.642,0,0,1,.915.11,2.267,2.267,0,0,1,.634.248l.415-1.109a2.918,2.918,0,0,0-.857-.295,5.837,5.837,0,0,0-1.107-.1,3.508,3.508,0,0,0-.925.114,2.073,2.073,0,0,0-.718.357,1.576,1.576,0,0,0-.466.6,2.036,2.036,0,0,0-.166.853,1.748,1.748,0,0,0,.228.934,2.062,2.062,0,0,0,.568.612,3.884,3.884,0,0,0,.741.415c.266.111.515.221.743.325a2.454,2.454,0,0,1,.567.354.621.621,0,0,1,.227.5.665.665,0,0,1-.312.6,1.709,1.709,0,0,1-.9.2,2.869,2.869,0,0,1-.486-.04c-.158-.025-.307-.057-.447-.094a3.72,3.72,0,0,1-.381-.127,2.521,2.521,0,0,1-.275-.125l-.425,1.127a3.944,3.944,0,0,0,.81.27,5.368,5.368,0,0,0,1.272.135,3.864,3.864,0,0,0,1.006-.125,2.1,2.1,0,0,0,.78-.386,1.756,1.756,0,0,0,.5-.649A2.244,2.244,0,0,0,2313.1,6483.349Zm5.982-4.787h-1.318v2.744H2315.3v-2.744h-1.32v6.743h1.32v-2.822h2.468v2.822h1.318Zm7.621,6.743h1.318v-2.321c.032.006.086.012.159.019s.15.011.227.013.15.006.221.006h.154a3.746,3.746,0,0,0,.969-.125,2.366,2.366,0,0,0,.833-.4,2.069,2.069,0,0,0,.589-.718,2.368,2.368,0,0,0,.221-1.074,2.239,2.239,0,0,0-.256-1.14,1.9,1.9,0,0,0-.659-.686,2.542,2.542,0,0,0-.911-.326,6.173,6.173,0,0,0-1.007-.082c-.321,0-.644.013-.968.043s-.621.069-.89.12Zm-6.666-3.372a5.482,5.482,0,0,0,.173,1.436,3.178,3.178,0,0,0,.524,1.108,2.342,2.342,0,0,0,.891.713,3,3,0,0,0,1.272.25,2.581,2.581,0,0,0,2.115-.91,4,4,0,0,0,.746-2.6,5.519,5.519,0,0,0-.174-1.436,3.146,3.146,0,0,0-.529-1.107,2.379,2.379,0,0,0-.9-.713,3,3,0,0,0-1.261-.25,2.576,2.576,0,0,0-2.12.91A4.018,4.018,0,0,0,2320.04,6481.933Z" transform="translate(-2297.784 -6457.5)" fill="#fff" />
                        </svg>
                        <span class="text-white inline ml-4 top-1 shadow-custom relative text-xl">{{ trans.get('__JSON__.商店加盟資訊及查詢') }}</span>
                    </inertia-link>
                </div>
            </div>
            <div class="bg-pink-300 bg-opacity-40 grid grid-cols-1 md:grid-cols-3 xl:grid-cols-6 md:px-16 xl:px-16 px-4 lg:px-24 lg:py-2 md:py-2 xl:py-2 gap-2">
                <div class="my-4 lg:my-0 md:px-4 lg:px-8 xl:px-2 md:py-4 lg:py-4 xl:py-2 text-center md:text-left">
                    <p class="text-white text-xl md:text-2xl text-shadow-lg">{{ trans.get('__JSON__.購物指南') }}</p>
                    <ul>
                        <li class="" v-for="item in items1" :key="item.name">
                            <inertia-link class="text-white lg:text-base md:text-xl sm-text-base text-shadow-lg" :href="item.url">{{item.name}}</inertia-link>
                        </li>
                    </ul>
                </div>
                <div class="my-4 lg:my-0 md:px-4 lg:px-8 xl:px-2 md:py-4 lg:py-4 xl:py-2 text-center md:text-left">
                    <p class="text-white text-xl md:text-2xl text-shadow-lg">{{ trans.get('__JSON__.關於我們') }}</p>
                    <ul>
                        <li class="" v-for="item in items2" :key="item.name">
                            <inertia-link class="text-white lg:text-base md:text-xl sm-text-base text-shadow-lg" :href="item.url">{{item.name}}</inertia-link>
                        </li>
                    </ul>
                </div>
                <div class="my-4 lg:my-0 md:px-4 lg:px-8 xl:px-2 md:py-4 lg:py-4 xl:py-2 text-center md:text-left">
                    <p class="text-white text-xl md:text-2xl text-shadow-lg">{{ trans.get('__JSON__.資料查詢') }}</p>
                    <ul>
                        <li class="" v-for="item in items3" :key="item.name">
                            <inertia-link class="text-white lg:text-base md:text-xl sm-text-base text-shadow-lg" :href="item.url">{{item.name}}</inertia-link>
                        </li>
                    </ul>
                </div>
                <div class="px-16 lg:px-8 py-4 lg:py-4 xl:py-2">
                    <p class="text-white mb-2 lg:text-xl md:text-2xl lg:mb-6 md:mb-4 text-shadow-lg">{{ trans.get('__JSON__.付款方式') }}</p>
                    <div class="grid grid-cols-3 gap-2">
                        <div class="col-span-2"><img class="w-full h-auto" src="/images/payments/visa.png"></div>
                        <div><img class="w-full h-auto" src="/images/payments/master.png"></div>
                        <div><img class="w-full h-auto" src="/images/payments/paypal.png"></div>
                        <div><img class="w-full h-auto" src="/images/payments/xpay.png"></div>
                        <div><img class="w-full h-auto" src="/images/payments/fps.png"></div>
                        <div><img class="w-full h-auto" src="/images/payments/wepay.png"></div>
                        <div><img class="w-full h-auto" src="/images/payments/alipay.png"></div>
                    </div>
                </div>

                <div class="col-span-1 lg:col-span-2 px-16 md:px-4 lg:px-8 xl:px-16 md:py-2 lg:py-4 xl:py-2">
                    <p class="text-white mb-2 lg:text-xl md:text-2xl lg:mb-6 md:mb-4 text-shadow-lg">{{ trans.get('__JSON__.關注我們') }}</p>
                    <ul>
                        <li class="inline-block mr-2 md:mr-1">
                            <a class="text-white" href="">
                                <svg class="shadow-custom" xmlns="http://www.w3.org/2000/svg" width="36.15" height="36.15" viewBox="0 0 36.15 36.15">
                                    <g id="Group_3019" data-name="Group 3019" transform="translate(-917.372 -7537.036)">
                                        <path id="Path_4147" data-name="Path 4147" d="M935.812,7550.838a4.321,4.321,0,1,0,4.32,4.32A4.319,4.319,0,0,0,935.812,7550.838Z" fill="#fff" />
                                        <path id="Path_4148" data-name="Path 4148" d="M939.675,7544.1h-8.456a6.788,6.788,0,0,0-6.788,6.787v8.456a6.787,6.787,0,0,0,6.788,6.787h8.456a6.788,6.788,0,0,0,6.787-6.787v-8.456A6.789,6.789,0,0,0,939.675,7544.1Zm-3.863,18.243a7.18,7.18,0,1,1,7.181-7.181A7.182,7.182,0,0,1,935.812,7562.339Zm6.684-12.647a1.826,1.826,0,1,1,1.827-1.826A1.826,1.826,0,0,1,942.5,7549.692Z" fill="#fff" />
                                        <path id="Path_4149" data-name="Path 4149" d="M946.1,7537.036H924.8a7.426,7.426,0,0,0-7.425,7.427v21.3a7.426,7.426,0,0,0,7.425,7.425h21.3a7.427,7.427,0,0,0,7.425-7.425v-21.3A7.427,7.427,0,0,0,946.1,7537.036Zm2.982,23.307a8.4,8.4,0,0,1-8.4,8.4H930.215a8.4,8.4,0,0,1-8.4-8.4V7549.88a8.4,8.4,0,0,1,8.4-8.4h10.464a8.4,8.4,0,0,1,8.4,8.4Z" fill="#fff" />
                                    </g>
                                </svg>
                            </a>
                        </li>
                        <li class="inline-block mr-2 md:mr-1">
                            <a class="text-white" href="">
                                <svg class="shadow-custom" width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M28.451 0.619141H7.83801C3.86901 0.619141 0.651001 3.83618 0.651001 7.80518V28.417C0.651001 32.387 3.86901 35.603 7.83801 35.603H19.619V21.688H14.84V16.3018H19.619V12.4971H19.621C19.641 8.85107 20.962 7.60596 20.962 7.60596C22.9 5.08696 25.941 5.16309 25.941 5.16309H26.77H30.777V10.2349H27.55C25.335 10.1969 25.146 12.0721 25.132 12.4971H25.134V16.3018H30.537L29.877 21.688H25.134V35.603H28.451C32.419 35.603 35.636 32.387 35.636 28.417V7.80518C35.636 3.83618 32.419 0.619141 28.451 0.619141Z" fill="white" />
                                </svg>

                            </a>
                        </li>
                        <li class="inline-block mr-2 md:mr-1">
                            <a class="text-white md:h-16" href="">
                                <svg class="shadow-custom" xmlns="http://www.w3.org/2000/svg" width="34.692" height="34.691" viewBox="0 0 34.692 34.691">
                                    <g id="Group_3030" data-name="Group 3030" transform="translate(-1006.453 -7538.43)">
                                        <g id="Group_3029" data-name="Group 3029">
                                            <path id="Path_4158" data-name="Path 4158" d="M1028.03,7557.366a6.369,6.369,0,0,0-2.086-1.4,10.237,10.237,0,0,0-3.941-.8,11.847,11.847,0,0,0-1.855.117,11.449,11.449,0,0,0-2.665.687,8.6,8.6,0,0,0-2.846,1.763,5.206,5.206,0,0,0-1.208,1.676,3.582,3.582,0,0,0-.112,2.758,4.283,4.283,0,0,0,1.252,1.753,6.963,6.963,0,0,0,2.2,1.269,10.534,10.534,0,0,0,3.638.628,13.006,13.006,0,0,0,1.852-.136,11.308,11.308,0,0,0,2.814-.782,8.47,8.47,0,0,0,2.538-1.623,5.282,5.282,0,0,0,1.219-1.669,3.619,3.619,0,0,0,.254-2.361A3.966,3.966,0,0,0,1028.03,7557.366Zm-3.486,4.621a4.192,4.192,0,0,1-1.7,1.965,4.871,4.871,0,0,1-2.8.766,4.124,4.124,0,0,1-2.387-.788,3.156,3.156,0,0,1-1.292-2.059,3.255,3.255,0,0,1,.264-1.934,4.137,4.137,0,0,1,1.361-1.653,4.965,4.965,0,0,1,2.92-.975,4.3,4.3,0,0,1,2.436.706,3.191,3.191,0,0,1,1.192,3.972Z" fill="#fff" />
                                            <path id="Path_4159" data-name="Path 4159" d="M1033.323,7538.43h-19.048a7.822,7.822,0,0,0-7.822,7.822V7565.3a7.822,7.822,0,0,0,7.822,7.822h19.048a7.823,7.823,0,0,0,7.822-7.822v-19.047A7.823,7.823,0,0,0,1033.323,7538.43Zm-.454,23.965a8.674,8.674,0,0,1-1.933,2.04,12.787,12.787,0,0,1-3.438,1.89,15.85,15.85,0,0,1-3.149.811,18.716,18.716,0,0,1-2.855.2,17.6,17.6,0,0,1-2.321-.177,16.385,16.385,0,0,1-2.779-.641,12.086,12.086,0,0,1-3.161-1.533,7.52,7.52,0,0,1-1.8-1.724,5.192,5.192,0,0,1-.956-2.238,5.294,5.294,0,0,1-.021-1.5,8.588,8.588,0,0,1,1.028-3.02,15.108,15.108,0,0,1,1.972-2.783,18.976,18.976,0,0,1,3.669-3.269,12,12,0,0,1,2.6-1.359,6.354,6.354,0,0,1,1.413-.349,3.088,3.088,0,0,1,1.254.078,1.77,1.77,0,0,1,1.292,1.412,3.227,3.227,0,0,1,.009,1.269c-.054.3-.135.592-.2.888-.01.043-.024.086-.032.13-.037.2.057.311.258.291a1.579,1.579,0,0,0,.342-.079c.164-.056.323-.128.486-.19a11.187,11.187,0,0,1,2.185-.612,6.107,6.107,0,0,1,1.527-.078,3.071,3.071,0,0,1,1.079.27,1.809,1.809,0,0,1,1.089,1.666,3.828,3.828,0,0,1-.279,1.472,3.075,3.075,0,0,0-.115.358.285.285,0,0,0,.168.352,1.975,1.975,0,0,0,.294.112,5.819,5.819,0,0,1,1.859.935,3.631,3.631,0,0,1,1.156,1.433,3.269,3.269,0,0,1,.241,1.689A5.022,5.022,0,0,1,1032.869,7562.4Zm-2.824-11.331a1.688,1.688,0,0,0-.325.037.882.882,0,0,1-.346-1.729,3.446,3.446,0,0,1,4.095,2.639,3.136,3.136,0,0,1,.076.711,3.248,3.248,0,0,1-.172,1.1.879.879,0,0,1-1.49.3.862.862,0,0,1-.2-.805c.029-.13.067-.259.083-.391A1.671,1.671,0,0,0,1030.045,7551.064Zm6.8,3.852a1.025,1.025,0,1,1-1.949-.635,5.022,5.022,0,0,0,.235-1.337,5.042,5.042,0,0,0-4.225-5.176,5.223,5.223,0,0,0-1.886.047,1.021,1.021,0,0,1-.4-2,7.085,7.085,0,0,1,8.355,5.205,7.158,7.158,0,0,1,.213,1.675A7.288,7.288,0,0,1,1036.844,7554.916Z" fill="#fff" />
                                            <path id="Path_4160" data-name="Path 4160" d="M1021.72,7559.833a.628.628,0,0,0-.838.428.5.5,0,0,0-.011.145.448.448,0,0,0,.482.4.633.633,0,0,0,.615-.505A.427.427,0,0,0,1021.72,7559.833Z" fill="#fff" />
                                            <path id="Path_4161" data-name="Path 4161" d="M1019.859,7560.472a3.272,3.272,0,0,0-.4-.073c-.133.016-.24.019-.342.042a1.643,1.643,0,0,0-1.254,1.023,1.15,1.15,0,0,0,.832,1.582,1.524,1.524,0,0,0,.828-.03,1.6,1.6,0,0,0,1.127-1.081A1.139,1.139,0,0,0,1019.859,7560.472Z" fill="#fff" />
                                        </g>
                                    </g>
                                </svg>

                            </a>
                        </li>
                        <li class="inline-block mr-2 md:mr-1">
                            <a class="text-white" href="">
                                <svg class="shadow-custom" xmlns="http://www.w3.org/2000/svg" width="34.697" height="34.572" viewBox="0 0 34.697 34.572">
                                    <g id="Group_3025" data-name="Group 3025" transform="translate(-1050.026 -7538.549)">
                                        <path id="Path_4153" data-name="Path 4153" d="M1067.273,7573.114c-3.1,0-6.2.018-9.306,0a7.634,7.634,0,0,1-7.058-4.131,6.95,6.95,0,0,1-.878-3.417c0-6.475-.019-12.951.02-19.427a7.592,7.592,0,0,1,7.492-7.554c4.9-.05,9.8-.019,14.707-.023,1.608,0,3.217-.015,4.825,0a7.66,7.66,0,0,1,7.479,6.046,7.222,7.222,0,0,1,.167,1.537q.006,9.627-.018,19.254a7.737,7.737,0,0,1-7.722,7.722C1073.745,7573.12,1070.509,7573.114,1067.273,7573.114Zm-3.242-11.943a5.262,5.262,0,0,1-.12-.58,11.9,11.9,0,0,1-.15-1.993,6.953,6.953,0,0,1,2.869-5.037,10.246,10.246,0,0,1,5.848-2.115c.357-.023.717,0,1.186,0-.176-.556-.286-1.019-.467-1.453a8.752,8.752,0,0,0-4.293-4.452,11.7,11.7,0,0,0-7.593-1.089,10,10,0,0,0-6.5,3.77,7.086,7.086,0,0,0-.878,7.581,8.461,8.461,0,0,0,2.641,3.2c.528.413.54.466.361,1.117-.133.48-.276.958-.374,1.446a.617.617,0,0,0,.1.51c.113.084.355.022.532-.017a1.384,1.384,0,0,0,.353-.188c.563-.325,1.129-.647,1.689-.979a1.153,1.153,0,0,1,.935-.132c.407.108.818.2,1.232.275A9.245,9.245,0,0,0,1064.031,7561.171Zm9.286-9.159c-.477.028-.956.04-1.431.088a8.7,8.7,0,0,0-5.694,2.679,5.988,5.988,0,0,0-1.674,5.492,6.645,6.645,0,0,0,3.051,4.351,9.71,9.71,0,0,0,7.985,1.239,1.256,1.256,0,0,1,1.038.127c.456.282.921.551,1.4.791a.885.885,0,0,0,.63.116c.261-.118.105-.4.055-.619a9.248,9.248,0,0,0-.273-1.056.7.7,0,0,1,.31-.879,8.755,8.755,0,0,0,1.216-1.133,5.968,5.968,0,0,0,1.348-5.733,6.981,6.981,0,0,0-3.567-4.236A9.975,9.975,0,0,0,1073.317,7552.012Z" fill="#fff" />
                                        <path id="Path_4154" data-name="Path 4154" d="M1060.05,7551.321a1.325,1.325,0,0,1-1.32-1.3,1.363,1.363,0,0,1,1.329-1.313,1.309,1.309,0,1,1-.009,2.618Z" fill="#fff" />
                                        <path id="Path_4155" data-name="Path 4155" d="M1066.894,7551.321a1.282,1.282,0,0,1-1.323-1.285,1.33,1.33,0,0,1,1.3-1.327,1.306,1.306,0,0,1,1.323,1.294A1.321,1.321,0,0,1,1066.894,7551.321Z" fill="#fff" />
                                        <path id="Path_4156" data-name="Path 4156" d="M1076.881,7556.821a1.16,1.16,0,0,1-1.073,1.142,1.1,1.1,0,0,1-1.156-1.093,1.119,1.119,0,0,1,1.086-1.118A1.169,1.169,0,0,1,1076.881,7556.821Z" fill="#fff" />
                                        <path id="Path_4157" data-name="Path 4157" d="M1070.121,7555.765a1.093,1.093,0,0,1,1.1,1.091,1.118,1.118,0,0,1-1.15,1.1,1.1,1.1,0,0,1,.052-2.194Z" fill="#fff" />
                                    </g>
                                </svg>

                            </a>
                        </li>
                        <li class="inline-block">
                            <a class="" href="">
                                <svg class="shadow-custom" xmlns="http://www.w3.org/2000/svg" width="34.751" height="34.641" viewBox="0 0 34.751 34.641">
                                    <g id="Group_3024" data-name="Group 3024" transform="translate(-1093.249 -7538.43)">
                                        <path id="Path_4151" data-name="Path 4151" d="M1110.527,7573.061c-3.2,0-6.4.027-9.594-.008a7.5,7.5,0,0,1-6.651-3.826,7.043,7.043,0,0,1-1.03-3.723q-.008-9.628.019-19.256a7.707,7.707,0,0,1,7.474-7.734c2.333-.083,4.671-.044,7.008-.052q6.291-.023,12.582-.032A7.6,7.6,0,0,1,1128,7546.1q0,9.627-.045,19.256a7.679,7.679,0,0,1-7.317,7.634c-2.161.092-4.327.04-6.491.049-1.207,0-2.413,0-3.62,0Zm-.22-9.14c2.659-.079,4.63-.125,6.6-.2a20.883,20.883,0,0,0,2.514-.217,2.662,2.662,0,0,0,2.209-1.863,7.611,7.611,0,0,0,.351-1.446,39.645,39.645,0,0,0,.162-7.284,16.79,16.79,0,0,0-.386-2.78,2.785,2.785,0,0,0-2.68-2.282c-1.143-.106-2.291-.166-3.438-.2-3.867-.1-7.734-.074-11.6.111-.669.032-1.34.079-2,.176a2.826,2.826,0,0,0-2.464,2.109,8.128,8.128,0,0,0-.3,1.342,45.367,45.367,0,0,0-.153,7.344,15.25,15.25,0,0,0,.181,1.77c.337,2.118,1.184,2.993,3.31,3.127C1105.4,7563.805,1108.2,7563.846,1110.307,7563.921Z" fill="#fff" />
                                        <path id="Path_4152" data-name="Path 4152" d="M1108.34,7552.531l5.916,3.06c-1.992,1.138-3.927,2.17-5.874,3.215A51.828,51.828,0,0,1,1108.34,7552.531Z" fill="#fff" />
                                    </g>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bg-pink-300 bg-opacity-40 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 md:px-8 xl:px-16 lg:px-24 lg:pt-2 md:pt-2 pb-8">
                <div class="px-4 col-span-1 lg:col-span-2 md:px-2 lg:px-2 xl:px-2">
                    <p class="text-white text-center md:text-left copyright px-10 lg:px-2 xl:px-0 lg:py-0 xl:py-0 md:py-4 py-6 text-shadow-lg">Copyright © 2020 GIRLS SECRETS. All Right Reserved. </p>
                </div>
                <div class="px-2 md:px-12 lg:pl-16 lg:pr-0">
                    <button class="text-white w-full bg-pink-500 px-4 py-2 mb-4 rounded-t-lg">{{ trans.get('__JSON__.客戶服務') }}</button>
                </div>
            </div>

            <modal :show="open_setting" @close="open_setting=false">
                <template #content>
                    <div class="height-full h-screen overflow-y-auto mb-20 bg-pink-lightest p-5">
                        <div class="bg-pink-softstrong p-5 mb-5">
                            <div class="px-6 lg:px-1 xl:px-3 lang-selection">
                            <a
                            :href="trans.getLocale() === 'zh-HK' ? '#' : '/lang/zh-HK'"
                            :class="trans.getLocale() === 'zh-HK' ? 'bg-pink-darkest text-pink-lightest' : 'bg-pink text-link-pink'"
                            class="p-2 mx-1 font-bold rounded-lg text-base">
                            繁
                            </a>
                            <a
                            :href="trans.getLocale() === 'zh-CN' ? '#' : '/lang/zh-CN'"
                            :class="trans.getLocale() === 'zh-CN' ? 'bg-pink-darkest text-pink-lightest' : 'bg-pink text-link-pink'"
                            class="p-2 mx-1 font-bold rounded-lg text-base">
                            简
                            </a>
                            <a
                            :href="trans.getLocale() === 'en' ? '#' : '/lang/en'"
                            :class="trans.getLocale() === 'en' ? 'bg-pink-darkest text-pink-lightest' : 'bg-pink text-link-pink'"
                            class="p-2 mx-1 font-bold rounded-lg text-base">
                            EN
                            </a>
                            </div>
                        </div>
                    </div>
                </template>
            </modal>

        </footer>
    </div>
</template>

<script>
import Modal from '@/Jetstream/DialogModal';
export default {
    components: {
        Modal
    },

    props: {},

    mounted() {},

    data() {
        return {
            open_setting:false,
            items1: [
                {
                    name: this.trans.get('__JSON__.新手攻略'),
                    url: this.route('storefront.page', {slug: 'beginner-guide'})
                },
                {
                    name: this.trans.get('__JSON__.教學短片'),
                    url: this.route('storefront.page', {slug: 'video-tutorial'})
                },
                {
                    name: this.trans.get('__JSON__.商品分類'),
                    url: this.route('storefront.page', {slug: 'product-category'})
                },
                {
                    name: this.trans.get('__JSON__.商店列表'),
                    url: this.route('storefront.page', {slug: 'store-list'})
                },
                {
                    name: this.trans.get('__JSON__.評價排行榜'),
                    url: this.route('storefront.page', {slug: 'rating-ranking'})
                },
            ],
            items2: [
                {
                    name: this.trans.get('__JSON__.公司簡介'),
                    url: this.route('storefront.page', {slug: 'company-profile'})
                },
                {
                    name: this.trans.get('__JSON__.人材招募'),
                    url: this.route('storefront.page', {slug: 'talent-acquisition'})
                },
                {
                    name: this.trans.get('__JSON__.廣告查詢'),
                    url: this.route('storefront.page', {slug: 'partners'})
                },
                {
                    name: this.trans.get('__JSON__.使用條款'),
                    url: this.route('storefront.page', {slug: 'advertising-enquiries'})
                },
                {
                    name: this.trans.get('__JSON__.私隱政策'),
                    url: this.route('storefront.page', {slug: 'terms'})
                },
                {
                    name: this.trans.get('__JSON__.隱私政策'),
                    url: this.route('storefront.page', {slug: 'privacy'})
                },
            ],
            items3: [
                {
                    name: this.trans.get('__JSON__.常見問題'),
                    url: this.route('storefront.page', {slug: 'faq'})
                },
                {
                    name: this.trans.get('__JSON__.關於送貨'),
                    url: this.route('storefront.page', {slug: 'shipping-policy'})
                },
                {
                    name: this.trans.get('__JSON__.訂單追蹤'),
                    url: this.route('storefront.page', {slug: 'order-tracking'})
                },
                {
                    name: this.trans.get('__JSON__.企業團購'),
                    url: this.route('storefront.page', {slug: 'group-buying'})
                },
            ]
        }
    },

    watch: {},

    methods: {
        open_setting_modal() {
            this.open_setting = true;
        },
    }
}
</script>

<style module>
.shadow-custom {
    -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
    /* Similar syntax to box-shadow */
}
</style>