@tailwind base;
@tailwind components;
@tailwind utilities;

svg {
    display: inline-block!important;
}
.lang-selection {
    border-color: #736357;
    border-right-width: .135rem;
    border-left-width: .135rem;
}

#nprogress .bar {
    background: #9e9b9c;
    height: 5px;
}
#nprogress .peg {
    box-shadow: 0 0 10px #9e9b9c, 0 0 5px #9e9b9c;
    /* width: 0; */
}
#nprogress .spinner-icon {
    border-top-color: #9e9b9c;
    border-left-color: #9e9b9c;
}
.vue-treeselect__control {
    border: 0!important;
}
[type='text']:focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus {
    outline: 2px;
    outline-offset: 0px;
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #d4acb2;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    border-color: #d4acb2;
}
.vue-treeselect__input:focus {
    outline: 0px;
    outline-offset: 0px;
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: transparent;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    border-color: transparent;
}