<template>
<app-layout>
    <template #header>
        <h2 class="font-semibold text-xl text-gray-800 leading-tight">
            Active Categories List
        </h2>
    </template>

    <div class="py-12">
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg p-2">
                <div class="w-full block py-4">
                    <ul class="w-full list-inside list-none">
                        <li v-for="(parent, index) in categories" :key="index" class="mb-4 pb-8 border-double border-b-4">
                            <span class="w-full text-base text-blue-600 border-b-2 p-4 flex">
                                <span class="text-lg text-pink-darken inline-block w-1/4">{{ parent.locale.title }}</span>: <span class="inline-block font-bold ml-4">{{ ('0' + parent.id).slice(-2) }}</span>
                            </span>
                            <ul v-if="parent.children !== 'undefined'" class="w-11/12 ml-auto list-inside list-none">
                                <li v-for="(sub, index) in parent.children" :key="index">
                                    <span class="w-full text-base text-blue-600 border-b-2 p-4 flex">
                                        <span class="text-lg text-pink-400 inline-block w-1/3">{{ sub.locale.title }}</span>: <span class="inline-block font-bold ml-4">{{ ('0' + sub.id).slice(-2) }}</span>
                                    </span>
                                    <ul v-if="sub.children !== 'undefined'" class="w-11/12 ml-auto list-inside list-none">
                                        <li v-for="(sub2, index) in sub.children" :key="index">
                                            <span class="w-full text-base text-blue-600 border-b-2 p-4 flex">
                                                <span class="text-lg text-pink-600 inline-block w-1/3">{{ sub2.locale.title }}</span>: <span class="inline-block font-bold ml-4">{{ ('0' + sub2.id).slice(-2) }}</span>
                                            </span>
                                            <ul v-if="sub2.children !== 'undefined'" class="w-11/12 ml-auto list-inside list-none">
                                                <li v-for="(sub3, index) in sub2.children" :key="index">
                                                    <span class="w-full text-base text-blue-600 border-b-2 p-4 flex">
                                                        <span class="text-lg text-pink-800 inline-block w-1/3">{{ sub3.locale.title }}</span>: <span class="inline-block font-bold ml-4">{{ ('0' + sub3.id).slice(-2) }}</span>
                                                    </span>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</app-layout>
</template>

<script>
import AppLayout from '@/Layouts/AppLayout'
import JetNavLink from '@/Jetstream/NavLink'

export default {
    components: {
        AppLayout,
        JetNavLink,
    },

    props: ['categories'],

    data() {
        return {

        }
    },

    mounted() {
        // console.log(this.categories.items);
        // this.fetch();
        // console.log(this.cats.data);
    },

    watch: {},

    methods: {},

}
</script>

<style>
.vue-scrollbar .v-table-row {
    min-height: 7rem !important;
}
</style>
