<template>
<div>
    <div class="flex flex-col-reverse lg:flex-row-reverse w-full lg:w-auto float-left">
        <span class="text-pink-700 text-lg">
            {{ category.locale.title }}
        </span>
        <inertia-link :href="route('storefront.category', {type: parent.type})" v-if="null !== parent" class="text-pink-darken text-lg">
            {{ trans.get('__JSON__.全') }}{{ parent.locale.title }}
            <v-icon name="chevron-right" class="mx-1 relative fill-current float-right lg:float-none"></v-icon>
        </inertia-link>
        <inertia-link :href="route('storefront.category', {type:grandparent.type })" v-if="null !== grandparent" class="text-pink-darken text-lg">
            {{ trans.get('__JSON__.全') }}{{ grandparent.locale.title }}
            <v-icon name="chevron-right" class="mx-1 relative fill-current float-right lg:float-none"></v-icon>
        </inertia-link>
        <inertia-link :href="route('storefront.category', {type: greatgrandparent.type})" v-if="null !== greatgrandparent" class="text-pink-darken text-lg">
            {{ trans.get('__JSON__.全') }}{{ greatgrandparent.locale.title }}
            <v-icon name="chevron-right" class="mx-1 relative fill-current float-right lg:float-none"></v-icon>
        </inertia-link>
    </div>
</div>
</template>

<script>
export default {
	name: 'breadcrumb',
	
	props: ['category'],

    data() {
        return {
			parent: this.category.parent.length > 0 ? this.category.parent[0] : null,
            grandparent: this.category.parent.length > 0 && this.category.parent[0].parent.length > 0 ? this.category.parent[0].parent[0] : null,
            greatgrandparent: this.category.parent.length > 0 && this.category.parent[0].parent.length > 0 && this.category.parent[0].parent[0].parent.length > 0 ? this.category.parent[0].parent[0].parent[0] : null,
		}
    },
    methods: {}
}
</script>

<style scoped>
</style>
