<template>
<nav class="w-full" aria-label="Page navigation example" v-if="showPagination">
    <ul class="pagination w-full flex justify-center py-8">
        <li class="page-item p-2 text-sm" v-for="(link, key) in links" :key="key" :class="isActive(link)">
            <inertia-link class="page-link bg-pink-strong w-full py-1.5 sm:px-4 px-2 rounded text-center tracking-widest font-semibold text-white" :href="link.url" v-if="!link.active && (link.label === 'First' || link.label === 'Last')">{{ link.label }}</inertia-link>
            <inertia-link class="page-link bg-grey w-full py-1.5 sm:px-4 px-2 rounded text-center tracking-widest font-semibold text-white" :href="null !== link.url ? link.url : '#'" v-else-if="!link.active && (link.label === 'Previous' || link.label === 'Next')">
                <v-icon :name="link.label === 'Previous' ? 'chevron-left' : 'chevron-right'"></v-icon>
            </inertia-link>
            <inertia-link class="page-link bg-grey-softstrong w-full py-1.5 px-4 rounded text-center tracking-widest font-semibold text-gray-800" :href="link.url" v-else-if="!link.active">{{ link.label }}</inertia-link>
            <inertia-link href="#" class="page-link bg-grey-softstrong disabled:opacity-70 text-sm py-1.5 px-4 rounded text-center tracking-widest font-semibold text-gray-800" v-else @click.prevent="handleNoLink">{{ link.label }}</inertia-link>
        </li>
    </ul>
</nav>
</template>

<script>
export default {
    props: {
		links: Array,
		min: Number,
    },
    computed: {
        showPagination() {
            return this.links.length > this.min;
        }
    },
    methods: {
        isActive(link) {
            return (link.active === true) ? 'active text-link-brown' : 'normal text-white';
        },
        handleNoLink() {
            return false;
        }
    }
}
</script>
