<template>
<app-layout>
    <template #header>
        <h2 class="font-semibold text-xl text-gray-800 leading-tight">
            Product Attributes
        </h2>
    </template>

    <div class="py-12">
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg p-2">
                <div class="w-full block py-4 text-right h-16">
                    <inertia-link :href="route('admin.attributes.create')" class="px-8 py-2 bg-red-400 ring-4 ring-indigo-300 rounded-lg border-2 text-white">
                        Add New Attribute
                    </inertia-link>
                </div>
                <vue-table-dynamic :params="params" ref="brandTable" :key="datatable">
                    <template v-slot:column-4="{ props }">
                        <div class="w-full flex flex-col">
                            <inertia-link class="w-full text-center text-gray-200 bg-indigo-600 rounded-lg py-2 px-4 mx-auto my-2" :href="route('admin.attributes.edit', {attribute: props.cellData})">
                                <v-icon class="fill-current text-gray-200 mr-2" name="pencil-alt"></v-icon> Edit
                            </inertia-link>
                            <inertia-link class="w-full text-center text-gray-200 bg-red-600 rounded-lg py-2 px-4 mx-auto my-2" method="delete" :href="route('admin.attributes.destroy', {attribute: props.cellData})">
                                <v-icon class="fill-current text-gray-200 mr-2" name="trash"></v-icon> Delete
                            </inertia-link>
                        </div>
                    </template>
                </vue-table-dynamic>
            </div>
        </div>
    </div>
</app-layout>
</template>

<script>
import AppLayout from '@/Layouts/AppLayout'
import JetNavLink from '@/Jetstream/NavLink'
import Welcome from '@/Jetstream/Welcome'
import VueTableDynamic from "vue-table-dynamic"

export default {
    components: {
        AppLayout,
        JetNavLink,
        Welcome,
        VueTableDynamic,
    },

    props: ['attributes'],

    data() {
        return {
            params: {
                data: [],
                header: 'row',
                border: true,
                stripe: true,
                showCheck: true,
                enableSearch: true,
                sort: [0, 1, 2],
                pagination: true,
                pageSize: 15,
                pageSizes: [15, 30, 50, 100],
                fixed: 0,
                columnWidth: [{
                    column: 0,
                    width: 160
                }, {
                    column: 1,
                    width: '22.5%'
                }, {
                    column: 2,
                    width: '22.5%'
                }, {
                    column: 3,
                    width: '7.5%'
                },],
                height: 420,
                rowHeight: 140,
            },
            datatable: 0,
        }
    },

    watch: {
        attributes: {
            immediate: true,
            handler(items) {
                // this.datatable++;
                this.distribute(items);
            },
            deep: true,
        },
    },

    mounted() {
        // console.log(this.brands.items.data.length);
    },

    methods: {
        distribute: function (items) {
            console.log(items);
            this.params.data = [];
            this.params.data.push([
                'Title (English)', 'Title (Traditional)', 'Title (Simplified)', 'Symbol', 'Action'
            ]);
            if (items.length > 0) {
                for (const key in items) {
                    if (Object.hasOwnProperty.call(items, key)) {
                        const item = items[key];
                        // console.log(item);
                        this.params.data.push([
                            item.titles.en,
                            item.titles.trad,
                            item.titles.simp,
                            '('+item.symbol+')',
                            item.id
                        ]);
                    }
                }
            }
        },
        fetch: function () {
            this.params.data = [];
            this.params.data.push(['Logo', 'Title (English)', 'Title (Mandarin)', 'Description', 'Action']);
            axios.get(route('admin.brands.fetch')).then(response => {
                // console.log(response);
                if (response.data.items.length > 0) {
                    let items = response.data.items;
                    for (const key in items) {
                        if (Object.hasOwnProperty.call(items, key)) {
                            const item = items[key];
                            // console.log(item);
                            this.params.data.push([
                                item.logo,
                                item.title.en,
                                item.title.zh,
                                item.description,
                                item.id
                            ]);
                        }
                    }
                }
            });
        },
    },

}
</script>

<style module>
.vue-scrollbar .v-table-row {
    min-height: 7rem !important;
}
</style>
