<template>
<app-layout>
    <template #header>
        <h2 class="font-semibold text-xl text-gray-800 leading-tight">
            Categories List
        </h2>
    </template>

    <div class="py-12">
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg p-2">
                <div class="w-full block py-4 text-right h-16">
                    <inertia-link :href="route('admin.categories.create')" class="px-8 py-2 bg-red-400 ring-4 ring-indigo-300 rounded-lg border-2 text-white">
                        Add New Category
                    </inertia-link>
                    <inertia-link :href="route('admin.categories.check')" class="ml-4 px-8 py-2 bg-blue-600 ring-4 ring-gray-500 rounded-lg border-2 text-white">
                        Check Categories
                    </inertia-link>
                </div>
                <vue-table-dynamic :params="cats" ref="catTable" :key="datatable">
                    <template v-slot:column-2="{ props }">
                        <span class="w-full text-center">
                            <v-icon :name="props.cellData[1] ? 'star' : 'regular/star'" class="text-pink-dark cursor-pointer" :class="props.cellData[1] ? 'fill-current' : 'stroke-current'" @click="makeItFeatured(props.cellData[0])"></v-icon>
                        </span>
                    </template>
                    <template v-slot:column-4="{ props }">
                        <div class="w-full flex flex-col">
                            <inertia-link class="w-full text-center text-gray-200 bg-indigo-600 rounded-lg py-2 px-4 mx-auto my-2" :href="route('admin.categories.edit', {category: props.cellData})">
                                <v-icon class="fill-current text-gray-200 mr-2" name="pencil-alt"></v-icon> Edit
                            </inertia-link>
                            <inertia-link class="w-full text-center text-gray-200 bg-red-600 rounded-lg py-2 px-4 mx-auto my-2" method="delete" :href="route('admin.categories.destroy', {category: props.cellData})">
                                <v-icon class="fill-current text-gray-200 mr-2" name="trash"></v-icon> Delete
                            </inertia-link>
                        </div>
                    </template>
                </vue-table-dynamic>
            </div>
        </div>
    </div>
</app-layout>
</template>

<script>
import AppLayout from '@/Layouts/AppLayout'
import JetNavLink from '@/Jetstream/NavLink'
import Welcome from '@/Jetstream/Welcome'
import VueTableDynamic from "vue-table-dynamic"

export default {
    components: {
        AppLayout,
        JetNavLink,
        Welcome,
        VueTableDynamic,
    },

    props: ['categories'],

    data() {
        return {
            cats: {
                data: [],
                header: 'row',
                border: true,
                stripe: true,
                showCheck: true,
                enableSearch: true,
                sort: [0, 1, 3],
                pagination: true,
                pageSize: 15,
                pageSizes: [15, 30, 50, 100],
                fixed: 0,
                columnWidth: [{
                    column: 0,
                    width: 280
                }, {
                    column: 1,
                    width: 280
                }, {
                    column: 2,
                    width: '7.5%'
                }, {
                    column: 4,
                    width: '17.5%'
                }],
                height: 420,
                rowHeight: 140,
            },
            datatable: 0,
        }
    },

    mounted() {
        // console.log(this.categories.items);
        // this.fetch();
        // console.log(this.cats.data);
    },

    watch: {
        categories: {
            immediate: true,
            handler(categories) {
                // this.datatable++;
                this.fetch(categories.items);
            },
            deep: true,
        },
    },

    methods: {
        makeItFeatured: function (id) {
            const params = {
                id: id,
            };
            this.$inertia.put(route('admin.categories.feature'), params);
        },
        fetch: function (items) {
            this.cats.data = [];
            this.cats.data.push(['Name', 'Parent', 'Featured', 'Updated', 'Action']);
            if (items.length > 0) {
                for (const key in items) {
                    if (Object.hasOwnProperty.call(items, key)) {
                        const item = items[key];
                        // console.log(item);
                        this.cats.data.push([
                            item.locale.title,
                            item.parent,
                            [item.id, item.featured],
                            item.updated,
                            item.id
                        ]);
                    }
                }
            }
        },
    },

}
</script>
<style module>
.vue-scrollbar .v-table-row {
    min-height: 7rem !important;
}
</style>