<template>
<app-layout>
    <template #header>
        <h2 class="font-semibold text-xl text-gray-800 leading-tight">
            Coupons
        </h2>
    </template>

    <div class="py-12">
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg p-2">
                <div class="w-full block py-4 text-right h-16">
                    <inertia-link :href="route('admin.coupons.create')" class="px-8 py-2 bg-red-400 ring-4 ring-indigo-300 rounded-lg border-2 text-white">
                        Add New Coupon
                    </inertia-link>
                </div>
                <vue-table-dynamic :params="params" ref="brandTable" :key="datatable">
                    <template v-slot:column-6="{ props }">
                        <div class="w-full flex flex-row flex-wrap">
                            <inertia-link class="w-5/12 text-center text-gray-200 bg-indigo-600 rounded-lg py-2 px-2 ml-0 mr-1 my-2" :href="route('admin.coupons.edit', {coupon: props.cellData[0]})">
                                Edit
                            </inertia-link>
                            <inertia-link v-if="props.cellData[1]" class="w-5/12 text-center text-gray-200 bg-yellow-600 rounded-lg py-2 px-2 ml-0 mr-1 my-2" method="put" :href="route('admin.coupons.deactivate', {coupon: props.cellData[0]})">
                                Deactivate
                            </inertia-link>
                            <inertia-link v-if="!props.cellData[1]" class="w-5/12 text-center text-gray-200 bg-blue-600 rounded-lg py-2 px-2 ml-0 mr-1 my-2" method="put" :href="route('admin.coupons.reactivate', {coupon: props.cellData[0]})">
                                Reactivate
                            </inertia-link>
                            <inertia-link class="w-5/12 text-center text-gray-200 bg-red-600 rounded-lg py-2 px-2 ml-0 mr-1 my-2" method="delete" :href="route('admin.coupons.destroy', {coupon: props.cellData[0]})">
                                Delete
                            </inertia-link>
                        </div>
                    </template>
                </vue-table-dynamic>
            </div>
        </div>
    </div>
</app-layout>
</template>

<script>
import AppLayout from '@/Layouts/AppLayout'
import JetNavLink from '@/Jetstream/NavLink'
import Welcome from '@/Jetstream/Welcome'
import VueTableDynamic from "vue-table-dynamic"

export default {
    components: {
        AppLayout,
        JetNavLink,
        Welcome,
        VueTableDynamic,
    },

    props: ['coupons'],

    data() {
        return {
            params: {
                data: [],
                header: 'row',
                border: true,
                stripe: true,
                showCheck: true,
                enableSearch: true,
                sort: [1, 2, 3, 4, 5],
                pagination: true,
                pageSize: 15,
                pageSizes: [15, 30, 50, 100],
                fixed: 0,
                columnWidth: [{
                    column: 0,
                    width: 100,
                }, {
                    column: 1,
                    width: '17.5%'
                }, {
                    column: 2,
                    width: '17.5%'
                }, {
                    column: 3,
                    width: '17.5%'
                }, {
                    column: 4,
                    width: '6.25%'
                }, {
                    column: 5,
                    width: '6.25%'
                },  {
                    column: 6,
                    width: '17.5%'
                },],
                height: 420,
                rowHeight: 140,
            },
            datatable: 0,
        }
    },

    watch: {
        coupons: {
            immediate: true,
            handler(items) {
                this.distribute(items);
            },
            deep: true,
        },
    },

    mounted() {
        // console.log(this.brands.items.data.length);
    },

    methods: {
        distribute: function (items) {
            // console.log(items);
            this.params.data = [];
            this.params.data.push([
                'Code', 'Type', 'Started At', 'Expires At', 'Stat', 'Disc', 'Action'
            ]);
            if (items.length > 0) {
                for (const key in items) {
                    if (Object.hasOwnProperty.call(items, key)) {
                        const item = items[key];
                        // console.log(item);
                        this.params.data.push([
                            item.code,
                            item.target === 'cart' ? 'Cart Based' : 'Product Based',
                            item.started_at,
                            item.expires_at,
                            item.active ? 'Active' : 'Inactive',
                            item.is_percent ? item.percentage+'%' : '$'+item.percentage,
                            [item.id, item.active],
                        ]);
                    }
                }
            }
        },
    },

}
</script>

<style module>
.vue-scrollbar .v-table-row {
    min-height: 7rem !important;
}
</style>
