<template>
<div class="min-h-screen bg-pink-lightest">
    <!-- Mobile Page Heading -->

    <mobile-header></mobile-header>

    <!-- Page Heading -->
    <div ref="topArea" class="container mx-auto px-0 lg:px-4 xl:px-8 hidden md:block">
        <div class="bg-top-bar bg-cover bg-no-repeat bg-center w-full h-56"></div>
        <user-nav></user-nav>
        <user-cart></user-cart>
        <div class="bg-pink grid grid-cols-5 gap-2 py-4 px-2 sm:px-2 lg:px-6">
            <div class="col-span-2">
                <inertia-link href="/" class="bg-pink-dark" replace>
                    <img src="/images/logo/logo-wide.png" class="w-full max-w-full h-auto">
                </inertia-link>
            </div>
        </div>
        <div class="bg-grey-search grid grid-cols-1 md:grid-cols-4 xl:grid-cols-5 gap-4 py-2 lg:py-4 xl:py-2 px-2 sm:px-2 lg:px-3 xl:px-6">
            <div class="col-start-1 xl:col-start-2 text-right pt-4 pb-0">
                <span class="text-base text-grey-strong" v-html="trans.get('front.search.label')"></span>
            </div>
            <div class="py-1 col-span col-span-1 search">
                <v-select :options="categories" :clearable="false" :searchable="false" :filterable="false" :reduce="category => category.type" :placeholder="trans.get('front.category')" v-model="category" :components="{OpenIndicator}" transition="" label="text"></v-select>
            </div>
            <div class="py-1 col-span md:col-span-2">
                <div class="form-input-group w-full mx-auto">
                    <input type="text" class="form-input form-input-group-left relative rounded-l-lg py-2 border-grey-thin focus:border-grey-thin bg-grey-soft" :placeholder="trans.get('front.search.placeholder')">
                    <div class="form-input-group-right">
                        <button class="bg-pink-strong text-white py-2 px-2 hover:bg-pink-strong rounded-r-lg border-grey-thin focus:border-grey-thin">
                            <v-icon name="search" />
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <fixed-header :threshold="threshold" class="hidden lg:block">
        <div class="navbar">
            <div class="container mx-auto px-0 lg:px-4 xl:px-8">
                <div v-if="null !== $page.mainCategories" class="bg-pink-soft px-4 sm:px-6 lg:px-4 divide-x-2 divide-link-brown flex flex-row overflow-x-auto whitespace-nowrap overscroll-x-contain max-w-full">
                    <div class="flex-grow flex-auto py-2 px-4 text-center align-middle">
                        <inertia-link :href="route('storefront.home')" class="w-full text-link-brown font-bold text-sm">
                            {{ trans.get('front.menu.home') }}
                        </inertia-link>
                    </div>
                    <div v-for="(cat, index) in $page.mainCategories" :key="index" class="flex-grow flex-auto py-2 px-4 text-center align-middle">
                        <inertia-link :href="route('storefront.category', {type: cat.type})" class="w-full text-link-brown font-bold text-sm">
                            {{ cat.locale.title }}
                        </inertia-link>
                    </div>
                </div>
            </div>
        </div>
    </fixed-header>

    <section class="relative h-65vh md:h-auto overflow-auto">
        <!-- Page Heading -->
        <header class="container mx-auto">
            <slot name="header"></slot>
        </header>

        <!-- Page Content -->
        <main>
            <slot></slot>
        </main>
    </section>

    <store-footer></store-footer>

    <!-- Modal Portal -->
    <portal-target name="modal" multiple>
    </portal-target>

</div>
</template>

<script>
import MobileHeader from '@/StoreTemplates/MobileHeader'
import UserNav from '@/StoreTemplates/UserNav'
import UserCartNav from '@/StoreTemplates/UserCartNav'
import StoreFooter from '@/StoreTemplates/StoreFooter'
import FixedHeader from 'vue-fixed-header'
import vSelect from 'vue-select'

export default {
    components: {
        MobileHeader,
        UserNav,
        'user-cart': UserCartNav,
        StoreFooter,
        FixedHeader,
        'v-select': vSelect,
    },

    mounted() {
        // console.log(this.$page.mainCategories);
        let cats = [];
        this.$page.mainCategories.forEach(function (cat, index) {
            cats.push({
                value: cat.type,
                text: cat.locale.title
            });
        });
        this.categories = cats;

        this.calculateHeight();
    },

    props: [],

    data() {
        return {
            threshold: 0,
            category: null,
            categories: [],
            OpenIndicator: {
                render: createElement => createElement('span', {
                    class: {
                        'toggle': true,
                        'caret-down': true
                    }
                }),
            },
        }
    },

    watch: {
        amount: function () {
            this.calculateFreeShipping(this.amount);
        },
    },

    methods: {
        calculateHeight: function () {
            this.threshold = this.$refs.topArea.clientHeight;
            // console.log(this.threshold);
        },
        switchToTeam(team) {
            this.$inertia.put(route('current-team.update'), {
                'team_id': team.id
            }, {
                preserveState: false
            })
        },
    }
}
</script>

<style>
.navbar.vue-fixed-header--isFixed {
    background-color: #f5eeee;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 99;
}

.search .vs__dropdown-toggle {
    background-color: #f1f1f1;
    border: solid 1px #c2c2c2 !important;
    border-radius: .5rem;
    cursor: pointer;
    padding-bottom: 0;
}

.search .vs--unsearchable .vs__search {
    color: #8c8c8c;
    display: initial;
    margin: 0;
    padding: .5rem .45rem;
}

.search span.caret-down {
    background: url(/images/icons/caret-down-white.svg) no-repeat center center;
    background-size: 42%;
    background-color: #d4acb2;
    border: 0 !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 1.275rem;
    filter: none;
}

.form-input-group-left>button,
.form-input-group-right>button {
    padding-left: 0.85rem;
    padding-right: 0.85rem;
}
</style>
