<template>
    <membership-layout>
        <div class="container bg-pink-soft ">
            <div class="border-b border-pink-darken p-10">
                <p class="text-pink-darken text-2xl pb-5">{{ trans.get('__JSON__.帳戶設定') }}</p>
                <div class="grid grid-cols-12 gap-2 py-4">
                    <div class="sm:col-span-3 col-span-12">
                        <p class="text-lg text-pink-darken">{{ trans.get('__JSON__.登入電郵地址') }}:</p>
                    </div>
                    <div class="sm:col-span-9 col-span-12">
                        <input type="text" name="email-address" class="w-full rounded border-pink-darken" />
                    </div>
                </div>

                <div class="grid grid-cols-12 gap-2 py-4">
                    <div class="sm:col-span-3 col-span-12">
                        <p class="text-lg text-pink-darken">{{ trans.get('__JSON__.稱謂') }}:</p>
                    </div>
                    <div class="sm:col-span-3 col-span-4">
                        <input type="radio" id="mr" name="salutation" value="Mr" class="cursor-pointer">
                        <label for="mr" class="text-pink-darken text-lg pl-4 cursor-pointer">{{ trans.get('__JSON__.先生') }}</label>
                    </div>
                    <div class="sm:col-span-3 col-span-4">
                        <input type="radio" id="mrs" name="salutation" value="Mrs" class="cursor-pointer">
                        <label for="mrs" class="text-pink-darken text-lg pl-4 cursor-pointer">{{ trans.get('__JSON__.太太') }}</label>
                    </div>
                    <div class="sm:col-span-3 col-span-4">
                        <input type="radio" id="ms" name="salutation" value="Ms">
                        <label for="ms" class="text-pink-darken text-lg pl-4 cursor-pointer">{{ trans.get('__JSON__.小姐') }}</label>
                    </div>
                </div>

                <div class="grid grid-cols-12 gap-2 py-4">
                    <div class="sm:col-span-3 col-span-12">
                        <p class="text-lg text-pink-darken">{{ trans.get('__JSON__.姓名') }}:</p>
                    </div>
                    <div class="sm:col-span-9 col-span-12">
                        <div class="grid grid-cols-2 gap-2">
                            <div class="">
                                <input type="text" name="first-name" v-bind:placeholder="trans.get('__JSON__.姓氏')" class="w-full rounded border-pink-darken" />
                            </div>
                            <div class="">
                                <input type="text" name="last-name" v-bind:placeholder="trans.get('__JSON__.名稱')" class="w-full rounded border-pink-darken" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid grid-cols-12 gap-2 py-4">
                    <div class="sm:col-span-3 col-span-12">
                        <p class="text-lg text-pink-darken">{{ trans.get('__JSON__.聯絡電郵地址') }} :</p>
                    </div>
                    <div class="sm:col-span-9 col-span-12">
                        <input type="text" name="" class="w-full rounded border-pink-darken" />
                    </div>
                </div>

                <div class="grid grid-cols-12 gap-2 py-4">
                    <div class="sm:col-span-3 col-span-12">
                        <p class="text-lg text-pink-darken">{{ trans.get('__JSON__.手機號碼') }} :</p>
                    </div>
                    <div class="sm:col-span-9 col-span-12">
                        <div  class="relative">
                            <input type="text" name="phone-number" class="w-full rounded border-pink-darken" />
                            <div v-if="phone_number_status">
                                <img src="images/icons/tick-circle.svg" class="absolute right-75np w-8 top-5np">
                                <p class="text-pink-darken absolute right-9np top-9np text-base">{{ trans.get('__JSON__.phone_number_status') }}</p>
                            </div>
                        </div>
                        <p v-if="phone_number_status" class="text-pink-darken text-base">{{ trans.get('__JSON__.phone_nbumber_help_text') }}</p>
                    </div>
                </div>

                <div class="grid grid-cols-12 gap-2 py-4">
                    <div class="sm:col-span-3 col-span-12">
                        <p class="text-lg text-pink-darken">{{ trans.get('__JSON__.性別') }} :</p>
                    </div>
                    <div class="sm:col-span-9 col-span-12">
                        <input type="text" name="gender" class="w-full rounded border-pink-darken" />
                    </div>
                </div>

                <div class="grid grid-cols-12 gap-2 py-4">
                    <div class="sm:col-span-3 col-span-12">
                        <p class="text-lg text-pink-darken">{{ trans.get('__JSON__.年齡組別') }} :</p>
                    </div>
                    <div class="sm:col-span-9 col-span-12">
                        <input type="text" name="age-group" class="w-full rounded border-pink-darken" />
                    </div>
                </div>

                <div class="grid grid-cols-12 gap-2 py-4">
                    <div class="sm:col-span-3 col-span-12">
                        <p class="text-lg text-pink-darken">{{ trans.get('__JSON__.每月家庭入息') }} :</p>
                    </div>
                    <div class="sm:col-span-9 col-span-12">
                        <input type="text" name="monthly-household-income" class="w-full rounded border-pink-darken" />
                    </div>
                </div>

                <div class="grid grid-cols-12 gap-2 py-4">
                    <div class="sm:col-span-3 col-span-12">
                        <p class="text-lg text-pink-darken">{{ trans.get('__JSON__.推薦人號碼') }} :</p>
                    </div>
                    <div class="sm:col-span-9 col-span-12">
                        <input type="text" name="referrers-number" class="w-full rounded border-pink-darken" />
                    </div>
                </div>

                <div class="grid grid-cols-12 gap-2 py-4">
                    <div class="sm:col-span-3 col-span-12">
                        <p class="text-lg text-pink-darken">{{ trans.get('__JSON__.室及樓層') }} :</p>
                    </div>
                    <div class="sm:col-span-9 col-span-12">
                        <input type="text" name="room-and-floor" class="w-full rounded border-pink-darken" />
                    </div>
                </div>

                <div class="grid grid-cols-12 gap-2 py-4">
                    <div class="sm:col-span-3 col-span-12">
                        <p class="text-lg text-pink-darken">{{ trans.get('__JSON__.大廈及街道') }} :</p>
                    </div>
                    <div class="sm:col-span-9 col-span-12">
                        <input type="text" name="buildings-and-streets" class="w-full rounded border-pink-darken" />
                    </div>
                </div>

                <div class="grid grid-cols-12 gap-2 py-4">
                    <div class="sm:col-span-3 col-span-12">
                        <p class="text-lg text-pink-darken">{{ trans.get('__JSON__.地區') }} :</p>
                    </div>
                    <div class="sm:col-span-9 col-span-12">
                        <div class="grid grid-cols-2 gap-2">
                            <div class="">
                                <input type="text" name="distt" v-bind:placeholder="trans.get('__JSON__.區')" class="w-full rounded border-pink-darken" />
                            </div>
                            <div class="">
                                <input type="text" name="" v-bind:placeholder="trans.get('__JSON__.香港/九龍/新界')" class="w-full rounded border-pink-darken" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid grid-cols-12 gap-2 py-4">
                    <div class="sm:col-span-3 col-span-12">
                        <p class="text-lg text-pink-darken">{{ trans.get('__JSON__.國家') }} :</p>
                    </div>
                    <div class="sm:col-span-9 col-span-12">
                        <input type="text" name="country" class="w-full rounded border-pink-darken" />
                    </div>
                </div>

                <div class="grid grid-cols-12 gap-2 py-4">
                    <div class="sm:col-span-3 col-span-12">
                        <p class="text-lg text-pink-darken">{{ trans.get('__JSON__.上載頭像相片') }} :</p>
                    </div>
                    <div class="sm:col-span-9 col-span-12 rounded border border-pink-darken bg-white p-2">
                        <label class="cursor-pointer text-pink-darken">{{filestatus}}<input  @change="onFileChange" type="file" class="w-3/6 hidden"></label>
                    </div>
                </div>
                <div class="text-right py-4">
                    <button class="bg-pink-stronger text-white text-base py-2 px-5 rounded">{{ trans.get('__JSON__.儲存') }}</button>
                </div>
            </div>

            <div class="text-left w-5/12 border-b border-pink-darken">
            </div>

            <div class="border-b border-pink-darken p-10">
                <div class="grid grid-cols-12 gap-2 py-4">
                    <div class="sm:col-span-3 col-span-12">
                        <p class="text-lg text-pink-darken">{{ trans.get('__JSON__.連結帳戶') }} :</p>
                    </div>
                    <div class="sm:col-span-9 col-span-12 text-center">
                        <div class="inline-flex bg-pink-babydark sm:w-6/12 w-full px-10 py-2 cursor-pointer">
                            <img class="w-8 mr-4" src="/images/icons/light-facebook.svg">
                            <p class="text-white">{{ trans.get('__JSON__.Facebook 帳戶 登入') }}</p>
                        </div>
                        <div class="py-4">
                            <p class="text-pink-darken text-lg">{{ trans.get('__JSON__.或') }}</p>
                        </div>
                        <div class="inline-flex bg-pink-babydark sm:w-6/12 w-full px-10 py-2 cursor-pointer">
                            <img class="w-8 mr-4" src="/images/icons/light_gmail.svg">
                            <p class="text-white">{{ trans.get('__JSON__.Gmail 帳戶 登入') }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-left w-5/12 border-b border-pink-darken">
            </div>

            <div class="p-10">
                <p class="text-pink-darken text-2xl pb-5">{{ trans.get('__JSON__.更改密碼') }}</p>
                <div class="grid grid-cols-12 gap-2 py-4">
                    <div class="sm:col-span-3 col-span-12">
                        <p class="text-lg text-pink-darken">{{ trans.get('__JSON__.現有密碼') }} :</p>
                    </div>
                    <div class="sm:col-span-9 col-span-12">
                        <input type="password" name="current-password" placeholder="" class="w-full rounded" />
                    </div>
                </div>
                <div class="grid grid-cols-12 gap-2 py-4">
                    <div class="sm:col-span-3 col-span-12">
                        <p class="text-lg text-pink-darken">{{ trans.get('__JSON__.新密碼') }} :</p>
                    </div>
                    <div class="sm:col-span-9 col-span-12 text-right">
                        <input type="password" name="new-password" placeholder="" class="w-full rounded" />
                        <p class="text-base text-pink-darken">{{ trans.get('__JSON__.password_help_text') }}</p>
                    </div>
                </div>
                <div class="grid grid-cols-12 gap-2 py-4">
                    <div class="sm:col-span-3 col-span-12">
                        <p class="text-lg text-pink-darken">{{ trans.get('__JSON__.確定新密碼') }} :</p>
                    </div>
                    <div class="sm:col-span-9 col-span-12 text-right">
                        <input :type="passwordFieldType" name="new-password" placeholder="" class="w-full rounded" />
                        <p @click="switchVisibility" class="text-base text-pink-darken cursor-pointer">{{ trans.get('__JSON__.顯示密碼') }}</p>
                    </div>
                </div>
                <div class="text-right py-5">
                    <button class="bg-pink-stronger text-white text-base py-2 px-10 rounded">{{ trans.get('__JSON__.更新') }}</button>
                </div>
            </div>
        </div>
    </membership-layout>
</template>

<script>
import MembershipLayout from '@/Layouts/MembershipLayout';
export default {
    components: {
        MembershipLayout
    },

    props: ['meta', 'page'],
    watch: {
        meta: {
            immediate: true,
            handler(meta) {
                document.title = meta.title + ' - ' + this.$page.appName
            }
        }
    },
    data() {
        return {
            phone_number_status: true,
            filestatus: this.trans.get('__JSON__.加入檔案'),
            passwordFieldType: 'password'
        }
    },
    methods: {
        onFileChange(e) {
            var files = e.target.files || e.dataTransfer.files;
            this.filestatus = files[0]['name'];
        },
        switchVisibility() {
            this.passwordFieldType = this.passwordFieldType === 'password' ? 'text' : 'password'
        }
    }
}
</script>

<style scoped>
</style>
