<template>
<store-front-layout>
    <div class="container my-4 bg-pink-lightest overflow-auto md:w-3/5 mx-auto border-b border-pink-bordering">
        <div class="pb-2 text-center text-2xl sm:w-2/6 w-full mx-auto border-b border-pink-darken text-pink-darken lg:py-6">
            {{ trans.get('__JSON__.企業客戶') }}  {{ trans.get('__JSON__.登入') }}
        </div>
    </div>
    <div class="container bg-pink-lightest m-20 md:w-9/12 mx-auto lg:mt-10 lg:mb-10">
        <div class="grid grid-cols-2 gap-16">
            <div class="col-span-2 md:col-span-1 py-14 bg-white">
                <div class="mx-auto">
                    <img class="pb-7 w-1/6 mx-auto" src="/images/icons/user.svg">
                    <p class="text-xl p-3 text-center text-pink-darken"> {{ trans.get('__JSON__.登入') }}</p>
                </div>
                <form class="mx-auto px-6" @submit.prevent="submit" ref="loginForm">
                    <div class="w-full relative grid grid-cols-1">
                        <input class="text-pink-darken focus:ring-2 focus:ring-pink-darken focus:border-pink-darken placeholder-pink-darken text-base px-6 py-2 bg-pink-softstrong  border-pink-softstrong my-2 w-full rounded-full" type="email" v-model="username" name="username" v-bind:placeholder=" trans.get('__JSON__.手提電話 / 電郵地址')">
                    </div>
                    
                    <div class="w-full relative grid grid-cols-1">
                        <input class="text-pink-darken focus:ring-2 focus:ring-pink-darken focus:border-pink-darken placeholder-pink-darken text-base px-6 py-2 bg-pink-softstrong border-pink-softstrong my-2 w-full rounded-full" :type="passType" v-model="password" name="password" v-bind:placeholder="trans.get('__JSON__.密碼')">
                        <v-icon :name="iconpass" :scale="1.5" @click="togglePass" class="absolute top-5 right-8 cursor-pointer fill-current text-pink-darken"></v-icon>
                    </div>

                    <p class="text-right">
                        <inertia-link :href="route('login.forgot-password')" class="text-pink-darken underline cursor-pointer">{{ trans.get('__JSON__.忘記密碼') }}</inertia-link>
                    </p>
                    <input class="text-base text-white py-2 bg-pink-stronger my-2 w-full rounded-full cursor-pointer focus:outline-none" type="submit" v-bind:value="trans.get('__JSON__.登入')">
                </form>
                <ul v-if="errors.invalid" class="w-full my-4 px-8 py-2 border-2 border-red-600">
                    <li v-for="error in errors" class="text-red-600">
                        {{ error }}
                    </li>
                </ul>
                <div class="mx-auto px-7 flex lg:flex-row flex-col">
                    <p class="lg:w-2/5 lg:my-0  my-2 w-full mx-auto text-pink-darken text-center">{{ trans.get('__JSON__.會員') }}
                        <inertia-link :href="route('login.member')" class="underline">
                            {{ trans.get('__JSON__.登入') }}
                        </inertia-link>
                    </p>
                    <p class="lg:w-2/5 lg:my-0  my-2 w-full mx-auto text-pink-darken text-center"> {{ trans.get('__JSON__.商戶') }}
                        <inertia-link :href="route('login.vendor')" class="underline">
                            {{ trans.get('__JSON__.登入') }}
                        </inertia-link>
                    </p>
                </div>

            </div>
            <div class="col-span-2 md:col-span-1 bg-pink-soft">
                <gs-loginsidebar></gs-loginsidebar>
            </div>
        </div>
    </div>
</store-front-layout>
</template>

<script>
import StoreFrontLayout from '@/Layouts/StoreFrontLayout'
import LoginSidebar from '@/StoreTemplates/LoginSidebar'
export default {
    components: {
        StoreFrontLayout,
        'gs-loginsidebar': LoginSidebar,
    },

    props: ['meta', 'errors' ,'page'],

    data() {
        return {
            username: null,
            password: null,
            seePass: false,
        }
    },

    mounted() {
        // console.log(this.$page);
    },

    computed: {
        passType: function(){
            return !this.seePass ? 'password' : 'text';
        },
        iconpass: function(){
            return !this.seePass ? 'eye' : 'eye-slash';
        },
    },

    watch: {
        meta: {
            immediate: true,
            handler(meta) {
                document.title = meta.title + ' - ' + this.$page.appName
            },
        },
        errors: {
            immediate: true,
            handler(errors) {
                console.log(errors);
            },
        }
    },

    methods: {
        togglePass: function(){
            this.seePass = !this.seePass;
        },
        submit: function () {
            const params = {
                username: this.username,
                password: this.password,
            };

            this.$inertia.post(this.route('login.post', {
                type: 'vendor'
            }), params, {
                preserveScroll: true
            });
        },
    },
}
</script>

<style module>
</style>
