<template>
    <membership-layout>
        <div class="container bg-pink-lightest">
            <div class="p-10">
                <p v-if="trans.locale == 'en'" class="break-words bg-pink-stronger text-white sm:text-2xl text-lg rounded-tr-full sm:pr-12 pr-20 p-3">{{ trans.get('__JSON__.未使用的優惠碼、電子卷及搶購優惠') }}</p>
                <p v-if="trans.locale != 'en'" class="break-words bg-pink-stronger text-white sm:text-2xl text-xl rounded-tr-full sm:pr-12 pr-28 p-3">{{ trans.get('__JSON__.未使用的優惠碼、電子卷及搶購優惠') }}</p>
                <div class="grid sm:grid-cols-3 grid-cols-1 gap-5 py-5 bg-pink-softstrong my-5">
                    <div class="col-span-1 sm:border-r-4 border-r-0 border-white text-center relative sm:table h-full">
                        <div class="sm:table-cell sm:align-middle">
                            <img class="h-4/5 mx-auto w-7/12" src="/images/icons/dollar.svg"/>
                        </div>
                    </div>
                    <div class="sm:col-span-2 col-span-1 sm:px-0 px-5 sm:table h-full">
                        <div class="sm:table-cell sm:align-middle sm:pr-2">
                            <p class="text-pink-darken sm:text-xl text-lg pb-5">GS HK$50 {{ trans.get('__JSON__.優惠碼') }}</p>
                            <p class="text-pink-darken sm:text-xl text-lg">{{ trans.get('__JSON__.有效日期') }}：<span class="sm:text-lg text-base">2020/08/15-2020/09/14</span></p>
                            <p class="text-pink-darken sm:text-xl text-lg">{{ trans.get('__JSON__.使用日期') }}：<span class="sm:text-lg text-base">---</span></p>
                        </div>
                    </div>
                </div>
                <div class="grid sm:grid-cols-3 grid-cols-1 gap-5 py-5 bg-pink-softstrong my-5">
                    <div class="col-span-1 sm:border-r-4 border-r-0 border-white text-center relative sm:table h-full">
                        <div class="sm:table-cell sm:align-middle">
                            <img class="h-4/5 mx-auto w-7/12" src="/images/icons/dollar.svg"/>
                        </div>
                    </div>
                    <div class="sm:col-span-2 col-span-1 sm:px-0 px-5 sm:table h-full">
                        <div class="sm:table-cell sm:align-middle sm:pr-2">
                            <p class="text-pink-darken sm:text-xl text-lg pb-5">GS HK$50 {{ trans.get('__JSON__.優惠碼') }}</p>
                            <p class="text-pink-darken sm:text-xl text-lg">{{ trans.get('__JSON__.有效日期') }}：<span class="sm:text-lg text-base">2020/08/15-2020/09/14</span></p>
                            <p class="text-pink-darken sm:text-xl text-lg">{{ trans.get('__JSON__.使用日期') }}：<span class="sm:text-lg text-base">---</span></p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="p-10">
                <p v-if="trans.locale == 'en'" class="bg-pink-darkest text-white sm:text-2xl text-lg rounded-tr-full sm:pr-12 pr-24 p-3">{{ trans.get('__JSON__.已使用的優惠碼、電子卷及搶購優惠') }}</p>
                <p v-if="trans.locale != 'en'" class="bg-pink-darkest text-white sm:text-2xl text-xl rounded-tr-full sm:pr-12 pr-28 p-3">{{ trans.get('__JSON__.已使用的優惠碼、電子卷及搶購優惠') }}</p>
                <div class="grid sm:grid-cols-3 grid-cols-1 gap-5 py-5 bg-pink-softstrong my-5">
                    <div class="col-span-1 sm:border-r-4 border-r-0 border-white text-center relative sm:table h-full">
                        <div class="sm:table-cell sm:align-middle">
                            <img class="h-4/5 mx-auto w-7/12" src="/images/icons/dollar.svg"/>
                        </div>
                    </div>
                    <div class="sm:col-span-2 col-span-1 sm:px-0 px-5 sm:table h-full">
                        <div class="sm:table-cell sm:align-middle sm:pr-2">
                            <p class="text-pink-darken sm:text-xl text-lg pb-5">GS HK$50 {{ trans.get('__JSON__.優惠碼') }}</p>
                            <p class="text-pink-darken sm:text-xl text-lg">{{ trans.get('__JSON__.有效日期') }}：<span class="sm:text-lg text-base">2020/08/15-2020/09/14</span></p>
                            <p class="text-pink-darken sm:text-xl text-lg">{{ trans.get('__JSON__.使用日期') }}：<span class="sm:text-lg text-base">---</span></p>
                        </div>
                    </div>
                </div>
                <div class="grid sm:grid-cols-3 grid-cols-1 gap-5 py-5 bg-pink-softstrong my-5">
                    <div class="col-span-1 sm:border-r-4 border-r-0 border-white text-center relative sm:table h-full">
                        <div class="sm:table-cell sm:align-middle">
                            <img class="h-4/5 mx-auto w-7/12" src="/images/icons/dollar.svg"/>
                        </div>
                    </div>
                    <div class="sm:col-span-2 col-span-1 sm:px-0 px-5 sm:table h-full">
                        <div class="sm:table-cell sm:align-middle sm:pr-2">
                            <p class="text-pink-darken sm:text-xl text-lg pb-5">GS HK$50 {{ trans.get('__JSON__.優惠碼') }}</p>
                            <p class="text-pink-darken sm:text-xl text-lg">{{ trans.get('__JSON__.有效日期') }}：<span class="sm:text-lg text-base">2020/08/15-2020/09/14</span></p>
                            <p class="text-pink-darken sm:text-xl text-lg">{{ trans.get('__JSON__.使用日期') }}：<span class="sm:text-lg text-base">---</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </membership-layout>
</template>


<script>
    import MembershipLayout from '@/Layouts/MembershipLayout';
    export default {
        components: {
            MembershipLayout
        },
        
        props: ['meta', 'page'],
        watch: {
            meta: {
                immediate: true,
                handler(meta) {
                    document.title=meta.title + ' - ' + this.$page.appName
                }
            }
        },
        data(){
            return{
               
            }
        },
        methods:{
            
        }
    }
</script>
<style scoped>
</style>