<template>
<membership-layout>
    <div class="container bg-pink-soft ">
        <h3>{{ trans.get('__JSON__.User Dashboard') }}</h3>
    </div>
</membership-layout>
</template>

<script>
import MembershipLayout from '@/Layouts/MembershipLayout';
export default {
    components: {
        MembershipLayout
    },

    props: ['meta', 'page'],
    watch: {
        meta: {
            immediate: true,
            handler(meta) {
                document.title = meta.title + ' - ' + this.$page.appName
            }
        }
    },
    data() {
        return {

        }
    },
    methods: {

    }
}
</script>

<style scoped>
</style>
