<template>
    <div class="bg-pink-softerstrong">
        <img class="mx-auto w-full" src="/images/banners/dir_cust_to_rev_ban.svg"/>
        <div class="bg-red-lightest py-10 text-center sm:px-28 px-10">
            <p class="sm:text-5xl text-3xl font-medium text-white sm:px-6 px-0 sm:pb-1 pb-5">{{ trans.get('__JSON__.誠邀您評論及分享屬於您的購物體驗') }}</p>
            <p class="sm:text-4xl text-2xl sm:pb-10 pb-5 text-white sm:px-6 px-0 font-medium">{{ trans.get('__JSON__.訂單編號') }} : <span class="sm:text-3xl text-xl font-medium">XXXXXXXXXXXXXXX</span></p>
            <p class="sm:text-3xl text-2xl text-white sm:px-6 px-0 font-medium">{{ trans.get('__JSON__.review_instruction') }}</p>
        </div>
        <div class="h-x4l overflow-y-scroll sm:w-4/5 w-full mx-auto">
            <div class="grid grid-cols-12 gap-6 py-10 sm:px-20 px-10">
                <div class="sm:col-span-3 col-span-12">
                    <div class="bg-white">
                        <p class="p-20 text-center">Demo</p>
                    </div>
                </div>
                <div class="sm:col-span-9 col-span-12">
                    <p class="text-white pb-3 sm:text-2xl text-xl font-medium break-words">{{ trans.get('__JSON__.产品名称') }} : <span class="font-medium text-xl">XXXXXXXXXXXXXXXXXXXXXXXXXXXX</span></p>
                    <div class="flex pb-3">
                        <p class="mr-2 text-pink-darken">{{ trans.get('__JSON__.最低') }}</p>
                        <star-rating 
                        v-model="rating"
                        :increment="0.5"
                        :star-size="25"
                        :rating="1"
                        :read-only="true"
                        :show-rating="false"
                        ></star-rating>
                        <p class="ml-2 text-pink-darken">{{ trans.get('__JSON__.最高') }}</p>
                    </div>
                    <div class="grid grid-cols-6 sm:gap-x-14 gap-x-0 sm:gap-y-3 gap-y-0">
                        <div class="sm:col-span-4 col-span-6 sm:pb-0 pb-3">
                            <input type="text" name="" class="rounded w-full p-1" v-bind:placeholder="trans.get('__JSON__.請在此填寫您的評論')"/>
                        </div>
                        <div class="sm:col-span-2 col-span-6">
                        </div>
                        <div class="sm:col-span-4 col-span-6 flex sm:pb-0 pb-3">
                            <label class="mr-2"><img class="h-10 cursor-pointer" src="/images/icons/plus.svg " /><input type="file" class="w-3/6 hidden"></label>
                            <p class="my-auto text-white font-medium text-xl">{{ trans.get('__JSON__.上載相片') }} ({{ trans.get('__JSON__.最多可上載5張相片') }} )</p>
                        </div>
                        <div class="sm:col-span-2 col-span-12 text-right">
                            <button class="bg-pink-stronger text-white text-xl py-1 px-5 rounded my-auto font-medium">{{ trans.get('__JSON__.立即發布') }}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-12 gap-6 py-10 sm:px-20 px-10">
                <div class="sm:col-span-3 col-span-12">
                    <div class="bg-white">
                        <p class="p-20 text-center">Demo</p>
                    </div>
                </div>
                <div class="sm:col-span-9 col-span-12">
                    <p class="text-white pb-3 sm:text-2xl text-xl font-medium break-words">{{ trans.get('__JSON__.产品名称') }} : <span class="font-medium text-xl">XXXXXXXXXXXXXXXXXXXXXXXXXXXX</span></p>
                    <div class="flex pb-3">
                        <p class="mr-2 text-pink-darken">{{ trans.get('__JSON__.最低') }}</p>
                        <star-rating 
                        v-model="rating"
                        :increment="0.5"
                        :star-size="25"
                        :rating="1"
                        :read-only="true"
                        :show-rating="false"
                        ></star-rating>
                        <p class="ml-2 text-pink-darken">{{ trans.get('__JSON__.最高') }}</p>
                    </div>
                    <div class="grid grid-cols-6 sm:gap-x-14 gap-x-0 sm:gap-y-3 gap-y-0">
                        <div class="sm:col-span-4 col-span-6 sm:pb-0 pb-3">
                            <input type="text" name="" class="rounded w-full p-1" v-bind:placeholder="trans.get('__JSON__.請在此填寫您的評論')"/>
                        </div>
                        <div class="sm:col-span-2 col-span-6">
                        </div>
                        <div class="sm:col-span-4 col-span-6 flex sm:pb-0 pb-3">
                            <label class="mr-2"><img class="h-10 cursor-pointer" src="/images/icons/plus.svg " /><input type="file" class="w-3/6 hidden"></label>
                            <p class="my-auto text-white font-medium text-xl">{{ trans.get('__JSON__.上載相片') }} ({{ trans.get('__JSON__.最多可上載5張相片') }} )</p>
                        </div>
                        <div class="sm:col-span-2 col-span-12 text-right">
                            <button class="bg-pink-stronger text-white text-xl py-1 px-5 rounded my-auto font-medium">{{ trans.get('__JSON__.立即發布') }}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-12 gap-6 py-10 sm:px-20 px-10">
                <div class="sm:col-span-3 col-span-12">
                    <div class="bg-white">
                        <p class="p-20 text-center">Demo</p>
                    </div>
                </div>
                <div class="sm:col-span-9 col-span-12">
                    <p class="text-white pb-3 sm:text-2xl text-xl font-medium break-words">{{ trans.get('__JSON__.产品名称') }} : <span class="font-medium text-xl">XXXXXXXXXXXXXXXXXXXXXXXXXXXX</span></p>
                    <div class="flex pb-3">
                        <p class="mr-2 text-pink-darken">{{ trans.get('__JSON__.最低') }}</p>
                        <star-rating 
                        v-model="rating"
                        :increment="0.5"
                        :star-size="25"
                        :rating="1"
                        :read-only="true"
                        :show-rating="false"
                        ></star-rating>
                        <p class="ml-2 text-pink-darken">{{ trans.get('__JSON__.最高') }}</p>
                    </div>
                    <div class="grid grid-cols-6 sm:gap-x-14 gap-x-0 sm:gap-y-3 gap-y-0">
                        <div class="sm:col-span-4 col-span-6 sm:pb-0 pb-3">
                            <input type="text" name="" class="rounded w-full p-1" v-bind:placeholder="trans.get('__JSON__.請在此填寫您的評論')"/>
                        </div>
                        <div class="sm:col-span-2 col-span-6">
                        </div>
                        <div class="sm:col-span-4 col-span-6 flex sm:pb-0 pb-3">
                            <label class="mr-2"><img class="h-10 cursor-pointer" src="/images/icons/plus.svg " /><input type="file" class="w-3/6 hidden"></label>
                            <p class="my-auto text-white font-medium text-xl">{{ trans.get('__JSON__.上載相片') }} ({{ trans.get('__JSON__.最多可上載5張相片') }} )</p>
                        </div>
                        <div class="sm:col-span-2 col-span-12 text-right">
                            <button class="bg-pink-stronger text-white text-xl py-1 px-5 rounded my-auto font-medium">{{ trans.get('__JSON__.立即發布') }}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-12 gap-6 py-10 sm:px-20 px-10">
                <div class="sm:col-span-3 col-span-12">
                    <div class="bg-white">
                        <p class="p-20 text-center">Demo</p>
                    </div>
                </div>
                <div class="sm:col-span-9 col-span-12">
                    <p class="text-white pb-3 sm:text-2xl text-xl font-medium break-words">{{ trans.get('__JSON__.产品名称') }} : <span class="font-medium text-xl">XXXXXXXXXXXXXXXXXXXXXXXXXXXX</span></p>
                    <div class="flex pb-3">
                        <p class="mr-2 text-pink-darken">{{ trans.get('__JSON__.最低') }}</p>
                        <star-rating 
                        v-model="rating"
                        :increment="0.5"
                        :star-size="25"
                        :rating="1"
                        :read-only="true"
                        :show-rating="false"
                        ></star-rating>
                        <p class="ml-2 text-pink-darken">{{ trans.get('__JSON__.最高') }}</p>
                    </div>
                    <div class="grid grid-cols-6 sm:gap-x-14 gap-x-0 sm:gap-y-3 gap-y-0">
                        <div class="sm:col-span-4 col-span-6 sm:pb-0 pb-3">
                            <input type="text" name="" class="rounded w-full p-1" v-bind:placeholder="trans.get('__JSON__.請在此填寫您的評論')"/>
                        </div>
                        <div class="sm:col-span-2 col-span-6">
                        </div>
                        <div class="sm:col-span-4 col-span-6 flex sm:pb-0 pb-3">
                            <label class="mr-2"><img class="h-10 cursor-pointer" src="/images/icons/plus.svg " /><input type="file" class="w-3/6 hidden"></label>
                            <p class="my-auto text-white font-medium text-xl">{{ trans.get('__JSON__.上載相片') }} ({{ trans.get('__JSON__.最多可上載5張相片') }} )</p>
                        </div>
                        <div class="sm:col-span-2 col-span-12 text-right">
                            <button class="bg-pink-stronger text-white text-xl py-1 px-5 rounded my-auto font-medium">{{ trans.get('__JSON__.立即發布') }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import StarRating from 'vue-star-rating'
    export default {
        components: {
            StarRating
        },
        
        props: ['meta', 'page'],
        watch: {
            meta: {
                immediate: true,
                handler(meta) {
                    document.title=meta.title + ' - ' + this.$page.appName
                }
            }
        },
        data(){
            return{
               rating: 2
            }
        },
        methods:{
            
        }
    }
</script>
<style scoped>
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px gray;
    border-radius: 10px;
    background-color: #ffffff;
}

::-webkit-scrollbar
{
    width: 15px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #C12B57;
}
</style>
