<template>
     <membership-layout>
     <div class="min-h-screen">
        <div class="container bg-pink-soft p-10">
            <p border-grey-line class="border-b border-grey-lineg text-pink-darken text-2xl lg:pb-3">{{ trans.get('__JSON__.連結分享記錄') }}</p>
            <table class="w-5/6 mx-auto">
                <th class="table-header-group border-b border-grey-lineg">
                    <td class="w-1/4 text-left py-4 md:px-0 pr-6  text-pink-darken">{{ trans.get('__JSON__.日期') }}</td>
                    <td class="w-1/4 text-left py-4 md:px-0 pr-6 text-pink-darken">{{ trans.get('__JSON__.產品') }}</td>
                    <td class="w-1/4 text-left py-4 md:px-0 pr-6 text-pink-darken">{{ trans.get('__JSON__.平台') }}</td>
                    <td class="w-1/4 text-left py-4 md:px-0 pr-6 text-pink-darken">Link</td>
                </th>
                <tr>
                    <td class="text-pink-darken md:px-0 pr-6">test1</td>
                    <td class="text-pink-darken md:px-0 pr-6">test1</td>
                    <td class="text-pink-darken md:px-0 pr-6">test1</td>
                    <td class="text-pink-darken md:px-0 pr-6">test1</td>
                </tr>
                <tr>
                    <td class="text-pink-darken md:px-0 pr-6">test1</td>
                    <td class="text-pink-darken md:px-0 pr-6">test1</td>
                    <td class="text-pink-darken md:px-0 pr-6">test1</td>
                    <td class="text-pink-darken md:px-0 pr-6">test1</td>
                </tr>
            </table>
            <p border-grey-line class="mt-32 border-b border-grey-lineg text-pink-darken text-2xl lg:pb-3">{{ trans.get('__JSON__.最近GPS運動記錄') }}</p>
            <table class="w-5/6 mx-auto">
                <th class="table-header-group border-b border-grey-lineg">
                <td class="w-1/4 text-left py-4 text-pink-darken md:px-0 pr-6">{{ trans.get('__JSON__.日期') }}</td>
                <td class="w-1/4 text-left py-4 text-pink-darken md:px-0 pr-6">{{ trans.get('__JSON__.運動里數') }}</td>
                <td class="w-1/4 text-left py-4 text-pink-darken md:px-0 pr-6">{{ trans.get('__JSON__.回贈金額') }}</td>
                <td class="w-1/4 text-left py-4 text-pink-darken md:px-0 pr-6">{{ trans.get('__JSON__.描述') }}</td>
                </th>
            </table>
        </div>
        </div>
     </membership-layout>
</template>
<script>
    import MembershipLayout from '@/Layouts/MembershipLayout';

    export default {
        components: {
            MembershipLayout
        },
        props: ['meta', 'page'],
        watch: {
            meta: {
                immediate: true,
                handler(meta) {
                    
                    
                    document.title=meta.title + ' - ' + this.$page.appName
                },
            },
        },
        data(){
            return{
             
            }
        },
        methods:{
        
        },
        
    }
</script>
<style scoped>
</style>