<template>
    <store-front-layout>
        <div class="container my-4 bg-pink-lightest overflow-auto md:w-3/5 mx-auto border-b border-pink-bordering">
            <div class="pb-2 text-center sm:text-4xl text-2xl sm:w-2/6 w-full  mx-auto border-b border-pink-darken text-pink-darken lg:py-6 ">{{ trans.get('__JSON__.會員註冊') }}</div>
        </div>
        <div class="container sm:p-2 p-5 sm:my-4 my-0 bg-pink-lightest overflow-auto w-full md:w-7/12 lg:w-5/12 mx-auto">
            <form @submit.prevent="submit" class="w-full">
                <div class="w-full relative grid grid-cols-1">
                    <v-select 
                        :options="titles"
                        :clearable="false"
                        :searchable="false"
                        :filterable="false"
                        :placeholder="trans.get('__JSON__.稱謂')+'('+trans.get('__JSON__.先生')+'/'+trans.get('__JSON__.太太')+'/'+trans.get('__JSON__.小姐')+')'"
                        :reduce="title => title.value"
                        v-model="title"
                        class="form-input focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken sm:text-xl text-base px-6 py-3 bg-pink-softstrong  border-pink-softstrong my-2 w-full rounded-full"
                        label="label"
                        :class="errors.title ? 'form-error' : ''">
                    </v-select>
                    <span class="w-full relative px-4 pb-2 text-red-500" v-if="errors.title">{{ errors.title }}</span>
                </div>
                <div class="w-full relative grid grid-cols-1">
                    <input type="text" v-model="name" class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken sm:text-xl text-base px-6 py-3 bg-pink-softstrong  border-pink-softstrong my-2 w-full rounded-full" v-bind:placeholder="trans.get('__JSON__.姓名')">
                    <span class="w-full relative px-4 pb-2 text-red-500" v-if="errors.name">{{ errors.name }}</span>
                </div>
                <div class="w-full relative grid grid-cols-1">
                    <input type="text" v-model="nickname" class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken sm:text-xl text-base px-6 py-3 bg-pink-softstrong  border-pink-softstrong my-2 w-full rounded-full" v-bind:placeholder="trans.get('__JSON__.暱稱')">
                    <span class="w-full relative px-4 pb-2 text-red-500" v-if="errors.nickname">{{ errors.nickname }}</span>
                </div>
                <div class="w-full relative grid grid-cols-1">
                    <input type="email" v-model="email" class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken sm:text-xl text-base px-6 py-3 bg-pink-softstrong  border-pink-softstrong my-2 w-full rounded-full" v-bind:placeholder="trans.get('__JSON__.電郵地址')">
                    <span class="w-full relative px-4 pb-2 text-red-500" v-if="errors.email">{{ errors.email }}</span>
                </div>
                <div class="w-full relative grid grid-cols-12 gap-2">
                    <div class="sm:col-span-3 col-span-12">
                        <v-select 
                            :options="countrycodes"
                            :clearable="true"
                            :searchable="true"
                            :filterable="true"
                            :reduce="countrycode => countrycode.code"
                            v-model="countrycode"
                            class="v-select focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken sm:text-xl text-base px-2 py-3 bg-pink-softstrong float-left border-pink-softstrong my-2 w-full rounded-full mr-0"
                            label="name">
                            <template v-slot:selected-option="countrycode">
                                <span class="text-pink-darken sm:text-xl text-base">{{countrycode.code}}</span>
                            </template>
                            <template v-slot:option="countrycode">
                                <span class="text-pink-darken hover:text-white focus:text-white active:text-white w-full block">
                                    {{countrycode.name}}
                                    &nbsp;
                                    {{countrycode.code}}
                                </span>
                            </template>
                        </v-select>
                    </div>
                    <div class="sm:col-span-9 col-span-12">
                        <input type="tel" v-model="mobileno" maxlength="12" class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken sm:text-xl text-base px-6 py-3 bg-pink-softstrong float-left border-pink-softstrong my-2 rounded-full w-full" v-bind:placeholder="trans.get('__JSON__.手提電話')">
                        <span class="w-full relative px-4 pb-2 text-red-500" v-if="errors.mobileno">{{ errors.mobileno }}</span>
                    </div>
                </div>
                <div class="w-full relative grid grid-cols-1">
                    <div class ="flex items-center w-full">
                        <input :type="passType" v-model="password" class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken sm:text-xl text-base px-6 py-3 bg-pink-softstrong  border-pink-softstrong my-2 w-full rounded-full" v-bind:placeholder="trans.get('__JSON__.設定密碼')">
                        <v-icon :name="iconpass" :scale="1.5" @click="togglePass" class="absolute top-6 right-8 cursor-pointer fill-current text-pink-darken"></v-icon>
                    </div>
                    <p class="text-right text-pink-darken underline sm:text-base text-sm pb-2">{{ trans.get('__JSON__.至少6個字元') }}，{{ trans.get('__JSON__.必須包含字母和數字') }}</p>
                    <span class="w-full relative px-4 pb-2 text-red-500" v-if="errors.password">{{ errors.password }}</span>
                </div>
                <div class="w-full relative grid grid-cols-1">
                    <input type="text" v-model="referer" class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken sm:text-xl text-base px-6 py-3 bg-pink-softstrong  border-pink-softstrong my-2 w-full rounded-full" v-bind:placeholder="trans.get('__JSON__.推薦人號碼')">
                </div>
                <div class="ml-4 my-4">
                    <div class="cursor-pointer">
                        <input type="checkbox" v-model="ageis18" class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken my-4" id="ageis18">
                        <label class="my-4 sm:text-lg text-base text-pink-darken" for="ageis18">{{ trans.get('__JSON__.謹此聲明本人已年滿18歲，同意並接受 一般條款及細則') }}</label>
                        <span class="w-full relative px-4 pb-2 text-red-500" v-if="errors.ageis18">{{ errors.ageis18 }}</span>
                    </div>
                    <br>
                    <div class="cursor-pointer">
                        <input type="checkbox" v-model="promotion" class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken my-4" value="promotion">
                        <label class="my-4 sm:text-lg text-base text-pink-darken" for="promotion">{{ trans.get('__JSON__.本人同意GS按私隱政策使用我的個人資料作直接促銷用途') }}</label>
                    </div>
                    <br>
                </div>
                <input type="submit" :value="trans.get('__JSON__.註冊')" class="focus:outline-none my-4 sm:text-xl text-base text-white py-2 my-7 bg-pink-babystrongest my-2 w-full rounded-full cursor-pointer disabled:opacity-50" :disabled="!ageis18">
                <input type="hidden" v-model="mobile">
            </form>
            <div class="my-4 mx-auto px-6">
                <p class="text-pink-darken text-center underline sm:text-xl text-base"> {{ trans.get('__JSON__.或') }} </p>
                <div class="my-4  mx-auto sm:px-8 px-2">
                    <div class="flex items-center my-3 py-3 mx-auto px-2 lg:px-10 bg-pink">
                        <img class="w-8 mr-4" src="/images/icons/facebook.svg">
                        <span class="underline text-pink-darken cursor-pointer">
                            <a class="sm:text-xl text-base"> {{ trans.get('__JSON__.Facebook 帳戶 登入') }} </a>
                        </span>
                    </div>
                    <p class="text-pink-darken text-center underline sm:text-xl text-base"> {{ trans.get('__JSON__.或') }} </p>
                    <div class="flex items-center my-3 py-3 mx-auto px-2 lg:px-10 bg-pink">
                        <img class="w-8 mr-4" src="/images/icons/gmail.svg">
                        <span class="underline cursor-pointer text-pink-darken">
                            <a class="sm:text-xl text-base"> {{ trans.get('__JSON__.Gmail 帳戶 登入') }} </a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <div class="mx-auto bg-pink-soft">
                    <div class="py-3 mx-auto bg-pink-bordering"></div>
                    <div class="px-5 pt-8 pb-16 lg:pb-8">
                        <p class="text-pink-darken sm:text-2xl text-lg"> {{ trans.get('__JSON__.還未成為企業客戶') }}？</p>
                        <p class="text-pink-darken tracking-wider py-7 sm:text-xl text-base">{{ trans.get('__JSON__.成為 Girlssecrets 的企業客戶，可以享有不同的企業優惠') }}！</p>
                        <inertia-link :href="route('register.open', {type: 'corporate'})" class="sm:text-lg text-base mx-auto rounded-md sm:w-2/4 w-full sm:py-4 py-2 mt-7 focus:outline-none bg-pink-strong block text-center text-white"> {{ trans.get('__JSON__.企業客戶') }} {{ trans.get('__JSON__.立即註冊') }} </inertia-link>
                    </div>
                </div>
            </div>
        </div>
    </store-front-layout>
</template>

<script>
import StoreFrontLayout from '@/Layouts/StoreFrontLayout'
import vSelect from 'vue-select'

export default {
    props: ['meta', 'errors', 'countrycodes'],

    components: {
        StoreFrontLayout,
        'v-select': vSelect,
    },

    mounted() {
        this.countrycode = '+852';
        // console.log(route('register'));
    },

    watch: {
        meta: {
            immediate: true,
            handler(meta) {
                document.title = meta.title + ' - ' + this.$page.appName
            },
        },
        errors: {
            immediate: true,
            handler(errors) {
                console.log(errors);
            },
        }
    },

    data() {
        return {
            countrycode: null,
            title: null,
            seePass: false,
            titles: [
                {
                    value: '先生',
                    label: this.trans.get('__JSON__.先生'),
                },
                {
                    value: '太太',
                    label: this.trans.get('__JSON__.太太'),
                },
                {
                    value: '小姐',
                    label: this.trans.get('__JSON__.小姐'),
                },
            ],
            title: null,
            name: null,
            nickname: null,
            email: null,
            mobileno: null,
            password: null,
            referer: null,
            ageis18: false,
            promotion: false,
        }
    },

    computed: {
        mobile: function(){
            return this.countrycode+'-'+this.mobileno;
        },
        passType: function(){
            return !this.seePass ? 'password' : 'text';
        },
        iconpass: function(){
            return !this.seePass ? 'eye' : 'eye-slash';
        },
    },

    methods: {
        togglePass: function(){
            this.seePass = !this.seePass;
        },
        submit: function(){
            const params = {
                name: this.name,
                email: this.email,
                password: this.password,
                title: this.title,
                nickname: this.nickname,
                mobile: this.mobile,
                referer: this.referer,
                promotion: this.promotion,
                type: 'member',
            };

            // console.log(params);

            this.$inertia.post(route('register.post'), params, {
                preserveScroll: true
            });
        },
    },
}
</script>

<style module>
.v-select {
    padding-bottom: 0.5rem;
}
.vs--unsearchable .vs__search {
    display: initial;
    padding: 0px 0px;
}
.vs__actions {
    cursor: pointer;
}
.vs__dropdown-menu {
    width: 27rem;
}
.vs__dropdown-menu li:hover, .vs__dropdown-menu li:active, .vs__dropdown-menu li:focus, .vs__dropdown-option--highlight {
    background-color: #f0bdc6!important;
    color: #fff!important;
}
@media (max-width: 767px){
    .vs__dropdown-menu {
        width: 18rem;
    }
}
</style>
