<template>
    <membership-layout>
        <div class="container bg-pink-itemstrong">
            <div class="p-10 border-b border-pink-darken">
                <p class="text-2xl text-pink-darken pb-1 break-words">{{ trans.get('__JSON__.優惠資訊通知') }}</p>
                <p class="text-lg text-pink-darken break-words">{{ trans.get('__JSON__.promo_sub_heading') }}</p>
            </div>
            <div class="p-10 border-b border-pink-darken">
                <p class="text-xl text-pink-darken pb-1 break-words">{{ trans.get('__JSON__.超級市場') }}</p>
                <p class="text-base text-pink-darken break-words">{{ trans.get('__JSON__.cat_sub_heading') }}</p>
            </div>
            <div class="p-10 border-b border-pink-darken">
                <p class="text-xl text-pink-darken pb-1 break-words">{{ trans.get('__JSON__.超級市場') }}</p>
                <p class="text-base text-pink-darken break-words">{{ trans.get('__JSON__.cat_sub_heading') }}</p>
            </div>
            <div class="p-10 border-b border-pink-darken">
                <p class="text-xl text-pink-darken pb-1 break-words">{{ trans.get('__JSON__.超級市場') }}</p>
                <p class="text-base text-pink-darken break-words">{{ trans.get('__JSON__.cat_sub_heading') }}</p>
            </div>
            <div class="p-10 border-b border-pink-darken">
                <p class="text-xl text-pink-darken pb-1 break-words">{{ trans.get('__JSON__.超級市場') }}</p>
                <p class="text-base text-pink-darken">{{ trans.get('__JSON__.cat_sub_heading') }}</p>
            </div>
            <div class="p-10 border-b border-pink-darken">
                <p class="text-xl text-pink-darken pb-1 break-words">{{ trans.get('__JSON__.超級市場') }}</p>
                <p class="text-base text-pink-darken">{{ trans.get('__JSON__.cat_sub_heading') }}</p>
            </div>
            <div class="p-10 border-b border-pink-darken">
                <p class="text-xl text-pink-darken pb-1 break-words">{{ trans.get('__JSON__.超級市場') }}</p>
                <p class="text-base text-pink-darken break-words">{{ trans.get('__JSON__.cat_sub_heading') }}</p>
            </div>
            <div class="p-10">
                <p class="text-lg text-pink-darken break-words">{{ trans.get('__JSON__.貼心提醒') }}: {{ trans.get('__JSON__.promo_rem_des') }}</p>
            </div>
            <div class="text-right p-10">
                <button class="bg-pink-stronger text-white text-base py-2 px-5 rounded">{{ trans.get('__JSON__.立即行動') }}</button>
            </div>
        </div>
    </membership-layout>
</template>

<script>
    import MembershipLayout from '@/Layouts/MembershipLayout';
    export default {
        components: {
            MembershipLayout
        },
        
        props: ['meta', 'page'],
        watch: {
            meta: {
                immediate: true,
                handler(meta) {
                    document.title=meta.title + ' - ' + this.$page.appName
                }
            }
        },
        data(){
            return{
               
            }
        },
        methods:{
            
        }
    }
</script>
<style scoped>
</style>