<template>
    <store-front-layout>
        <div class="container mx-auto px-0 lg:px-4 xl:px-8">
            <div class="relative my-5">
                <input class="w-full rounded py-1 pl-10 text-link-brown bg-pink-soft border-transparent text-xl" type="text" name="search-string" placeholder="search item here" />
                <v-icon name="search" class="absolute top-9np left-9np text-link-brown"/>
            </div>

            <div class=" bg-grey-light p-2 text-pink-darken text-lg font-medium rounded">
                <p class="">Popular search keywords</p>
            </div>
            <div class="p-4">
                <ul class="text-pink-darken text-base">
                    <li class="border border-pink-darken inline-block px-1 rounded mb-2">XXXXXX</li>
                    <li class="border border-pink-darken inline-block px-1 rounded mb-2">XXXXXXX</li>
                    <li class="border border-pink-darken inline-block px-1 rounded mb-2">XXXX</li>
                    <li class="border border-pink-darken inline-block px-1 rounded mb-2">XXXXXXX</li>
                    <li class="border border-pink-darken inline-block px-1 rounded mb-2">XXXXXXXXXX</li>
                </ul>
            </div>

            <div class=" bg-grey-light p-2 text-pink-darken text-lg font-medium rounded">
                <p class="">My search history</p>
            </div>

            <div class="">
                <div class="grid grid-cols-12 border-b-2 border-grey-light py-3">
                    <div class="col-span-2 m-auto">
                        <v-icon name="search" class=" text-pink-darken"/>
                    </div>
                    <div class="col-span-8">
                        <p class="text-lg text-pink-darken">demo</p>
                    </div>
                    <div class="col-span-2 m-auto">
                        <v-icon name="search" class="text-pink-darken"/>
                    </div>
                </div>
                <div class="grid grid-cols-12 border-b-2 border-grey-light py-3">
                    <div class="col-span-2 m-auto">
                        <v-icon name="search" class=" text-pink-darken"/>
                    </div>
                    <div class="col-span-8">
                        <p class="text-lg text-pink-darken">demo</p>
                    </div>
                    <div class="col-span-2 m-auto">
                        <v-icon name="search" class="text-pink-darken"/>
                    </div>
                </div>
                <div class="grid grid-cols-12 border-b-2 border-grey-light py-3">
                    <div class="col-span-2 m-auto">
                        <v-icon name="search" class=" text-pink-darken"/>
                    </div>
                    <div class="col-span-8">
                        <p class="text-lg text-pink-darken">demo</p>
                    </div>
                    <div class="col-span-2 m-auto">
                        <img class="" src="/images/icons/play-video.svg">
                    </div>
                </div>
            </div>
            <div class="text-center p-5">
                <button class="p-2 cursor-pointer text-base bg-pink-stronger text-white inline-flex items-center justify-center rounded-full"><img class="w-3" src="/images/icons/lessthan.svg"/>Clear my search history<img class="w-3" src="/images/icons/greaterthan.svg"/></button>
            </div>
        </div>
    </store-front-layout>
</template>

<script>
    import StoreFrontLayout from '@/Layouts/StoreFrontLayout'
    export default {
        components: {
            StoreFrontLayout
        },
        
        props: ['meta', 'page'],
        watch: {
            meta: {
                immediate: true,
                handler(meta) {
                    document.title=meta.title + ' - ' + this.$page.appName
                }
            }
        },
        data(){
            return{
               
            }
        },
        methods:{
            
        }
    }
</script>
<style scoped>
</style>