<template>
    <membership-layout>
        <div class="container bg-pink-soft">
            <div class="border-b border-pink-darken p-10">
                <div class="rounded-tr-8xl border-4 border-pink-darken p-5 mb-10">
                    <p class="break-words text-lg text-pink-darken pb-5">{{ trans.get('__JSON__.送貨地址') }} 1: <span>xxxxxxxxx</span></p>
                    <p class="break-words text-lg text-pink-darken">{{ trans.get('__JSON__.收件人') }}: <span>xxxxxxxxx</span></p>
                    <p class="break-words text-lg text-pink-darken">{{ trans.get('__JSON__.聯絡電話') }}: <span>xxxxxxx</span></p>
                    <p class="break-words text-lg text-pink-darken">{{ trans.get('__JSON__.地址') }}: <span>xxxxxx</span></p> 
                    <div class="text-right">
                        <button class="bg-pink-stronger text-white text-base py-2 px-5 rounded-full inline-flex items-center"><img class="" src="/images/icons/lessthan.svg"/><p class="mx-1">{{ trans.get('__JSON__.移除') }}</p><img class="" src="/images/icons/greaterthan.svg"/></button>
                    </div>
                </div>
                <div class="rounded-tr-8xl border-4 border-pink-darken p-5 mb-10">
                    <p class="break-words text-lg text-pink-darken pb-5">{{ trans.get('__JSON__.送貨地址') }} 1: <span>xxxxxxxxx</span></p>
                    <p class="break-words text-lg text-pink-darken">{{ trans.get('__JSON__.收件人') }}: <span>xxxxxxxxx</span></p>
                    <p class="break-words text-lg text-pink-darken">{{ trans.get('__JSON__.聯絡電話') }}: <span>xxxxxxx</span></p>
                    <p class="break-words text-lg text-pink-darken">{{ trans.get('__JSON__.地址') }}: <span>xxxxxx</span></p> 
                    <div class="text-right">
                        <button class="bg-pink-stronger text-white text-base py-2 px-5 rounded-full inline-flex items-center"><img class="" src="/images/icons/lessthan.svg"/><p class="mx-1">{{ trans.get('__JSON__.移除') }}</p><img class="" src="/images/icons/greaterthan.svg"/></button>
                    </div>
                </div>
                <div class="rounded-tr-8xl border-4 border-pink-darken p-5 mb-10">
                    <p class="break-words text-lg text-pink-darken pb-5">{{ trans.get('__JSON__.送貨地址') }} 1: <span>xxxxxxxxx</span></p>
                    <p class="break-words text-lg text-pink-darken">{{ trans.get('__JSON__.收件人') }}: <span>xxxxxxxxx</span></p>
                    <p class="break-words text-lg text-pink-darken">{{ trans.get('__JSON__.聯絡電話') }}: <span>xxxxxxx</span></p>
                    <p class="break-words text-lg text-pink-darken">{{ trans.get('__JSON__.地址') }}: <span>xxxxxx</span></p> 
                    <div class="text-right">
                        <button class="bg-pink-stronger text-white text-base py-2 px-5 rounded-full inline-flex items-center"><img class="" src="/images/icons/lessthan.svg"/><p class="mx-1">{{ trans.get('__JSON__.移除') }}</p><img class="" src="/images/icons/greaterthan.svg"/></button>
                    </div>
                </div>
                <div class="rounded-tr-8xl border-4 border-pink-darken p-5 mb-10">
                    <p class="break-words text-lg text-pink-darken pb-5">{{ trans.get('__JSON__.送貨地址') }} 1: <span>xxxxxxxxx</span></p>
                    <p class="break-words text-lg text-pink-darken">{{ trans.get('__JSON__.收件人') }}: <span>xxxxxxxxx</span></p>
                    <p class="break-words text-lg text-pink-darken">{{ trans.get('__JSON__.聯絡電話') }}: <span>xxxxxxx</span></p>
                    <p class="break-words text-lg text-pink-darken">{{ trans.get('__JSON__.地址') }}: <span>xxxxxx</span></p> 
                    <div class="text-right">
                        <button class="bg-pink-stronger text-white text-base py-2 px-5 rounded-full inline-flex items-center"><img class="" src="/images/icons/lessthan.svg"/><p class="mx-1">{{ trans.get('__JSON__.移除') }}</p><img class="" src="/images/icons/greaterthan.svg"/></button>
                    </div>
                </div>
            </div>

            <div class="text-left w-5/12 border-b border-pink-darken"></div>

            <div class="p-10">
                <p class="text-xl text-pink-darken pb-5">{{ trans.get('__JSON__.新增送貨地址') }}</p>
                <div class="grid grid-cols-12 gap-2 py-4">
                    <div class="sm:col-span-3 col-span-12">
                        <p class="text-lg text-pink-darken">{{ trans.get('__JSON__.收件人') }}:</p>
                    </div>
                    <div class="sm:col-span-9 col-span-12 text-center">
                        <input type="text" name="recipient" placeholder="" class="w-full rounded border-pink-darken"/>
                    </div>
                </div>
                <div class="grid grid-cols-12 gap-2 py-4">
                    <div class="sm:col-span-3 col-span-12">
                        <p class="text-lg text-pink-darken">{{ trans.get('__JSON__.聯絡電話') }}:</p>
                    </div>
                    <div class="sm:col-span-9 col-span-12 text-center">
                        <input type="text" name="contact-number" placeholder="" class="w-full rounded border-pink-darken"/>
                    </div>
                </div>
                <div class="grid grid-cols-12 gap-2 py-4">
                    <div class="sm:col-span-3 col-span-12">
                        <p class="text-lg text-pink-darken">{{ trans.get('__JSON__.室及樓層') }}:</p>
                    </div>
                    <div class="sm:col-span-9 col-span-12 text-center">
                        <input type="text" name="room-and-floor" placeholder="" class="w-full rounded border-pink-darken"/>
                    </div>
                </div>
                <div class="grid grid-cols-12 gap-2 py-4">
                <div class="sm:col-span-3 col-span-12">
                        <p class="text-lg text-pink-darken">{{ trans.get('__JSON__.大廈及街道') }}:</p>
                    </div>
                    <div class="sm:col-span-9 col-span-12 text-center">
                        <input type="text" name="building-and-street" placeholder="" class="w-full rounded border-pink-darken"/>
                    </div>
                </div>
                <div class="grid grid-cols-12 gap-2 py-4">
                    <div class="sm:col-span-3 col-span-12">
                        <p class="text-lg text-pink-darken">{{ trans.get('__JSON__.地區') }} :</p>
                    </div>
                    <div class="sm:col-span-9 col-span-12">
                        <div class="grid grid-cols-12 gap-2">
                            <div class="sm:col-span-6 col-span-12">
                                <input type="text" name="distict" v-bind:placeholder="trans.get('__JSON__.地區')" class="w-full rounded border-pink-darken"/>
                            </div>
                            <div class="sm:col-span-6 col-span-12">
                                <input type="text" name="zip-code" v-bind:placeholder="trans.get('__JSON__.香港/九龍/新界')" class="w-full rounded border-pink-darken"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-right py-5">
                    <inertia-link :href="route('storefront.home')">
                        <button class="bg-pink-stronger text-white text-base py-2 px-5 rounded-full inline-flex items-center"><img class="" src="/images/icons/lessthan.svg"/><p class="mx-1">{{ trans.get('__JSON__.新增') }}</p><img class="" src="/images/icons/greaterthan.svg"/></button>
                    </inertia-link>
                </div>
            </div>
        </div>
    </membership-layout>
</template>

<script>
    import MembershipLayout from '@/Layouts/MembershipLayout';
    export default {
        components: {
            MembershipLayout
        },
        
        props: ['meta', 'page'],
        watch: {
            meta: {
                immediate: true,
                handler(meta) {
                    document.title=meta.title + ' - ' + this.$page.appName
                }
            }
        },
        data(){
            return{
               
            }
        },
        methods:{
            
        }
    }
</script>
<style scoped>
</style>