<template>
    <membership-layout>
        <div class="container bg-pink-soft p-10">
            <p class="text-pink-darken sm:text-3xl text-2xl font-medium pb-10">{{ trans.get('__JSON__.您的會員級別') }}: {{ trans.get('__JSON__.普通會員') }}</p>
            <div class="grid grid-cols-12 sm:pb-28 pb-5 w-87">
                <div class="lg:col-span-12 col-span-11 vip-progress-slide">
                    <vip-progress-slider :min="0" :max="500" :amount="amount"></vip-progress-slider>
                </div>
            </div>
            <div class="block sm:hidden w-full bg-pink-stronger rounded text-white text-sm font-medium mt-1 mb-12 p-2">
                {{ trans.get('__JSON__.還差')+' '+(500 - amount)+' '+ trans.get('__JSON__.積分，即可以成為VVIP啦') }}
            </div>
            <div class="grid grid-cols-14">
                <div class="sm:col-span-4 lg:col-span-3 col-span-14 bg-pink-stronger rounded-lg  flex justify-center items-center">
                    <div class="p-5 text-center">
                        <p class="text-white font-medium sm:text-xl text:lg">{{ trans.get('__JSON__.最少有一次購物體驗') }}</p>
                        <span class="text-white font-medium sm:text-xl text:lg">({{ trans.get('__JSON__.每兩個月計算') }})</span>
                    </div>
                </div>
                <div class="sm:col-span-1 col-span-14 m-auto">
                    <span class="text-pink-darken sm:text-5xl text-4xl font-semibold">+</span>
                </div>
                <div class="sm:col-span-4 lg:col-span-3 col-span-14 bg-pink-stronger text-center rounded-lg flex justify-center items-center">
                    <p class="text-white p-5 font-medium sm:text-xl text:lg">{{ trans.get('__JSON__.高達80%收貨評論量') }}</p>
                </div>
                <div class="sm:col-span-1 col-span-14 m-auto">
                    <span class="text-pink-darken sm:text-5xl text-4xl font-semibold">+</span>
                </div>
                <div class="sm:col-span-4 lg:col-span-3 col-span-14 bg-pink-stronger text-center rounded-lg flex justify-center items-center">
                    <p class="text-white p-5 font-medium sm:text-xl text:lg">{{ trans.get('__JSON__.過往12個月累積消費滿HK$3000') }}</p>
                </div>
                <div class="lg:col-span-1 col-span-14 m-auto">
                    <span class="text-pink-darken sm:text-5xl text-4xl font-semibold">=</span>
                </div>
                <div class="lg:col-span-2 col-span-14 sm:px-30 lg:px-2 px-16">
                    <img src ="/images/icons/crown.svg" class ="m-auto h-full">
                </div>
            </div>

            <div class="pt-10">
                <p class="sm:pb-0 pb-2 sm:text-4xl text-3xl font-medium text-center lg:w-2/6 w-full mx-auto border-b border-pink-darken text-pink-darken lg:py-4">{{ trans.get('__JSON__.成為VVIP專享') }}</p>
            </div>
            <div class="border-b border-pink-darken">
                <p class="text-pink-darken"></p>
            </div>
            <div class="grid lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 sm:gap-10 gap-5 p-10">
                <div class="p-5">
                    <img class="rounded-full" src="/images/icons/vip_exc_1.svg"/>
                    <p class="font-medium text-center text-purple-light text-xl sm:pt-1 pt-2">{{ trans.get('__JSON__.獲優先搶購權') }}</p>
                </div>
                <div class="p-5">
                    <img class="rounded-full" src="/images/icons/vip_exc_2.svg"/>
                    <p class="font-medium text-center text-purple-light text-xl sm:pt-1 pt-2">{{ trans.get('__JSON__.更高購物折扣') }}</p>
                </div>
                <div class="p-5">
                    <img class="rounded-full" src="/images/icons/vip_exc_3.svg"/>
                    <p class="font-medium text-center text-purple-light text-xl sm:pt-1 pt-2">{{ trans.get('__JSON__.享更多私房錢') }}</p>
                </div>
                <div class="p-5">
                    <img class="rounded-full" src="/images/icons/vip_exc_4.svg"/>
                    <p class="font-medium text-center text-purple-light text-xl sm:pt-1 pt-2">{{ trans.get('__JSON__.升級運費優惠') }}</p>
                </div>
                <div class="p-5">
                    <img class="rounded-full" src="/images/icons/vip_exc_5.svg"/>
                    <p class="font-medium text-center text-purple-light text-xl sm:pt-1 pt-2">{{ trans.get('__JSON__.升級禮物包裝') }}</p>
                </div>
                <div class="p-5">
                    <img class="rounded-full" src="/images/icons/vip_exc_6.svg"/>
                    <p class="font-medium text-center text-purple-light text-xl sm:pt-1 pt-2">{{ trans.get('__JSON__.額外九折優惠') }}</p>
                </div>
                <div class="lg:block hidden p-5">
                </div>
                <div class="p-5">
                    <img class="rounded-full" src="/images/icons/vip_exc_7.svg"/>
                    <p class="font-medium text-center text-purple-light text-xl sm:pt-1 pt-2">{{ trans.get('__JSON__.可獲驚喜禮物') }}</p>
                </div>
            </div>
            <div class="">
                <p class="font-medium text-3xl text-center w-2/6  mx-auto border-b border-pink-darken"></p>
            </div>
            <div class="border-b border-pink-darken">
                <p class="text-pink-darken "></p>
            </div>
            <div class="lg:py-10 py-5">
                <p class="font-medium sm:text-3xl text-2xl text-center mx-auto text-pink-darken">{{ trans.get('__JSON__.您的會員級別') }}: {{ trans.get('__JSON__.普通會員') }}</p>
            </div>
            <div class="md:px-10 px-0">
                <div class="grid sm:grid-cols-3 grid-cols-1 gap-5 py-5 bg-pink-softstrong my-5">
                    <div class="col-span-1 sm:border-r-4 border-r-0 border-white text-center relative sm:table h-full">
                        <div class="sm:table-cell sm:align-middle">
                            <img class="h-4/5 mx-auto w-7/12" src="/images/icons/vip_exc_tick.svg"/>
                        </div>
                    </div>
                    <div class="sm:col-span-2 col-span-1 sm:px-0 px-5 sm:table h-full">
                        <div class="sm:table-cell sm:align-middle sm:pr-2">
                            <p class="font-medium text-pink-darken text-lg">{{ trans.get('__JSON__.您已累積的訂單數目') }}:</p>
                            <p class="font-medium text-pink-darken text-xl pb-2">2/3</p>
                            <p class="font-medium text-pink-darken text-lg">{{ trans.get('__JSON__.截至今日已累積的私房錢總額為') }}:</p>
                            <p class="font-medium text-pink-darken text-xl">$1,5000.00</p>
                        </div>
                    </div>
                </div>
                <div class="grid sm:grid-cols-3 grid-cols-1 gap-5 py-5 bg-pink-softstrong my-5">
                    <div class="col-span-1 sm:border-r-4 border-r-0 border-white text-center relative sm:table h-full">
                        <div class="sm:table-cell sm:align-middle">
                            <img class="h-4/5 mx-auto w-7/12" src="/images/icons/vip_exc_tick.svg"/>
                        </div>
                    </div>
                    <div class="sm:col-span-2 col-span-1 sm:px-0 px-5 sm:table h-full">
                        <div class="sm:table-cell sm:align-middle sm:pr-2">
                            <p class="font-medium text-pink-darken text-lg">{{ trans.get('__JSON__.您的訂單所累積私房錢為') }}:</p>
                            <p class="font-medium text-pink-darken text-xl">$1,5000.00</p>
                            <p class="font-medium text-pink-darken text-lg">{{ trans.get('__JSON__.有限期為三個月，以最後一次訂單為準') }}</p>
                        </div>
                     </div>
                </div>
                <div class="grid sm:grid-cols-3 grid-cols-1 gap-5 py-5 bg-pink-softstrong my-5">
                    <div class="col-span-1 sm:border-r-4 border-r-0 border-white text-center relative sm:table h-full">
                        <div class="sm:table-cell sm:align-middle">
                            <img class="h-4/5 mx-auto w-7/12" src="/images/icons/vip_exc_tick.svg"/>
                        </div>
                    </div>
                    <div class="sm:col-span-2 col-span-1 sm:px-0 px-5 sm:table h-full">
                        <div class="sm:table-cell sm:align-middle sm:pr-2">
                            <p class="font-medium text-pink-darken text-lg">{{ trans.get('__JSON__.您分享網站所累積的私房錢為') }}:</p>
                            <p class="font-medium text-pink-darken text-xl">$1,500</p>
                            <p class="font-medium text-pink-darken text-lg">{{ trans.get('__JSON__.有限期為三個月，以最後一次分享為準') }}</p>
                        </div>
                    </div>
                </div>
                <div class="grid sm:grid-cols-3 grid-cols-1 gap-5 py-5 bg-pink-softstrong my-5">
                    <div class="col-span-1 sm:border-r-4 border-r-0 border-white text-center relative sm:table h-full">
                        <div class="sm:table-cell sm:align-middle">
                            <img class="h-4/5 mx-auto w-7/12" src="/images/icons/vip_exc_tick.svg"/>
                        </div>
                    </div>
                    <div class="sm:col-span-2 col-span-1 sm:px-0 px-5 sm:table h-full">
                        <div class="sm:table-cell sm:align-middle sm:pr-2">
                            <p class="font-medium text-pink-darken text-lg">{{ trans.get('__JSON__.您的商品評論所累積的私房錢為') }}:</p>
                            <p class="font-medium text-pink-darken text-xl">$12,000</p>
                            <p class="font-medium text-pink-darken text-lg">{{ trans.get('__JSON__.有限期為三個月，以最後一次評論為準') }}</p>
                        </div>
                    </div>
                </div>
                <div class="text-center py-5">
                    <inertia-link :href="route('storefront.home')">
                        <button class="rounded bg-pink-stronger py-2 px-5 text-white">{{ trans.get('__JSON__.立即行動') }}</button>
                    </inertia-link>
                </div>
                <div class="text-center pt-5 pb-10">
                    <p class="font-medium sm:text-2xl text-xl text-center text-pink-darken">{{ trans.get('__JSON__.選購更多心水貨品成為VVIP，專享更多優惠！') }}</p>
                </div>
                <div class="pt-10 sm:block hidden">
                    <p class="font-medium bg-pink-stronger text-white text-2xl rounded-tr-full px-3 py-2 pr-12">{{ trans.get('__JSON__.私房錢/積分使用記錄') }}</p>
                    <div class="overflow-auto"><table class=" bg-pink-softstrong w-full text-pink-darken ">
                        <thead class="text-left border-b-1 border-gray-400 border-solid border-black">
                            <tr class="">
                                <th class="p-4">{{ trans.get('__JSON__.日期') }}</th>
                                <th>{{ trans.get('__JSON__.帳單編號') }}</th>
                                <th>{{ trans.get('__JSON__.兌換金額') }}</th>
                                <th>{{ trans.get('__JSON__.兌換禮品') }}</th>
                                <th>{{ trans.get('__JSON__.詳細資料') }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="p-3">xxxxxxxxxxxxxxxx</td>
                                <td>xxxxxxx</td>
                                <td>xxxxxxx</td>
                                <td>xxxxxxx</td>
                                <td>xxxxxxx</td>
                            </tr>
                            <tr>
                                <td class="p-3">xxxxxxxxxxxx</td>
                                <td>xxxxxxx</td>
                                <td>xxxxxxx</td>
                                <td>xxxxxxx</td>
                                <td>xxxxxxx</td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </membership-layout>
</template>
<script>
    import MembershipLayout from '@/Layouts/MembershipLayout';
    import VipProgressSlider from '@/StoreTemplates/VipProgressSlider';
    export default {
        name: 'user-cart',
        components: {
            MembershipLayout,
            VipProgressSlider
        },
        
        props: ['meta', 'page'],
        watch: {
            meta: {
                immediate: true,
                handler(meta) {
                    document.title=meta.title + ' - ' + this.$page.appName
                }
            }
        },
        data(){
            return{
                amount:300,
               value: 0
            }
        },
        methods:{
            
        }
    }
</script>
<style scoped>
</style>